---
title: Factoring Portfolio Management Services & Sub-Servicing
description: Gateway Commercial Finance provides a complete suite of back-office functions for banks, factoring companies and asset-based lenders.
canonical: https://gatewaycfs.com/services/portfolio-managemnt
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/logos/gateway.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green 1-855-424-2955
        %span.button.outline-green=link_to 'CONTACT US', '/company/contact'
      %nav
        %ul
          %li=link_to 'Invoice Factoring', '/invoice-factoring/how-it-works'
          %li=link_to 'Industries We Serve', '/industries/'
          %li.selected
            =link_to 'Our Company', '/company/'
            %ul.submenu
              %li=link_to 'About Gateway', '/company/'
              %li=link_to 'Factoring services', '/services/accounts-receivable-factoring'
              %li=link_to 'Brokers & partners', '/company/factoring-brokers'
              %li=link_to 'Locations we serve', '/locations/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works'
              %ul.submenu
                %li=link_to 'How it works', '/invoice-factoring/how-it-works'
                %li=link_to 'How much it costs', '/invoice-factoring/cost-fees-rates'
                %li=link_to 'Do you Qualify?', '/invoice-factoring/requirements'
            %li=link_to 'Industries we serve', '/industries/'
            %li=link_to 'Our Company', '/company/'
        .phone 1-855-424-2955
        %button.outline=link_to 'CONTACT US', '/company/contact'
    %article.container-right
      .block
        %hgroup
          %h1 Portfolio Management Services & Sub-Servicing
          %h3 Specialty servicing branch for the asset-based lending, banking and factoring markets
        %p When you’re in the business of lending, relationships are  everything. As hard as it may be to secure a new relationship, it can sometimes  be even harder to retain one. Sometimes a longtime and loyal client just  doesn’t fit your lending profile. Or a prospect may be attractive in the  long-term, but doesn’t meet your lending standards today.
        %p Telling a prospect or client that they don’t qualify for a  loan is a shared dilemma. They can’t get the cash flow support they need. And  you are unable to assist them and ultimately grow the relationship.
        %p.highlighted It doesn’t have to be this way. Whether you’re an  asset-based lender, a factor, or even an entrepreneurial bank, you can add a suite  of funding options that allow you to help clients who may not be right for your  traditional products. And you don’t even need to invest in employees or  infrastructure to do it.
        %p Gateway Commercial Finance provides a complete suite of  back-office functions for banks, factoring companies and asset-based lenders.  As your servicing partner, Gateway offers:
        %ul.steps
          %li
            %strong Seasoned  Management & Operations Team.
            For more than 19 years, we have helped  businesses of all sizes resolve their cash flow challenges through factoring.  We stand ready to help your clients with their needs.
          %li
            %strong Proven Policies  & Effective Procedures.
            Over time, we've refined our policies and  procedures to produce a highly effective portfolio and credit management  system. You can leverage our knowledge without having create infrastructure or  build your own policies and procedures.
          %li
            %strong Common  Interests.
            We recognize that when we’re successful when you’re successful.  We'll never lose sight of this simple principle, and we will always treat your  clients as if they’re our own.
        %h2 Introducing Sentinel Portfolio Solutions
        %a{:href => "https://www.sentinelps.com"}
        %img{:alt => "portfolio management services", :src => "https://cdn.gatewaycfs.com/pages/Commercial_Partners.jpg"}/
        %p Sentinel  Portfolio Services is Gateway’s backend portfolio servicing  solution. Sentinel works with a wide range of asset-based lenders, banks, and  factors to provide high-quality back-office service and support.
        %p We know how challenging it can be to build a healthy and  profitable factoring portfolio. We offer a wide range of services to help you  with the actual day-to-day management of your factoring business. That allows  you to focus on what you do best - serving your clients.
        %h3 Transactional Engagement & Special Services
        %p We offer a number of services that can relieve your team’s  workload and can make sure your customers are getting the right level of  service. We can bring strategically focused resources to your most urgent  projects, either on a temporary or permanent basis.
        %p
          %strong High Workload  Boarding
        %p We can lead or  assist with large new account take-on’s regardless of the amount of debtors in  multiple roles:
        %ul.steps
          %li Debtor Credit Investigation
          %li Noticing Account Debtors
          %li Boarding Verifications
          %li Underwriting
        %p
          %strong Debtor Notification
        %p We provide debtor  Notification/Re-Notification services ensuring the proper debtors are under  notice and have the information they need to make remittance to your desired  location:
        %ul.steps
          %li SOS Debtor Confirmation
          %li Purchase Order / Contract & Remittance Review
          %li Independent Address & Debtor Contact Verification
          %li Debtor Acknowledgement
          %li Eliminating Payment over Notice
        %p
          %strong Third Party  Verification
        %p We can provide  independent verification services ensuring compliance with your internal  verification policies are being met.
        %ul.steps
          %li Verbal & Recorded
          %li Written
          %li Debtor Statements
        %h3 Knowledge  Process Outsourcing
        %p We have spent nearly two decades acquiring experience and  knowledge in the factoring industry. Through our sub-servicing solutions, we  give you the opportunity to tap into that knowledge and apply it to your  business from day one.
        %p This is a level of knowledge and resources that is generally  only available to the largest financial institutions. By partnering with  Sentinel, you can leverage our experience to strengthen your factoring  portfolio.
        %p
          %strong Underwriting Review
        %p What are the weaknesses in your underwriting process?  Sentinel Portfolio Solutions has a customized suite of underwriting parameters  to help our clients perform an objective analysis of their own underwriting.
        %p Our  underwriting analysis can be combined with a simple file review or financial  & debtor analytics and tailored to meet specific goals and objectives.
        %p
          %strong Process and Operations Review
        %p Are your  operational processes as efficient and effective as they could be? We offer a  customized suite of operational review standards to help you objectively  analyze your systems. Use our best practice methodologies to enhance your  portfolio’s stability and security.
        %p
          %strong Workout/Default Support
        %p During workout  or default, quick and consistent communication is critical to preserving  collateral. We can rollout a rapid communication system to the debtor to keep  your collateral intact and minimize any possible losses.
        %h3 Underwriting  Support Services
        %p No two  companies have the same appetite for risk. We know this better than anyone  because we’ve been evaluating risk for more than 20 years. That’s why we help  you maintain a comprehensive, 360-degree view of your risk profile, which could  mean all the difference between profit and loss.
        %p We offer a  complete underwriting solution that you can implement at the time of  origination, at workout, or at any point in between. Our experienced  underwriters, due diligence professionals, and operations personnel, coupled  with our industry-leading technological platform, provide you with detailed  insight so you can quickly identify risk and opportunity in your portfolio.
        %h2 Who  Does Sentinel Serve?
        %p Wondering  whether you’re a good fit to partner with Sentinel Portfolio Solutions? We work  with a wide range of businesses who all have one thing in common: they want to  provide their clients with alternative funding solutions We commonly work with  community banks, asset based lenders, and factoring providers.
        %h3 Community  Banks
        %p As specialists in the areas of collateral  lending, we’re able to take a unique approach to a borrower’s needs, creating  greater opportunities for our clients. By partnering with Sentinel Portfolio  Solutions you’ll have the confidence of knowing that a team of experienced  professionals is diligently watching out for your institution’s best interests.
        %p Sentinel offers banks a comprehensive suite of tools and  practical experience designed to monitor accounts receivables and inventory  without the high costs of establishing infrastructure.
        %ul.steps
          %li Collateral Verifications
          %li Aging Reviews
          %li Payable Reviews
          %li Contra Identification
          %li Remittance Testing
          %li Dilution
          %li Inventory Tests
          %li Ineligible Calculations
          %li Borrowing Base Testing
          %li Default & Workout  Support
        %h3 Factoring Companies
        %p
          %strong Entrepreneurial  Services
        %p
          %em Designed  for factors with less than $10MM outstanding
        %p Our Entrepreneurial services are designed to support  small factors with critical day-to-day functions including:
        %ul.steps
          %li Debtor Notification
          %li Debtor Verification
          %li Debtor Monitoring & Collections
          %li Due Diligence Support
          %li Credit & Underwriting Support Services
          %li Portfolio Software & Data Entry
          %li Cash Posting
          %li Lender BBC Generation
          %li Daily GL Creation & Support
        %p
          %strong Middle Market Service
        %p
          %em Designed  for factors with greater than $10MM outstanding
        %p Our Middle Market services are designed to assist  established operations departments with high workload occasions (boarding,  compliance, default, etc.) and the creation or fine-tuning of internal policies  and procedures.
        %ul.steps
          %li High Workload Client Support
          %li Verifications & Audit Support
          %li Operational Policy Creation & Support Services
          %li Default & Workout Support
          %li Compliance Support
        %p
          %strong Institutional Focus
        %p Our institutional services are designed to provide  independent third party oversight.
        %ul.steps
          %li Collateral Testing
          %li Policy Review & Compliance
          %li Operational Compliance
        %h3 Asset  Based Lenders
        %p We provide  comprehensive accounts receivable and inventory collateral evaluation and  monitoring services specifically tailored for the lender who needs additional  support without creating the complicated infrastructure.
        %p Sentinel Portfolio  Solutions provides back office support services at the direction of our clients  in a wide variety of capacities.
        %ul.steps
          %li Collateral Verification & Testing
          %li Invoice Audits
          %li Borrowing Base Testing
          %li A/R Monitoring & Collections Support
          %li Debtor Notification
          %li Workout Support
        %p Are you ready to  bring decades of experience, knowledge, and structural efficiencies to your  financial institution? Want to add a new funding option for your customers and  clients? Let’s start the conversation and discuss your goals and needs. We  welcome the opportunity to help you create, maintain, and grow a factoring  portfolio that serves your clients and meets your objectives. Contact us today  to get started.


%section.bottom.bg-darkblue
  .container
    .block25
      %p More Links...
      %ul
        %li=link_to 'Financial Management Program', '/bff/m/business-financial-fitness-program'
        %li=link_to 'Finance & Factoring Blog', '/bff/recent_posts'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block25
      %p More Links...
      %ul
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}/
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic2.png", :title => "NFIB"}/
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}/
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}/
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}/      
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies'
        %li=link_to 'Sitemap', '/sitemap'
        %li=link_to 'Library', '/library/'
