---
title: PPE Purchase Order Financing and PPE Funding | Fast Service
description: We offer financing for manufacturers and distributors of Personal Protective Equipment (PPE) including trade funding, PPE P.O. Finance and Receivables Funding.
canonical: https://gatewaycfs.com/services/ppe-purchase-order-financing/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li=link_to 'Industries We Serve', '/industries/'
          %li.selected
            =link_to 'Our Company', '/company/'
            %ul.submenu
              %li=link_to 'About Gateway', '/company/'
              %li=link_to 'P.O. Financing', '/services/purchase-order-financing/'
              %li=link_to 'Invoice Factoring', '/invoice-factoring/how-it-works/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Factoring Invoices', '/invoice-factoring/how-it-works/'
              %ul.submenu
                %li=link_to 'Receivable factoring', '/services/accounts-receivable-factoring/'
                %li=link_to 'How to choose a factoring company', '/invoice-factoring/pick-a-company/'
                %li=link_to 'Selling account receivables', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
            %li=link_to 'Factoring for Small Businesses', '/bff/ob/invoice-factoring-small-business'
        %button.outline=link_to 'FACTORING QUOTE', '/invoice-factoring/quote/'
    %article.container-right
      .block
        %hgroup
          %h1 Personal Protective Equipment (PPE) P.O. Financing and Funding
        %p Due to the global impact of  Covid-19, Personal Protection Equipment (PPE) which partially includes gloves,  masks, gowns, and sanitizers is in critical demand worldwide. Governmental agencies, hospitals, and long-term care facilities are receiving priority for these scarce resources.
        %img.float-right{:alt => "personal protective equipment ppe financing and funding", :src => "https://cdn.gatewaycfs.com/new/optimized/ppe-financing-and-funding.jpg"}/
        %p.highlighted
          Gateway Commercial Finance has developed
          %strong Special PPE Funding Solutions
          to eligible manufacturers and distributors of Personal Protective Equipment products. These Special Funding Solutions may include Trade Funding, PPE Purchase Order Finance and Receivables Funding or a combination of services to support product/delivery fulfillment.
        %h2
        %h2 How do PPE Financing and PPE Factoring Work
        %p.highlighted We can support businesses through PPE Letters of Credit, Vendor Guarantees, or wire transfer upon delivery and inspection of goods at a U.S. port of entry (via ocean or air freight). In special circumstances, we may consider providing down payment to well-qualified third-party suppliers.
        %ul
          %li PPE Funding from $250K to $5MM;
          %li New account set-up as fast as 4 business days*;
          %li Transactional/On-going Fulfilment funding;
        %p *assumes no current lending relationship
        %h2 How to Qualify for PPE Funding
        %p Eligible candidates must demonstrate the following:
        %ol
          %li Experience in medical supply manufacturing/distribution;
          %li Creditworthy end-buyers;
          %li History of supply chain management (domestic/international);
          %li Manufacturers/Suppliers must have appropriate FDA or similar product credentialing which can be verified;
          %li Third-party inspection required;
        %p
          Most clients utilizing
          %strong Special PPE Funding Solutions
          experience challenges meeting supplier’s payment terms (often substantial deposits or full payment upon shipment/delivery). Our tailored solutions are designed to get the orders into production with timely delivery to end-users. 
        %br/
        %p
          %strong For additional information or to apply for our PPE Financing Program please call 1-855-424-2955. Our managing director will take care of your needs right away.

%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Commercial Factoring', '/'
        %li=link_to 'Finance & Factoring Blog', '/bff/recent_posts'

    .block25
      %p Resources
      %ul
        %li=link_to 'Financial Management Lessons', '/bff/m/business-financial-fitness-program'
        %li=link_to 'Financing receivables', '/bff/financing-receivables'

    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2020 - All rights reserved
    %nav
      %ul
        %li=link_to 'Privacy Policy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
%script{:type => "application/ld+json"}
  :cdata
    { "@context": "http://schema.org",
    "@type": "Article",
    "name" : "Personal Protection Equipment Financing",
    "headline" : "PPE Financing & Funding Options",
    "image": [
    "https://cdn.gatewaycfs.com/new/optimized/ppe-financing-and-funding.jpg",
    ],
    "author" : {
    "@type" : "Person",
    "name" : "Marc J Marin",
    "url": "https://gatewaycfs.com/company/marc-marin/"
    },
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://gatewaycfs.com/services/ppe-purchase-order-financing/"
    },
    "genre": "business financing",
    "publisher" : {
    "@type" : "Organization",
    "name" : "Gateway Commercial Finance, LLC",
    "logo": {
    "@type": "ImageObject",
    "url": "https://cdn.gatewaycfs.com/new/gatewaylogo.png"
    }
    },
    "url": "https://gatewaycfs.com/services/ppe-purchase-order-financing/",
    "datePublished": "2020-19-05",
    "dateCreated": "2020-19-05",
    "dateModified": "2020-19-05",
    "description": "Learn how manufacturers and distributors can finance purchase orders for personal protective equipment (PPE). Includes qualifications requirements, terms and more. "
    }
%script{:type => "application/ld+json"}
  :cdata
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
    {
    "@type": "ListItem",
    "position": 1,
    "item":
    {
    "@id": "https://gatewaycfs.com",
    "name": "Gateway Commercial Finance"
    }
    },
    {
    "@type": "ListItem",
    "position": 2,
    "item":
    {
    "@id": "https://gatewaycfs.com/services/accounts-receivable-factoring/",
    "name": "Factoring Services"
    }
    },
    {
    "@type": "ListItem",
    "position": 3,
    "item":
    {
    "@id": "https://gatewaycfs.com/services/ppe-purchase-order-financing/",
    "name": "PPE Financing"
    }
    }
    ]
    }
