* {box-sizing: border-box;}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container{
  display: flex;
  align-items: flex-stretch;
  .container-left{
    flex-basis:40%;
  }
  .container-right{
    flex-basis:60%;
  }
}
.block-left, .block-right{
  width:50%;
  padding: 10px;
}
.block-left{
  float: left;
  text-align: right;
}
.block-right{
  float: right;
  text-align: left;
}