* {box-sizing: border-box;}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 960px) and (max-width: 1199px){
    width: 960px;
  }
}
.flex-container{
  display: flex;
  align-items: flex-stretch;
  .container-left{
    flex-basis:40%;
  }
  .container-right{
    flex-basis:60%;
  }
}
.block-left, .block-right{
  width:50%;
  padding: 10px;
}
.block-left{
  float: left;
  text-align: right;
}
.block-right{
  float: right;
  text-align: left;
}
.block50{
  float: left;
  width: 50%;
}
.block25{
  float: left;
  width: 25%;
}
.bg-light{
  background-color: $light-gray;
}
.bg-green{
  background-color: $green;
}
.bg-darkblue{
  background-color: $dark-blue;
}
hgroup{
  text-align: center;
}