body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $green;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($green, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
h1{
  font-size: 46px;
  line-height: 56px;
  font-weight: 700;
}
h2{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;
}
h3{
      font-weight: 700;
    font-size: 18px;
}
h4{
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}
h5{
  font-size: 15px;
  font-weight: 400;
}
h6{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
p{
    font-weight: 200;
    padding-bottom: 20px;
  }
@media (min-width: 960px) and (max-width: 1299px){
  h1{
    font-size: 36px;
    line-height: 38px;
  }
  h4{
    font-size: 17px;
  }
}
@media (min-width: 320px) and (max-width: 959px){
  p{
    font-size: 14px;
  }
  h3{
    font-size: 16px;
  }
  body{
    font-size: 14px;
  }
  h1{
    font-size: 24px;
    line-height: 26px;
  }
}
.form-title{
  background-color: $blue;
  color:#fff!important;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;

}