---
title: Industries we serve - Gateway Commercial Finance
description: The scientific theory that populations evolve over the course of generations through a process of natural selection.
canonical: https://gatewaycfs.com/404
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/logos/gateway.png",}/   
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green 1-855-424-2955
        %span.button.outline-green=link_to 'GET STARTED', '../invoice-factoring/quote'
      %nav
        %ul
          %li=link_to 'Invoice Factoring', '../invoice-factoring/how-it-works'
          %li.selected
            =link_to 'Industries We Serve', '../industries/'
            %ul.submenu
              %li=link_to 'What industries use factoring?', '../industries/'
              %li=link_to 'Receivables factoring', '../services/accounts-receivable-factoring'
          %li=link_to 'Our Company', '../company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Invoice Factoring', '#'
              %ul.submenu
                %li=link_to 'How it works', '#'
                %li=link_to 'Receivable Factoring Fees', '../invoice-factoring/cost-fees-rates'
                %li=link_to 'Requirements for Factoring', '../invoice-factoring/requirements'
            %li=link_to 'Our Company', '#'
        %button.outline=link_to 'GET A QUOTE', '../invoice-factoring/quote'
    %article.container-right
      .block.industry-detail
        %div
          %h1 Farmers Factoring
          %div
            %img{:alt => "farmers factoring", :height => "300", :src => "https://cdn.gatewaycfs.com/success/102.jpg", :width => "200"}/
          %h3 Slow Growing Problem
          %p
            When Morgan Stuart, President of Golden Farm Growers needed additional working capital to support production increases and fulfill additional customer orders, they needed a quick solution to keep pace with growth! "We're a three year old grower and just started to show operating profitability. Our banker has always been fair with us, but when we needed a revolving line to support our receivables, he was simply unable to help...thankfully he recommended Gateway. 
            %br/
            "The team at Gateway worked quickly and seven short days later, Gateway was able to provide us with a line of credit on our receivables. I wish my crops grew that fast"!
          %h3 Try Gateway Liquidity Fertilizer
        %h2 Factoring supports your produce growing business
        %p How far will your bank go to support your business? A new business will find that a bank can be helpful in many different areas. For example, banks are invaluable resources when it comes to planning for your company's future. But what happens when your need for operating funding outpaces your new company's cash flow? The chances are that your bank won't be there and you will be stuck looking for answers.
        %p
          %strong What Does It Mean To Outpace Cash Flow?
        %p The idea of outpacing your cash flow can seem a little crazy, right? After all, your invoiced sales are what you use to fund your ongoing operations and sudden growth just means more invoiced sales. So, when thinking about this logically, an increase in cash should mean an increase in cash flow. The problem is that business logic is not quite the same as cut and dry logic. There are flaws you will be forced to confront if you want your business to survive.
        %p The biggest flaw in business logic is the notion that customers always pay their bills on time. If this were true, then no business would ever have cash flow problems. But you will have customers who pay their bills late and that can constrict your cash flow. When you start to see an increase in outstanding receivables that is made up of customers who take time to pay, then your company outpaces its cash flow. It happens all of the time and it can be a huge problem.
        %p
          %strong Can't I Just Call A Bank?
        %p You can call anyone you want when you need business funding, but you may not like the answers that you get. Like we said earlier, banks love to help new companies plan for the future. But when it comes to funding a new company's ongoing operations, then that is when banks tend to get cold feet.
        %p Banks like to see a business history that consists of years of profitability before they start handing out unsecured lines of credit. Since your business is new, you probably will not qualify for bank funding. But don't worry; all is not lost.
        %p
          %strong Farmer Factoring Is Your Answer
        %p You know all of those new invoices you keep accumulating that cause problems for your cash flow? A farmer factoring company will turn those invoices into cash for you and give you the operating cash you need to accommodate your growth. As long as you have outstanding accounts receivable to draw from, then farm factoring is the key to the future success of your company.
        %p Business planning can often get thrown off track by sudden bursts of success. If you find that your company is outpacing its cash flow, then don't call a bank. Instead, take those new invoices you are getting and let a receivables factoring company turn them into the cash you need to meet your newest challenges.

%section.bottom.bg-darkblue
  .container
    .block25
      %p More Links...
      %ul
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block25
      %p More Links...
      %ul
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}/
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic2.png", :title => "NFIB"}/
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}/
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}/
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}/      
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '../privacy-policies'
        %li=link_to 'Sitemap', '../sitemap'
        %li=link_to 'Library', '../library/'
