---
title: Industries we serve - Gateway Commercial Finance
description: The scientific theory that populations evolve over the course of generations through a process of natural selection.
canonical: https://gatewaycfs.com/industries/trucking-factoring
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/logos/gateway.png",}/
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green 1-855-424-2955
        %span.button.outline-green=link_to 'GET STARTED', '../invoice-factoring/quote'
      %nav
        %ul
          %li=link_to 'Invoice Factoring', '../invoice-factoring/how-it-works'
          %li.selected
            =link_to 'Industries We Serve', '../industries/'
            %ul.submenu
              %li=link_to 'What industries use factoring?', '../industries/'
              %li=link_to 'Receivables factoring', '../services/accounts-receivable-factoring'
          %li=link_to 'Our Company', '../company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Invoice Factoring', '#'
              %ul.submenu
                %li=link_to 'How it works', '#'
                %li=link_to 'Receivable Factoring Fees', '../invoice-factoring/cost-fees-rates'
                %li=link_to 'Requirements for Factoring', '../invoice-factoring/requirements'
            %li=link_to 'Our Company', '#'
        %button.outline=link_to 'GET A QUOTE', '../invoice-factoring/quote'
    %article.container-right
      .block.industry-detail
        %div
          %h1 Trucking Factoring
          %div
            %img{:alt => "trucking factoring", :height => "300", :src => "https://cdn.gatewaycfs.com/success/232.jpg", :width => "200"}/
          %h3 Cash Flow Detour
          %p
            Mitchell Trucking has been a family run business since 1989 that specialized as a subcontractor for the U.S. Postal Service. "We had steady route work with the Postal Service for years when we got out bid on a portion of our routes. We could not believe it and had a feeling that the new contractor would be operating on razor thin margins." 
            %br/
            %br/
            Bill Mitchell refused to terminate any of his employees when he lost the USPS contract. "I thought we would quickly pick up new LTL business to fill the gap." After 9 months of attempting to grow the business back, Mitchell Trucking burned through its retained earnings and had negative equity. "We were contacted by the USPS to pick up the routes we had lost when the new contractor simply went out of business. I had a new problem; I did not have sufficient cash to support the payroll and fuel needs of the contract." <strong> Bill's accountant recommended Gateway Commercial Finance to help bridge the cash flow shortfall.</strong> "Within days of our initial introduction, our trucks were back on the road to profitability!"
          %h3 Keeping the Cash Flow Wheels Turning
        %h2 Trucking Factoring is your road to profitability
        %p In the business world, there are a lot of ups and downs that business owners must be prepared for. One of the traps that many small business owners find themselves falling into is getting complacent with large customers and doing nothing to try and prepare for the possibility that they could lose those customers. When they lose those customers, the result is a scramble that could put them out of business.
        %p A struggling business that is trying to recover from any kind of adversity needs financial stability to survive. Losing a large customer does not mean that a company has to go out of business. It just means that the cushion of additional cash that was there from those big checks is gone and now the company cash flow situation has become critically important.
        %p The downward spiral that comes from losing business can create a lot of unintended effects, especially if the cash flow has been affected. A company that is recovering from lost business may start finding it necessary to prioritize its expenses and payroll will start taking priority over paying vendors. It won't take long for late payments to vendors to result in a plummeting credit score that makes it almost impossible for banks to lend the funding you need to get back on your feet.
        %p We have the financial services you need to prevent the downward spiral from happening and stabilize your cash flow. Our business experts will work directly with you to put together a trucking factoring program that will utilize your flow of invoiced sales to keep your business going through the difficult times. We can also help you to streamline your receivables and put together a program you can use to screen new clients which will strengthen your financial position and set you up for future success.
        %p Invoice factoring uses your qualified invoices to create a stable cash flow situation for your business. Instead of relying on those big checks from large customers to see you through until your other customers paid you, we will take those smaller invoices and use them to create a cash situation that will allow you to get through the difficult times and avoid making any changes to your business that you do not want to make, such as laying off the employees that helped you to build your business into a success.
        %p When your business starts to pick up and your expenses increase, our trucking factoring program will use your increase in invoiced sales to give you the cash you need to build your business back to where it was. We will be there when times are difficult and we will also be there when you are ready to get back on top of your industry again. Our trucking factoring services can help you to weather the bad times and then be in the best possible position to enjoy the good times when they come back around.
%section.bottom.bg-darkblue
  .container
    .block25
      %p More Links...
      %ul
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block25
      %p More Links...
      %ul
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliation", :src => "https://cdn.gatewaycfs.com/affiliations/pic1.png", :title => "AFA"}/
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/affiliations/pic2.png", :title => "NFIB"}/
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/affiliations/pic3.png", :title => "D&B"}/
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/affiliations/pic4.png", :title => "IFA"}/
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/affiliations/pic5.png", :title => "ICBA"}/
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies'
        %li=link_to 'Sitemap', '/sitemap'
        %li=link_to 'Library', '/library/'
