---
title: Industries we serve - Gateway Commercial Finance
description: The scientific theory that populations evolve over the course of generations through a process of natural selection.
canonical: https://gatewaycfs.com/locations/
---

%header.internal.navbar-static-top
    .flex-container
        .container-left
            .logo
                =link_to image_tag('logos/gateway.png'), '/'
        .container-right
            .nav-trigger
                =image_tag('icons/nav.svg')
            .contact
                %span.phone.c-green 1-855-424-2955
                %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote'
            %nav
                %ul
                    %li=link_to 'Invoice Factoring', '/invoice-factoring/how-it-works'
                    %li=link_to 'Industries We Serve', '/industries/'
                    %li.selected
                        =link_to 'Our Company', '/company/'
                        %ul.submenu
                            %li=link_to 'Why Gateway?', '/company/'
                            %li=link_to 'Factoring services', '/services/accounts-receivable-factoring'
                            %li=link_to 'Contact Us', '/company/contact'
%section.internal-content
    .flex-container
        %aside.container-left
            .block
                %nav
                    %h3 More about...
                    %ul
                        %li.selected
                            =link_to 'Selling Accounts Receivables', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
                            %ul.submenu
                                %li=link_to 'Invoice factoring process', '/invoice-factoring/how-it-works'
                                %li=link_to 'Typical factoring fees', '/invoice-factoring/cost-fees-rates'
                                %li=link_to 'How to qualify for factoring', '/invoice-factoring/requirements'
                %button.outline=link_to 'GET STARTED', '/invoice-factoring/quote'
        %article.container-right
            .block
                %hgroup
                    %h1 Locations we serve
                    %p We offer factoring services to businesses nationwide.
                .locations-list
                    %ul
                        %li
                            %h5 AL
                            %p Alabama 
                        %li
                            %h5 AK
                            %p Alaska 
                        %li
                            %h5 AZ
                            %p Arizona  
                        %li
                            %h5 AR
                            %p Arkansas 
                        %li
                            %h5 CA
                            %p=link_to 'California', '/locations/california-factoring' 
                        %li
                            %h5 CO
                            %p Colorado
                        %li
                            %h5 CT
                            %p Connecticut
                        %li
                            %h5 DE
                            %p Delaware 
                        %li
                            %h5 FL
                            %p=link_to 'Florida', '/locations/florida-factoring' 
                        %li
                            %h5 GA
                            %p Georgia 
                        %li
                            %h5 HI
                            %p Hawaii  
                        %li
                            %h5 ID
                            %p Idaho 
                        %li
                            %h5 IL
                            %p Illinois 
                        %li
                            %h5 IN
                            %p Indiana
                        %li
                            %h5 IA
                            %p Iowa  
                        %li
                            %h5 KS
                            %p Kansas 
                        %li
                            %h5 KY
                            %p Kentucky
                        %li
                            %h5 LA
                            %p Louisiana
                        %li
                            %h5 ME
                            %p Maine 
                        %li
                            %h5 MD
                            %p Maryland
                        %li
                            %h5 MA
                            %p Massachusetts
                        %li
                            %h5 MI
                            %p Michigan 
                        %li
                            %h5 MN
                            %p Minnesota
                        %li
                            %h5 MS
                            %p Mississippi
                        %li
                            %h5 MO
                            %p Missouri
                        %li
                            %h5 MT
                            %p Montana 
                        %li
                            %h5 NE
                            %p Nebraska 
                        %li
                            %h5 NV
                            %p Nevada 
                        %li
                            %h5 NH
                            %p New Hampshire
                        %li
                            %h5 NJ
                            %p New Jersey 
                        %li
                            %h5 NM
                            %p New Mexico                          
                        %li
                            %h5 NY
                            %p New York
                        %li
                            %h5 NC
                            %p North Carolina
                        %li
                            %h5 ND
                            %p North Dakota
                        %li
                            %h5 OH
                            %p Ohio
                        %li
                            %h5 OK
                            %p Oklahoma
                        %li
                            %h5 OR
                            %p Oregon
                        %li
                            %h5 PA
                            %p Pennsylvania
                        %li
                            %h5 RI
                            %p Rhode Island
                        %li
                            %h5 SC
                            %p South Carolina
                        %li
                            %h5 SD
                            %p South Dakota
                        %li
                            %h5 TN
                            %p Tennessee
                        %li
                            %h5 TX
                            %p Texas
                        %li
                            %h5 UT
                            %p Utah
                        %li
                            %h5 VT
                            %p Vermont
                        %li
                            %h5 VA
                            %p Virginia
                        %li
                            %h5 WA
                            %p Washington
                        %li
                            %h5 WV
                            %p West Virginia
                        %li
                            %h5 WI
                            %p Wisconsin

                        %li
                            %h5 WY
                            %p Wyoming
 
%section.bottom.bg-darkblue
    .container
        .block25
            %p Factoring
            %ul
                %li=link_to 'Business Factor', '/'
                %li=link_to 'Factoring Invoice Discounting', '/bff/ob/invoice-discounting-factoring'
                %li=link_to 'No Recourse Factoring', '/invoice-factoring/non-recourse'
                %li=link_to 'Cell Tower Factoring', '/industries//cell-tower-factoring'
        .block25
            %p Resources
            %ul
                %li=link_to 'Customer Concentration', '/bff/avoiding-high-customer-concentration'
                %li=link_to 'Cash Flow Projections Excel', '/bff/making-cash-flow-projections'
                %li=link_to 'Supplier Negotiations', '/bff/ob/7-tips-negotiating-better-payment-terms-your-suppliers'
                %li=link_to 'Cash Conversion Cycle Calculator', '/bff/cash-conversion-cycle-calculator'
        .block50
            %p Our Affiliations & Partnerships
            .affiliations
                %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}/
                %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic2.png", :title => "NFIB"}/
                %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}/
                %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}/
                %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}/      
%footer.bg-darkblue
    .container
        .social
            =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
            =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
            =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
            =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
        %span Copyright Gateway Commercial Finance, LLC 2017
        %nav
            %ul
                %li=link_to 'Privacy', '/privacy-policies'
                %li=link_to 'Sitemap', '/sitemap'
                %li=link_to 'Library', '/library/'
