---
title: Business Lessons For High School Students
description: High schools offer lessons to teach students business, marketing, and economics covering all of the basics needed to start your business. In order to run your own operation successfully you need to obtain a great education. Find great business and economics lessons in the resources included in this page.
canonical: https://gatewaycfs.com/education/business-lessons-high-school/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/education/", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance Gives Back", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/logo-giveback.png",}
    .container-right

%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h2 Educational Library
          %h3 Supporting our community through educational programs
          %p
            %strong Making a Difference
          %p We proudly share our time and skills to help educate tomorrow's leaders.

    %article.container-right
      .block
        %hgroup
          %h1 Business Lessons For High School Students
        %p Owning your own business is part of the American Dream. You might be wondering how a person could start their own company. What steps should be taken? How much money do you need to have saved up prior to starting a business? As a high school student, this possibility might seem more like an impossibility. In order to start the process of running your own operation, the first thing to do is throw all doubt out the window. The next step is obtaining a great education!
        %p High schools all over the United States have classes dedicated to teaching business, marketing, and economics. These classes cover all of the basics needed to start you on your path to success. When taking such classes, a variety of topics will be covered. For instance, economics are a large part of learning about business. In an economics course, you learn more about the various markets in the world, supply and demand, and how the markets fluctuate. You will also need to take some financing courses. These will cover the money basics and how it is important to save money, invest money, and even how to spend money (wisely, of course). Other important business classes include accounting, human resources, operations management, and information and technology management.
        %p If you are truly interested in the world of business, you might consider taking courses over the summer months, just to keep your mind fresh and full of the most up-to-date information. As an exercise, you might even consider creating your own business plan. How do you do this? It is simple, really. Start with an idea that you think could be profitable. The next step in creating your very own company plan is to write a mission statement. This should contain the purpose of your company as well as a brief overview of how or why your company will be successful. To run a proper business, there should be an unmet need in the market that your company will fulfill.
        %p Next comes the steps you will take to fulfill that need. In your plan, be sure to include everything you will need to meet the need of the market. This can include (but is not limited to) employees, machinery, investors, marketing, advertising, and office or warehouse space. Another important component of a business plan is a description of what your product or service actually does. Be sure to mention the feasibility of your company's product or service in this portion of the   plan, also referred to as the business model. Also mention why someone would pay for what you are offering.
        %p There are a few more steps to creating your plan. It is important to conduct an analysis of the current market. Take a look at other products that could be your competition. Look at what making your product or offering your services will actually cost you. Do not forget start-up costs! Before you turn a profit, you will need to spend some money. This   may require you to ask of others in the form of investors. They are a   great way for startups to get money to get your plan off the ground. Other aspects you might consider including in this portion are your sale projections and your qualifications for owning, running, and selling   whatever it is that you are going to be doing.
        %p Finally, here's the fun part: Once you have covered the previously mentioned topics, you get to be a little creative. Consider how you will market your product. What will your ads look like? What will your advertisements say? In what other ways will you promote your product? How will you educate people about your product or service? These are all great considerations for the marketing portion of your plan.
        %p That is how you create a very basic business plan. Try doing so with your next great idea. It could just become a real company one day.
        %p Find out more about business and economics lessons through the following resources:
        %ul
          %li
            %a{:href => "http://www.aeseducation.com/businesscenter21/business-education-lesson-plans/"} Lesson Plans and Projects for Business Classes
          %li
            %a{:href => "http://kwhs.wharton.upenn.edu/lesson-plans/"} Wharton High School Marketing and Entrepreneurship Course Lesson Plans
          %li
            %a{:href => "http://www.uen.org/Lessonplan/LPview.cgi?core=8"} Business and Marketing Curriculum Resources
          %li
            %a{:href => "http://www.thirteen.org/edonline/lessons/#close"} Financial Education Resources
          %li
            %a{:href => "http://www.econedlink.org/lessons/1"} Economics and Personal Finance Lessons for High School Students
          %li
            %a{:href => "http://www.entrepreneur.com/article/235079"} Crucial Business Lessons You Learn in High School
          %li
            %a{:href => "http://entrepecon.councilforeconed.org/lessons.php?lid=68390"} Risk Management Lesson
          %li
            %a{:href => "https://www.practicalmoneyskills.com/foreducators/lesson_plans/highschool.php"} Practice Money Skills (Grades 9-12)
          %li
            %a{:href => "http://ed.ted.com/lessons?category=business-economics"} Ted Talks: Economics
          %li
            %a{:href => "http://education.cu-portland.edu/blog/educator-tips/examples-of-business-math-lesson-plans-for-high-schoolers/"} Business Math Lesson Plans for High School Students
          %li
            %a{:href => "http://www.sde.ct.gov/sde/lib/sde/PDF/DEPS/Career/Business/Personal_Finance_RG.pdf"} Personal Finance Project Resource Book
            (PDF)
          %li
            %a{:href => "http://www.globalenvision.org/forteachers/29/1227"} High School Lesson Plans on Trade         

        %p
          By
          %a{:href => "/company/marc-marin/"}
            %span{:itemprop => "author", :itemscope => "", :itemtype => "https://schema.org/Person"}
              %span{:itemprop => "name"} Marc J. Marin
%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Factoring Loans', '/'
        %li=link_to 'What is a Factoring Company', '/invoice-factoring/pick-a-company/'
        %li=link_to 'A/R Factoring', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
        %li=link_to 'Payroll Factoring', '/industries/staffing-factoring/'
    .block25
      %p Resources
      %ul
        %li=link_to 'What is a Factoring Fee', '/invoice-factoring/cost-fees-rates/'
        %li=link_to 'Business Finance Lessons', '/bff/m/business-financial-fitness-program'
        %li=link_to 'Invoice Funding', '/invoice-factoring/how-it-works/'
        %li=link_to 'Government Invoice Factoring', '/industries/government-factoring/'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'
