---
title: How Can You Help Children With Their First Business?
description: If your child is interested in becoming an entrepreneur we've got advice for you on how to help them succeed in their newest business venture.
canonical: https://gatewaycfs.com/education/child-first-business/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/education/"}
            %img{:alt => "Gateway Commercial Finance Gives Back", :itemprop => "logo education", :src => "https://cdn.gatewaycfs.com/logo-giveback.png",}
    .container-right

%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h2 Educational Library
          %h3 Supporting our community through educational programs
          %p
            %strong Making a Difference
          %p We proudly share our time and skills to help educate tomorrow's leaders.

    %article.container-right
      .block
        %hgroup
          %h1 Your Child's First Business - How Can You Help?
        %p Helping our children to success is a parent's greatest joy. We watch them grow and wonder what amazing things they'll accomplish; encouraging them and reminding them that they can do anything they want with the right knowledge, ambition, and resources. They can be business men and women and it's our job as parents to equip them with the resources they need to achieve their goals. If your child, son or daughter, is interested in becoming an entrepreneur we've got advice for you, as an encouraging parent, on how to help them succeed in their newest business   venture, no matter how big or small it may be.
        %p The first thing, and maybe the most important thing, to remember is that though they are children and though they might still flit from   thing to thing as they learn their likes, dislikes, skills, and passions, their goals are valid and should be acknowledged by their   support system. Validate their goals through engaged conversation. Listen to them, ask them questions, and share in their excitement. This type of engagement will help to build their confidence in their ideas and goals. Set aside time every day to participate in this engagement. For example, the dinner table could be a great setting to connect with your child about anything, including their entrepreneurial goals.
        %p It's also important that the child take the lead on their business project, be it a lemonade stand, a cookie baking and distribution business, or the development of a charity to help a cause they're passionate about. Guide your child through any concepts that might be too advanced or require skills they may not yet have; like financing and paperwork needed to start a business or the opening of a bank account in serious ventures. Your role should be a support capacity; after all, it's their business.
        %p If available, introducing your child to an established entrepreneur in areas in which they have interest is a great motivator. This may show them that their dreams of business ownership can be a reality with the right tools and guidance. Even more valuable may be introducing them to a role model that's around the same age as they are; further reminding them that kids can do great things. If you don't know any entrepreneurs personally, consider reaching out to your local business bureau or Chamber of Commerce, as they might be able to connect you with a successful business owner willing to sit down with your child to offer   advice and real-world experience. Some famous child-entrepreneurs include Sean Belnick, Leanna Archer, Angelo Sotira, and many more!
        %p When your child is excited about the potential of their business, make sure they're able to make the most of that momentum. Keep moving   forward to make it a real; get a business plan together, brainstorm   advertising, create an inventory list of any needed materials, enlist friends and family to help. Actions like this reinforce the validity of the young entrepreneur's dream and help to motivate them to stick with   it. Once they see others stepping up and wanting to get involved, they may better understand what is required and the investment that others are willing to make in order to help them succeed.
        %ul
          %li
            %a{:href => "https://www.sba.gov/content/young-entrepreneurs-series"} SBA Beginner's Business Resources
          %li
            %a{:href => "http://www.maine.gov/education/mecitizenshiped/educators/linking_youth_savings_entrepreneurship_final.pdf"} Youth Savings & Entrepreneurship
          %li
            %a{:href => "http://www.businessnewsdaily.com/5051-young-entrepreneurs.html"} Very Young Entrepreneurs
          %li
            %a{:href => "http://www.businesspundit.com/10-kids-who-started-wildly-successful-companies/"} Ten Kids Who Started Wildly Successful Companies
          %li
            %a{:href => "http://money.cnn.com/galleries/2011/smallbusiness/1105/gallery.kid_entrepreneurs/"} 8 Kid Entrepreneurs to Watch
          %li
            %a{:href => "http://smartbusinesstrends.com/young-entrepreneurs-8-teenage-millionaires/"} Eight Teenage Millionaires
          %li
            %a{:href => "http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.260.1284&rep=rep1&type=pdf"} Why Do Entrepreneurial Parents Have Entrepreneurial Kids?
          %li
            %a{:href => "http://blogs.wsj.com/experts/2014/02/07/young-entrepreneurs-secret-weapon-social-networking-savvy/"} Young Entrepreneurs' Secret: Social Media
          %li
            %a{:href => "http://www.inc.com/ss/duane-squires/10-steps-teaching-your-kids-become-entrepreneurs"} 10 Steps to Teaching Your Kids to be Entrepreneurs
          %li
            %a{:href => "http://www.entrepreneur.com/article/232156"} Encouraging Your Child to be an Entrepreneur
          %li
            %a{:href => "http://www.huffingtonpost.com/mo-seetubtim/how-to-raise-your-kids-to_b_6160422.html"} How to Raise an Entrepreneur
          %li
            %a{:href => "http://www.forbes.com/sites/karstenstrauss/2012/07/30/child-entrepreneurs-if-we-build-them-will-they-prosper/#5852a841b95a"} Child Entrepreneurs: If We Build Them, They Will Prosper
          %li
            %a{:href => "http://internationalschoolparent.com/10-ways-to-teach-your-kids-to-become-entrepreneurs/"} Ten Ways to Teach Entrepreneurship
          %li
            %a{:href => "https://www.nase.org/about-us/Popup_News/2013/10/25/encouraging-young-entrepreneurs"} Encouraging Your Young Entrepreneur
          %li
            %a{:href => "http://www.fastcompany.com/3039880/5-ways-to-encourage-kids-to-grow-up-to-be-innovators"} 5 Ways to Grow Your Child into an Innovator          

        %p
          By
          %a{:href => "/company/marc-marin/"}
            %span{:itemprop => "author", :itemscope => "", :itemtype => "https://schema.org/Person"}
              %span{:itemprop => "name"} Marc J. Marin
%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Factoring Financing', '/'
        %li=link_to 'Invoice Financing', '/invoice-factoring/how-it-works/'
        %li=link_to 'Selling Accounts Receivables', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
        %li=link_to 'Factoring in Florida', '/locations/florida-factoring/'
    .block25
      %p Resources
      %ul
        %li=link_to 'Accounts Receivable Funding', '/services/accounts-receivable-factoring/'
        %li=link_to 'Receivable Factoring Rates', '/invoice-factoring/cost-fees-rates/'
        %li=link_to 'Vendor Financing', '/bff/financing-receivables'
        %li=link_to 'Invoice Factoring for Small Business', '/bff/ob/invoice-factoring-small-business'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'
