---
title: Educational Economics for Kids | School Lessons
description: Young people need to develop strong finance skills so they know how to budget their money and make it stretch across all their needs and wants.
canonical: https://gatewaycfs.com/education/educational-economics-for-kids
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/education/"}
            %img{:alt => "Gateway Commercial Finance Gives Back", :itemprop => "logo education", :src => "https://cdn.gatewaycfs.com/logo-giveback.png",}
    .container-right

%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h2 Educational Library
          %h3 Supporting our community through educational programs
          %p
            %strong Making a Difference
          %p We proudly share our time and skills to help educate tomorrow's leaders.

    %article.container-right
      .block
        %hgroup
          %h1 Educational Economics for Kids
        %p Knowing how to manage money is a skill that people need at any age. Even young people need to develop strong finance skills so they know how to budget their money and make it stretch across all their needs and wants. If you get an allowance every week, you should think about saving a part of it instead of spending it all when you get it. When you get old enough to earn your own money, you will have even more decisions to make about how you budget, save, and spend your cash. Learning about money may be important, but you can still have fun learning these life lessons. Play games, do puzzles, and watch videos that will teach you all the important facts about finance.
        %p
          %a{:href => "http://www.usmint.gov/kids/games/ATB_games/"} America the Beautiful Quarters Game
        %p Choose a year and play a game to learn about quarters circulating in the United States.
        %p
          %a{:href => "http://www.britishmuseum.org/explore/themes/money/what_is_money.aspx"} What Is Money?
        %p Learn all about money and its history with this short overview of   money. In ancient eras, people even used shells and feathers as money.
        %p
          %a{:href => "http://www.themint.org/kids/be-your-own-boss-challenge.html"} The Be Your Own Boss Challenge
        %p If you think you want to run your own business someday, take this short quiz to see if you have what it takes.
        %p
          %a{:href => "https://www.minneapolisfed.org/community/student-resources/central-bank-history/history-of-central-banking"} A History of Central Banking in the United States
        %p The Federal Reserve is the United States' central bank. Learn about its history in this short report.
        %p
          %a{:href => "http://sffed-education.org/chairthefed/default.html"} Chair the Fed
        %p This exciting game lets you pretend that you are in charge of the nation's central bank. Have fun setting policies to keep employment up and inflation down.
        %p
          %a{:href => "http://score.rims.k12.ca.us/score_lessons/market_to_market/pages/the_market_place.htm"} The Marketplace
        %p The colonial marketplace was a bustling environment. During this   period, people mostly traded with others to get the things they needed.
        %p
          %a{:href => "http://school.discoveryeducation.com/brainboosters/numberplay/pocketfull.html"} A Pocket Full of Coins: Brain Booster
        %p See if you can solve this word problem to figure out the number and kinds of coins a girl has in her pocket.
        %p
          %a{:href => "http://www.socialstudiesforkids.com/articles/economics/makingabudget1.htm"} Making a Budget
        %p Everyone needs to know how to make a budget to make sure that they spend their money wisely.
        %p
          %a{:href => "http://www.econedlink.org/interactives/EconEdLink-interactive-tool-player.php?filename=em455_bankingdrop.swf&lid=455"} A Trip to the Bank
        %p Take a fun and educational trip to the bank by playing this game. Just drag the correct icons into the bank to win.
        %p
          %a{:href => "http://pbskids.org/lunchlab/games/fresh-pick?level=6"} The Change Game
        %p Practice giving customers the correct change with this cash register game.
        %p
          %a{:href => "http://www.kidsmoney.org/makemone.htm"} Ideas for Making Money
        %p Kids have lots of possibilities for making money. You could babysit or get a job raking leaves to make money.
        %p
          %a{:href => "http://www.eduplace.com/kids/socsci/books/applications/imaps/maps/g2_u4/index.html"} Trading Bananas and Wheat
        %p This interactive game will help you see how nations trade goods with each other.
        %p
          %a{:href => "http://www.mathplayground.com/mathatthemall1.html"} Math at the Mall
        %p Shopping at the mall may be fun, but you need good math skills to be a smart shopper. Play this game to practice your math skills.
        %p
          %a{:href => "http://www.thecolor.com/Coloring/Lemonade-Stand.aspx"} Lemonade Stand Coloring Page
        %p Get ideas for setting up your own lemonade stand when you color this picture.
        %p
          %a{:href => "http://www.hbschool.com/activity/counting_money/"} Counting Money
        %p This game will help you practice counting money with fun activities.
        %p
          %a{:href => "http://www.321know.com/mny45ax2.htm"} Adding Money Amounts
        %p You need to know how to use decimal points when you want to add money. This activity will help you learn this skill.
        %p
          %a{:href => "http://www.toonuniversity.com/flash.asp?err=569&engine"} Discovering Coin Amounts
        %p Drag coins onto the slide to see their value. Keep dragging coins to watch them add up in the container.
        %p
          %a{:href => "http://www.funbrain.com/cashreg/index.html"} Change Maker
        %p Practice making change for different transactions so you can learn how to count money.
        %p
          %a{:href => "http://www.financialsoccer.com/play/"} Financial Soccer Game
        %p This exciting game lets you practice your financial skills as you play a game of soccer.
        %p
          %a{:href => "http://www.practicalmoneyskills.com/games/road_trip/road_trip.html?width=600&height=420"} Road Trip to Savings
        %p Hit the road for a four-week road trip. You will need to make many wise decisions to manage your money during your trip.
        %p
          %a{:href => "http://www.richkidsmartkid.com/minigames/profit.htm"} Jesse's Ice Cream Stand
        %p Help Jesse manage an ice cream stand to make the most profits.
        %p
          %a{:href => "http://www.classbrain.com/cb_games/cb_gms_bag/lemonade.html"} The Lemonade Stand Game
        %p Practice making business decisions as you manage a pretend lemonade stand in this online game.
        %p
          %a{:href => "https://kids.usa.gov/watch-videos/money/money-factory/index.shtml"} Field Trip to the Money Factory
          (video)
        %p Watch a video of a trip to the money factory to see and learn how money is made.
        %p
          %a{:href => "http://www.bep.treas.gov/uscurrency/howmoneyismade.html"} How Money is Made
        %p This slide show explains exactly how the United States government designs and prints money.
        %p
          %a{:href => "http://www.aplusmath.com/cgi-bin/flashcards/money"} Money Flash Cards
        %p Practice your knowledge of money values and adding coins and bills with this game.
        %p
          %a{:href => "https://www.marbleskidsmuseum.org/stuff/contentmgr/files/0/6746b045f08a451bf5db98f7b9adb61a/files/moneypalooza_lesson_plans_11.17.11.pdf"} Moneypalooza! Board Game
          (PDF)
        %p This printable board game will help you learn how to make smart money choices for earning, saving, and spending.
        %p
          %a{:href => "http://www.takechargeamerica.org/wp-content/themes/tca/pdfs/teaching-resources/grade-one-barter-vs-money.pdf"} Barter vs. Money
          (PDF)
        %p You will need to know how to count money to play this finance game that's all about shopping, spending, and bartering.
        %p
          %a{:href => "http://financeintheclassroom.org/downloads/Money_Bingo.pdf"} Money Bingo
          (PDF)
        %p Print out these money bingo cards to play bingo with friends and classmates.
        %p
          %a{:href => "https://extension.usu.edu/utah/files/uploads/Finance/THE%20BEAN%20GAME.pdf"} The Bean Game
          (PDF)
        %p Play the bean game to learn how to manage an income. You will need to make decisions about saving, spending, and paying bills.
        %p
          %a{:href => "http://www.mathematicshed.com/uploads/1/2/5/7/12572836/21funmathgames.pdf"} Math Games
          (PDF)
        %p This collection of printable math games will give you lots of ways to learn about money. Add or subtract tiles to play a money game.

        %p
          By
          %a{:href => "/company/marc-marin"}
            %span{:itemprop => "author", :itemscope => "", :itemtype => "https://schema.org/Person"}
              %span{:itemprop => "name"} Marc J. Marin
%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Factoring Business', '/'
        %li=link_to 'Staffing Factoring', '/industries/staffing-factoring'
        %li=link_to 'Selling Receivables', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
        %li=link_to 'California Factoring', '/locations/california-factoring'
    .block25
      %p Resources
      %ul
        %li=link_to 'Invoice Factoring 101', '/invoice-factoring/how-it-works'
        %li=link_to 'Accounts Receivable Factoring', '/services/accounts-receivable-factoring'
        %li=link_to 'Factoring Costs', '/invoice-factoring/cost-fees-rates'
        %li=link_to 'How to Pick a Factoring Company', '/invoice-factoring/pick-a-company'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}      

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies'
        %li=link_to 'Sitemap', '/sitemap'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'
