---
title: ESL Lesson Plan | Business Loans and Cash Advances
description: Learn how to get money to run for your business in the United States. This page includes an ESL (English as a Second Language) lesson to teach students about business loans and cash advances and contains useful vocabulary definitions and interactive games to test the students’ knowledge.
canonical: https://gatewaycfs.com/education/esl-finance-lesson/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/education/"}
            %img{:alt => "Gateway Commercial Finance Gives Back", :itemprop => "logo education", :src => "https://cdn.gatewaycfs.com/logo-giveback.png",}
    .container-right

%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h2 Educational Library
          %h3 Supporting our community through educational programs
          %p
            %strong Making a Difference
          %p We proudly share our time and skills to help educate tomorrow's leaders.

    %article.container-right
      .block
        %hgroup
          %h1 ESL Lesson Plan: Business Loans and Cash Advances
        %h2 How to Get Money for your Business in the United States
        %img{:class => "float-right", :alt => "esl lessons finance", :src => "https://cdn.gatewaycfs.com/video_pic1.png"}>/
        %p In the United States, you can start a business with someone else’s money. You can go to a bank to get money, or you can ask other people or companies for money. After you start your business, you might still need someone else’s money to keep your business running.
        %p Of course, no one (except maybe friends or family) gives money away for free. When you use someone else’s money, you have to pay more back than you originally received.
        %p The more you study the following words, the better you will do at our games and the better you will understand the process of getting money for your business in the United States!
        %img{:class => "float-right", :alt => "esl lesson games", :src => "https://cdn.gatewaycfs.com/bee-icon.png"}>/
        %p.highlighted Before you take our fill-in-the blank quiz and play our popular game, "Bee the Broker", study the following vocabulary and learn about different types of loans and advances!
  
        
        .vocabulary
          %h3 New Vocabulary
          %dl
            .drow
              %dt capital
              %dd money invested in a business to help it grow
            .drow
              %dt borrow
              %dd to take get something with the agreement to give it back later
            .drow
              %dt loan
              %dd a lender gives money to a borrower, with the agreement that the borrower will repay the money, in most cases with interest
            .drow
              %dt principal
              %dd amount given by the lender
            .drow
              %dt interest
              %dd money paid back in addition to the principal
            .drow
              %dt interest rate
              %dd interest expressed as percentage of principal
            .drow
              %dt collateral
              %dd something with value (e.g. car, house, etc.) that lender can take if borrower cannot pay back loan
            .drow
              %dt fee
              %dd money paid for a service; extra charge
            .drow
              %dt fixed rate
              %dd loan agreement in which interest remains the same throughout repayment period
            .drow
              %dt variable rate
              %dd loan agreement in which interest payments are adjusted according to certain conditions
            .drow
              %dt repayment period
              %dd amount of time agreed upon that loan should be paid off
            .drow
              %dt APR (annual percentage rate)
              %dd interest rate calculated over one year
            .drow
              %dt credit score
              %dd a number between 300 and 850 that reflects how good your credit is; generally above 700 is a good score
            .drow
              %dt credit history
              %dd record of debt over time; measures amount of borrowing and how you’ve paid off debt
            .drow
              %dt startup
              %dd a small company starting an original type of business
            .drow
              %dt B2B
              %dd business-to-business; a business that sells to other businesses
            .drow
              %dt B2C
              %dd business-to-consumer;  a business that sells directly to consumers
            .drow
              %dt cash flow
              %dd amount of cash available for use
            .drow
              %dt factoring
              %dd selling of unpaid invoices at a discount in exchange for immediate cash flow
            .drow
              %dt accounts receivable
              %dd money owed to a company by its debtors; invoices from customers that have NOT been paid
            .drow
              %dt advance
              %dd amount paid or received before the agreed upon action is completed
        %h3 FILL-IN-THE-BLANK QUIZ!
        %p.highlighted Directions: Type your answers into the corresponding boxes. As you can see, only 3 out of the 4 words will be correct. Make sure to spell each word correctly!        
       
        %form{:name => "FXY1", class: 'quiz'}
   
          1) It is very difficult for a
          %input{:name => "NA01", :type => "hidden", :value => "startup"}
          %input.ipxa{:name => "NB01", :size => "14", :type => "text", :value => ""}
          company to get a
          %input{:name => "NA02", :type => "hidden", :value => "loan"}
          %input.ipxa{:name => "NB02", :size => "15", :type => "text", :value => ""}
           
          \. This is because new businesses usually don't have a long
           
          %input{:name => "NA03", :type => "hidden", :value => "credit history"}
          %input.ipxa{:name => "NB03", :size => "15", :type => "text", :value => ""}
          \.
          %ul.quiz-ul
            %li loan
            %li credit history
            %li fee
            %li startup
          2)
          %input{:name => "NA04", :type => "hidden", :value => "B2B"}
          %input.ipxa{:name => "NB04", :size => "15", :type => "text", :value => ""}
          companies sell to other businesses, while
          %input{:name => "NA05", :type => "hidden", :value => "B2C"}
          %input.ipxa{:name => "NB05", :size => "15", :type => "text", :value => ""}
          companies sell to customers. Both of these types of companies need
          %input{:name => "NA06", :type => "hidden", :value => "capital"}
          %input.ipxa{:name => "NB06", :size => "15", :type => "text", :value => ""}
           
          in order to maintain and grow their businesses.
          %ul.quiz-ul
            %li capital
            %li B2C
            %li APR
            %li B2B
          3) When paying off a loan, you are paying the
          %input{:name => "NA07", :type => "hidden", :value => "principal"}
          = succeed "," do
            %input.ipxa{:name => "NB07", :size => "15", :type => "text", :value => ""}
          %input{:name => "NA08", :type => "hidden", :value => "interest rate"}
          %input.ipxa{:name => "NB08", :size => "15", :type => "text", :value => ""}
           
          \. By calculating these payments over the course of your
          %input{:name => "NA09", :type => "hidden", :value => "repayment period"}
          %input.ipxa{:name => "NB09", :size => "15", :type => "text", :value => ""}
          , you can determine your APR.
          %ul.quiz-ul
            %li principal
            %li loan
            %li repayment period
            %li interest rate
          4) To get a bank loan, you must have a good
          %input{:name => "NA10", :type => "hidden", :value => "credit history"}
          = succeed "." do
            %input.ipxa{:name => "NB10", :size => "15", :type => "text", :value => ""}
          %input{:name => "NA11", :type => "hidden", :value => "credit score"}
          %input.ipxa{:name => "NB11", :size => "15", :type => "text", :value => ""}
          , probably above 700. This will help you get cheaper
           
          %input{:name => "NA12", :type => "hidden", :value => "loan"}
          %input.ipxa{:name => "NB12", :size => "15", :type => "text", :value => ""}
           
          in the future.
          %ul.quiz-ul
            %li credit score
            %li loans
            %li credit history
            %li cash flow
          5) B2B companies often allow their customers to pay later, which means there will be many invoices that have not been paid. This means that a company’s worth is based partly on
          %input{:name => "NA13", :type => "hidden", :value => "accounts receivable"}
          %input.ipxa{:name => "NB13", :size => "15", :type => "text", :value => ""}
          , a value that hasn’t yet turned to cash.
          %input{:name => "NA14", :type => "hidden", :value => "factoring"}
          %input.ipxa{:name => "NB14", :size => "15", :type => "text", :value => ""}
          is a good alternative to loans for this type of company because they can get a cash
          %input{:name => "NA15", :type => "hidden", :value => "advance"}
          %input.ipxa{:name => "NB15", :size => "15", :type => "text", :value => ""}
          immediately based on the money they are owed in the future.
          %ul.quiz-ul
            %li factoring
            %li accounts receivable
            %li B2C
            %li advance
          /
            6) Most banks and lenders require that you put down some
            <INPUT value="collateral" name=NA16 type=hidden><INPUT class=ipxa value="" name=NB16 type=text size=15>
            
            
            , which is something they can take from you if you cannot pay off the loan. It protects them from losing money on the loan. Some lenders will only make you pay a percentage of your sales, which is a type of repayment period called a
            <INPUT value="variable rate" name=NA17 type=hidden><INPUT class=ipxa value="" name=NB17 type=text size=15> 
            
            \. However most lenders are more strict, requiring the same payment every day or week. This is referred to as a
            <INPUT value="variable rate" name=NA18 type=hidden><INPUT class=ipxa value="" name=NB18 type=text size=15> 
            \.<br/>
            <ul class="quiz-ul">
            <li>borrow</li>
            <li>fixed rate</li>
            <li>collateral</li>
            <li>variable rate</li>
            </ul>
            <br/>
            <hr/>
          %p Click "CHECK ALL" to see how you did!
          %input{:name => "check", :onclick => "scoreme()", :type => "button", :value => "CHECK ALL"}
          %button{:type => "reset", :value => "Reset"} Reset
          %input.ipxx.result{:name => "ovrXX", :size => "28", :type => "text", :value => ""}
         
  
        %h3 Are you done with the "Fill-in-the-blank quiz"?, let's keep learning...
        %p In the United States, there are different ways to get money for your business. However, first you should ask yourself the following questions:
        %img.float-right{:alt => "esl money", :src => "https://cdn.gatewaycfs.com/education/exasperated.jpg"}
        %ul
          %li <strong>Why do I need money?</strong>
          %li <strong>What kind of company do I own?</strong>
          %li <strong>For how long has my company been in business?</strong>
          %li <strong>How is my credit score?</strong>
          %li <strong>Can I put down collateral?</strong>

        %p.highlighted Based on the answers to these questions, you can determine the best way to get money for your business. <strong>You have two general options: take out a loan or receive an advance.</strong> But as you know, finance is always complicated! Within each category, many types exist.
        .flex-container
          .col50
            %h3 Loans
            %ul
              %li Traditional Bank Loans
              %li Lines of Credit
              %li Online Loans
          .col50
            %h3 Cash Advances
            %ul
              %li Merchant Cash Advance
              %li Factoring
        %h2 Loans
        %h3 Traditional Bank Loan
        %img.float-right{:alt => "esl bank", :src => "https://cdn.gatewaycfs.com/new/optimized/bank.jpg"}
        %ul
          %li Good for long-term business investment
          %li Established B2B or B2C company
          %li Business is 3+ years old; must provide evidence of good accounting practices
          %li Must have good credit score, around 700 or above
          %li Able to provide significant collateral
        %h3 Business Lines of Credit
        %ul
          %li Good when uncertain about future costs of business; Access to a maximum loan amount, borrower decides how much to take
          %li Established B2B or B2C company
          %li Business is 2+ years old
          %li Must have good credit score, around 700 or above
          %li May or may not require collateral; cheaper loan if collateral provided
        %h3 Online Term Loans
        %img{:class => "float-right", :alt => "esl lessons loans", :src =>"https://cdn.gatewaycfs.com/education/online-loan.jpg"}
        %ul
          %li Can provide cash flow for ANY reason
          %li Can serve ANY type of business; much more expensive than a traditional bank loan; only businesses who CANNOT get a traditional bank loan should pursue an 	            online term loan
          %li Most online lenders only require that you've been in business for about 6 months or so
          %li Credit score not that important
          %li May require collateral or personal guarantee (legally you must pay)
        %h2 Cash Advances
        %h3 Merchant Cash Advances
        %img{:class => "float-right", :alt => "esl lessons savings", :src => "https://cdn.gatewaycfs.com/education/piggy.jpg"}
        %ul
          %li Provides cash flow to cover immediate expenses
          %li Effective for B2C companies; VERY expensive (up to 45% interest!); only businesses who CANNOT get a traditional bank loan should pursue a Merchant Cash Advance
          %li MCA providers don't require many years in business, but they want to see evidence of future expected sales
          %li Credit score not important
          %li Does NOT require collateral because they already OWN part of your FUTURE sales (will collect repayment from your credit card sales)
        %h3 Invoice Factoring
        %img{:class => "float-right", :alt => "esl lessons cash flow", :src => "https://cdn.gatewaycfs.com/education/cash-flow.jpg"}
        %ul
          %li Good for businesses who need immediate cash flow to cover expenses
          %li Effective for B2B companies; factoring companies buy your accounts receivable and advance you cash immediately (usually about 75-95%) until the accounts receivable are paid; then the factoring company pays you the rest of the receivable value, minus fees (in total, about 3% of the invoice)
          %li Factoring companies want to see that you have a variety of customers with many accounts receivable; they also want to see that your customers are likely to make payments when they are due
          %li Neither credit history nor credit score is important
          %li Does NOT require collateral because they already OWN your accounts receivable; may require you to pay if your customer does not pay
        %p.highlighted
          Congratulations! Now you're ready to play
          %a{:href => "https://gatewaycfs.com/games/bee-the-financial-broker.html"}
            Bee the Broker
            %img.padding0{:src => "https://cdn.gatewaycfs.com/bee-icon.png"} !
            We challenge you to test your knowledge of loans and cash advances.

%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Debt Factoring', '/'
        %li=link_to 'Government Factoring', '/industries/government-factoring/'
        %li=link_to 'How to Sell Your Receivables', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
        %li=link_to 'Florida Factoring', '/locations/florida-factoring/'
    .block25
      %p Resources
      %ul
        %li=link_to 'How Invoice Factoring Works', '/invoice-factoring/how-it-works/'
        %li=link_to 'Invoice Factoring Rates', '/invoice-factoring/cost-fees-rates/'
        %li=link_to 'Financing Receivables', '/bff/financing-receivables'
        %li=link_to 'How to Compare Factoring Companies', '/invoice-factoring/pick-a-company/'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'
%script{:src => "https://gatewaycfs.com/js/scoreme.js"}