---
title: Educational Library | Gateway Commercial Finance
description: Articles and educational resources for all ages about business related subjects.
canonical: https://gatewaycfs.com/education/
robots: noindex,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo educational", :src => "https://cdn.gatewaycfs.com/logo-giveback.png",}
    .container-right
      
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h2 Educational Library
          %h3 Supporting our community through educational programs
          %p
            %strong Making a Difference
          %p We proudly share our time and skills to help educate tomorrow's leaders.

    %article.container-right
      .block
        %hgroup
          %h1 Educational Library
        %p Text intro... are you wondering what factoring is and how it can help your business...
        %p
          %strong In this detailed guide we'll cover the following subjects:
        %ul
          %li=link_to"Money Resource Guide", '/education/money-resource-guide/'
          %li=link_to"Financial and Retirement Planning Guide", '/education/financial-retirement-planning-guide/'
          %li=link_to"Business Management Resources", '/education/business-management-resources/'
          %li=link_to"Educational Economics for Kids", '/education/educational-economics-for-kids/'
          %li=link_to"Employee Satisfaction and Company Success", '/education/employee-satisfaction/'
          %li=link_to"Business Lessons for High School Students", '/education/business-lessons-high-school/'
          %li=link_to"Your Child's First Business - How Can You Help?", '/education/child-first-business/'
          %li=link_to"Money Tips for College Students", '/education/money-tips-college-students/'
          %li=link_to"The Biggest Ways Your Small Business Wastes Money", '/education/ways-business-waste-money/'
          %li=link_to"Tips For Starting a Small Business", '/education/tips-for-starting-small-business/'

%section.bottom.bg-darkblue
  .container
    .block25
      %p 

    .block25
      %p 
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}      

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Blog', '/bff/recent_posts'
        %li=link_to 'Factoraje', '/es/'
