---
title: Money Resource Guide | How to Earn & Manage Money
description: In the world of finance, most people like to explore ways to earn money. Learning how to manage it is an important life skill that everyone needs. Here is a high quality guide with great resources to help kids learn everything about this subject including games and information to learn to earn, count and manage money.
canonical: https://gatewaycfs.com/education/money-resource-guide/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/education/"}
            %img{:alt => "Gateway Commercial Finance Gives Back", :itemprop => "logo education", :src => "https://cdn.gatewaycfs.com/logo-giveback.png",}
    .container-right

%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h2 Educational Library
          %h3 Supporting our community through educational programs
          %p
            %strong Making a Difference
          %p We proudly share our time and skills to help educate tomorrow's leaders.

    %article.container-right
      .block
        %hgroup
          %h1 Money Resource Guide
        %p Earning money is important for most adults because they need money to buy things such as food, clothes, and shelter. The money people earn must cover all of their important expenses so they can take care of all of their needs. If any money is left over, it can be split between savings, investments, and free spending. Learning all about money and how to manage it is an important life skill that everyone needs.
        %p
          %strong All About Money
        %p Money comes in two forms: paper money and coins. Knowing how to count paper money and coins will help you manage your cash correctly. You need to know the different values for coins and what they look like so you can pay for items at the store. You will also need to know how to count coins so you can check to make sure that you get the right change after making a purchase. Worksheets can show you pictures of coins and paper money, and you can practice counting. Playing online and board games are other fun and easy ways to build your money skills.
        %ul
          %li
            %a{:href => "http://www.consumercredit.com/media/53325/financial-fun-k-2nd-grade.pdf"}> Financial Fun
             (PDF)
          %li
            %a{:href => "http://www.busyteacherscafe.com/worksheets/mini_offices/coin%20chart.pdf"}> Coin Chart
             (PDF)
          %li
            %a{:href => "https://www.marbleskidsmuseum.org/stuff/contentmgr/files/0/6746b045f08a451bf5db98f7b9adb61a/files/moneypalooza_lesson_plans_11.17.11.pdf"}> Moneypalooza! Board Game
             (PDF)
        %p
          %strong Learn How to Earn Money
        %p In the world of finance, most people like to explore ways to earn money. Adults often get jobs that let them earn paychecks. While kids can't work at jobs in the same way that adults can, you still have ways to earn money. Some young people start a home business and offer services to neighbors such as raking leaves, shoveling snow, or walking dogs. Other kids babysit or watch pets for people on vacation. You could also wash cars or deliver newspapers to earn extra cash.
        %ul
          %li
            %a{:href => "http://www.trimontbank.com/vertical/sites/%7B45C1B5FE-6060-4D40-AB97-9058DF837FB4%7D/uploads/A_Kids_Guide_to_Money.pdf"}> A Kids' Guide to Money
             (PDF)
          %li
            %a{:href => "http://www.kidsmoney.org/mmqa.htm"} Making Money Q&A
          %li
            %a{:href => "http://www.themint.org/kids/ways-kids-can-earn-money.html"} 7 Ways Kids Can Earn Money
          %li
            %a{:href => "http://money.usnews.com/money/personal-finance/articles/2014/06/09/smart-summer-jobs-for-kids"} Smart Summer Jobs for Kids
        %p
          %strong Counting Money
        %p If you don't know how to count money, you won't know how much cash you have. You also might have trouble managing and budgeting your money if you can't count it to keep track of it. Coins to learn include pennies, nickels, dimes, and quarters. Pennies have a value of 1 cent, and nickels are worth 5 cents. Dimes are worth 10 cents, and quarters are worth 25 cents. Counting money is a math skill that involves figuring out the total value of coins and paper bills.
        %ul
          %li
            %a{:href => "http://www.sheppardsoftware.com/mathgames/matching/memoryMath_coins_level1.htm"} Coins: Level 1
          %li
            %a{:href => "http://www.kidsmathgamesonline.com/money/moneycounting.html"} Money-Counting Game
          %li
            %a{:href => "http://www.practicalmoneyskills.com/games/peterpigs/"} Peter Pig's Money-Counter
          %li
            %a{:href => "http://www.mathplayground.com/making_change.html"} Making Change
          %li
            %a{:href => "http://www.math-play.com/Money-Game/Money-Game.html"} Money Game
          %li
            %a{:href => "https://www.superteacherworksheets.com/countingmoney/money_hard_matching_game.pdf"}> Counting Money Matching Game
             (PDF)
          %li
            %a{:href => "http://catalog.mathlearningcenter.org/files/pdfs/BOEM-E-0201.pdf"}> Exploring Money: Adding, Counting, Sorting, Patterning
             (PDF)
          %li
            %a{:href => "http://dodge.uwex.edu/files/2010/06/Learn-Math-Everyday-Fun-Games.pdf"}> Counting With Money
             (PDF)
          %li
            %a{:href => "http://www.harcourtschool.com/activity/counting_money/"} Counting Money
          %li
            %a{:href => "http://www.dynamicfcu.com/Docs_Pdfs/DynamicFCU/Coin%20Roll%20Game%20for%20Elementary.pdf"}> Coin Roll
             (PDF)
          %li
            %a{:href => "http://mathwire.com/money/cleanupmoneygame.pdf"}> Clean Up the Money
             (PDF)
          %li
            %a{:href => "https://walch.com/samplepages/039449.pdf"}> Counting Money and Making Change
             (PDF)
          %li
            %a{:href => "http://www.norwood.k12.ma.us/curriculum/documents/MoneyToss.pdf"}> Math Game: Money Toss
             (PDF)
        %p{:itemprop => "headline"}
          %strong Learn How to Manage Money
        %p As you build your finance skills and begin to earn money, the next skill you will need involves managing your cash. Money management means that you plan your spending and saving to make sure that you have enough money to buy the things you need. While you may not be using your money for needs such as buying food and paying for your home yet, you might have expenses that you need to pay for every month. For example, if your parents give you money for school expenses such as lunches and sports uniforms, you need to make sure that you budget the money you get to pay for everything you need. If you have a part-time job doing yard work for neighbors to pay for your cell phone, you need to make sure that you budget your money each month to pay this bill.
        %ul
          %li
            %a{:href => "https://www.mafcu.org/assets/downloads/VISA-Kids_Money_Guide.pdf"}> The Money Guide
             (PDF)
          %li
            %a{:href => "http://www.entrepreneurkidsacademy.com/wp-content/uploads/2014/03/Money-Worksheet.pdf"}> Money Management Guide for Kids
             (PDF)
          %li
            %a{:href => "http://www.valueyourmoney.org/Budget%20Buzz.pdf"}> Budget Buzz
             (PDF)
          %li
            %a{:href => "http://www.socialstudiesforkids.com/articles/economics/makingabudget1.htm"} Making a Budget
        %p
          %strong Games, Webquests, and More
        %p Learning about money can be both fun and educational. Webquests can take you from website to website on a learning journey about finance. You can pretend that you are earning money and learn how to budget it. You can even explore a shopping mall to make decisions about what you buy from different stores. Learn about the history of United States currency to see how it has changed over the years. Or try an activity where you run a professional sports team and have to take care of its budget.
        %ul
          %li
            %a{:href => "http://ecedweb.unomaha.edu/Dem_Sup/demand.htm"} Explorations in Economic Demand, Part I
          %li
            %a{:href => "http://www.42explore2.com/econ.htm"} Economics Webquest
          %li
            %a{:href => "http://www.moneyinstructor.com/docs/pdf/bills_1.pdf"}> Play Money Bills
             (PDF)
          %li
            %a{:href => "http://edtech2.boisestate.edu/drewyorb/502/webquest/intro.html"} Getting Down to Business Webquest
          %li
            %a{:href => "http://www.funbrain.com/cashreg/"} Change Maker
          %li
            %a{:href => "http://www.umsl.edu/~wpockets/clubhouse/friends.htm"} Wise Pockets Clubhouse
          %li
            %a{:href => "http://www.admongo.gov/"} Admongo Game
          %li
            %a{:href => "http://www.consumer.ftc.gov/sites/default/files/games/off-site/youarehere/index.html"} Virtual Mall Game
          %li
            %a{:href => "http://www.bep.treas.gov/uscurrency/1note.html"} U.S. Currency
          %li
            %a{:href => "http://www.bostonfed.org/peanuts/"} Peanuts & Crackerjacks: The Economics of Pro Team Sports
          %li
            %a{:href => "http://www.treasurydirect.gov/kids/games/games_perry.htm"} Save Perry's Pennies
        %p
          By
          %a{:href => "/company/marc-marin/"}
            %span{:itemprop => "author", :itemscope => "", :itemtype => "https://schema.org/Person"}
              %span{:itemprop => "name"} Marc J. Marin
%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Debt Factoring', '/'
        %li=link_to 'Government Factoring', '/industries/government-factoring/'
        %li=link_to 'How to Sell Your Receivables', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
        %li=link_to 'Florida Factoring', '/locations/florida-factoring/'
    .block25
      %p Resources
      %ul
        %li=link_to 'How Invoice Factoring Works', '/invoice-factoring/how-it-works/'
        %li=link_to 'Invoice Factoring Rates', '/invoice-factoring/cost-fees-rates/'
        %li=link_to 'Financing Receivables', '/bff/financing-receivables/'
        %li=link_to 'How to Compare Factoring Companies', '/invoice-factoring/pick-a-company/'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'
