---
title: Great Tips For Starting a Small Business
description: Starting a small business can be an exciting but confusing time for entrepreneurs. Here are some tips and resources to help you launch successfully.
canonical: https://gatewaycfs.com/education/tips-for-starting-small-business
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/education/"}
            %img{:alt => "Gateway Commercial Finance Gives Back", :itemprop => "logo education", :src => "https://cdn.gatewaycfs.com/logo-giveback.png",}
    .container-right

%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h2 Educational Library
          %h3 Supporting our community through educational programs
          %p
            %strong Making a Difference
          %p We proudly share our time and skills to help educate tomorrow's leaders.

    %article.container-right
      .block
        %hgroup
          %h1 Tips For Starting a Small Business
        %p Starting a new business can be an exciting time for any entrepreneur. With the significant investment of both time and money, a new business owner must proceed carefully to prevent making costly mistakes. The business-starting steps are standard, and most people follow them when launching a new company. While some costs are involved with getting a business off of the ground, there are funding options that can help with these expenses.
        %p One of the first steps to launching a business is to write a detailed business plan. The business plan is a concise summary of the business and its goals. The business plan must include a description of the new company, a market analysis, an overview of the structure of the company, a description of the products or services provided, and details about the marketing plan. If you need funding, you will need to include a projection of earnings and a request for the funds needed. Other steps involved with starting a business include choosing the business location, calculating and allocating funds to finance the startup,   registering the business name, and taking care of all tax details to register the company with state and local governments. If you need licensing and permits to operate the business, complete this application process.
        %p A new business owner will incur specific costs with this venture. To ensure that you are ready to move forward, it may help to estimate these startup costs. The overall budget for a new business will vary depending on the type of business it is. Some people can launch a new company on a shoestring, while others will require significant capital. Costs to expect include fees for securing a business space, for incorporating a new company, for purchasing licenses and permits, and for purchasing business insurance. Some owners may not need business insurance initially. However, a company that holds significant inventory will need protection from the potential of loss. Costs will vary depending on the state and the type of business.
        %p The federal government provides some business grants for non-commercial organizations to assist with funding. For-profit businesses may be able to secure business grants via state and local programs. Grants vary depending on the program and the source of the funding. Some business grants require a business owner to match the funds. Other grants are actually a type of financing with a low-interest loan. It's also possible to secure financing from the federal Small Business Administration. These SBA programs have specific requirements in place that determine eligibility and repayment terms. This option can be an effective way for some new business owners to get funding assistance when they cannot qualify for a standard bank loan.
        %p When a business owner needs to hire one or more employees, the owner will need to comply with specific employment laws. Laws ensure that employers do not discriminate against or harass employees in the workplace. Laws also ensure that employers adhere to wage and hour laws. Employment laws also govern regulations regarding workers' compensation. A business owner must comply with both federal and state   laws regarding employment. To learn about the applicable laws for a   specific business, a new business owner might need to consult with an   attorney. At the minimum, the employer will need to obtain an employment identification number from the federal government. The IRS also requires that employers keep concise records of employment taxes. Employers must also verify an employee's eligibility for employment in the United States. A company must keep workers' compensation insurance in force while employees are on the payroll. To ensure that you adhere   to all requirements, maintain impeccable financial and tax records. You might need to hire an accountant to assist with this process. It's also   crucial that you maintain a safe and respectful workplace for everyone working for you.
        %p
          %strong Important Steps
        %ul
          %li
            %a{:href => "https://www.sba.gov/starting-business/how-start-business/9-steps-starting-business"} Nine Steps to Starting a Business
          %li
            %a{:href => "https://www.irs.gov/Businesses/Small-Businesses-&-Self-Employed/Employer-ID-Numbers-EINs"} Employer ID Numbers
          %li
            %a{:href => "http://www.acq.osd.mil/osbp/docs/reference_of_state_and_local_government_resources.pdf"} What Works for Small Businesses
            (PDF)
          %li
            %a{:href => "http://www.dol.gov/whd/regs/compliance/newbus3.pdf"} Labor Standards Information New and Small Businesses
            (PDF)
          %li
            %a{:href => "https://www.extension.purdue.edu/extmedia/ec/ec-735.pdf"} The Elements of a Business Plan: First Steps for New Entrepreneurs
            (PDF)
          %li
            %a{:href => "http://knowledge.wharton.upenn.edu/article/a-plan-for-ceos-who-want-to-do-good/"} The New Business Plan for Executives Who Want to Do Good
            (Video)
          %li
            %a{:href => "http://extension.psu.edu/business/ag-alternatives/farm-management/developing-a-business-plan"} Developing a Business Plan
          %li
            %a{:href => "http://faculty.caes.uga.edu/pthomas/hort4091.web/busplan.pdf"} Writing a Business Plan
            (PDF)
        %br/
        %p
          %strong Government Assistance
        %ul
          %li
            %a{:href => "http://cardenas.house.gov/sites/cardenas.house.gov/files/Small%20Business%20Grant%20Guide%20Book.pdf"} A Guide to Small Business Funding Opportunities and Incentives
          %li
            %a{:href => "http://www.usda.gov/documents/fact-sheet-usda-programs-assist-individuals-small-businesses.pdf"} Fact Sheet: USDA Programs That Assist Individuals and Small Businesses
            (PDF)
          %li
            %a{:href => "http://cfed.org/knowledge_center/publications/entrepreneurship/SEA_Expansion_Advocacy_Guide.pdf"} New Federal Funding to Serve Unemployed Entrepreneurs in Your Community
            (PDF)
          %li
            %a{:href => "http://lesko.com/cdn/pdf/101-eBook-Intro-Body-proofed-final-big.pdf"} The Best Government Grants in America
            (PDF)
          %li
            %a{:href => "https://www.whitehouse.gov/sites/default/files/rss_viewer/fact_sheet_small_business_jobs_wages_tax_cut.pdf"} Small Business Jobs and Wages Tax Cut
            (PDF)
        %br/
        %p
          %strong Hiring New Employees
        %ul
          %li
            %a{:href => "https://mn.gov/deed/images/15-checklist-for-hiring-an-employee.pdf"} Checklist for Hiring an Employee
            (PDF)
          %li
            %a{:href => "http://coles.kennesaw.edu/coles-overview/centers-and-institutes/small-business-development-center/documents/established-business/The%20Basics%20of%20Hiring%20Employees.pdf"} The Basics of Hiring Employees
            (PDF)
          %li
            %a{:href => "http://www.fit.edu/hr/documents/FAQ%20I9.pdf"} Frequently Asked Questions About I-9 Compliance
            (PDF)
          %li
            %a{:href => "http://www.nrlrc.net/content/membersonly/sidebar/0312_sidebar_competitors_employee.pdf"} How to Avoid Liability When You Hire an Employee From a Competitor
            (PDF)          

        %p
          By
          %a{:href => "/company/marc-marin"}
            %span{:itemprop => "author", :itemscope => "", :itemtype => "https://schema.org/Person"}
              %span{:itemprop => "name"} Marc J. Marin
%section.bottom.bg-darkblue
  .container
    .block25
      %p 
    .block25
      %p 
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}      

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies'
        %li=link_to 'Sitemap', '/sitemap'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'
