aside{
    flex-basis:40%;
	background-color: $green;
	position: relative;
	&:before {
		content: "";
		background: $light-gray url('../images/pic.gif') left 70px no-repeat;
		background-size: 65%;
		opacity: 0.15;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.block{
		float: right;
		text-align: right;
		color: #fff;
		z-index: 2;
		position: relative;
		padding: 80px 80px 80px 200px;
		a{
			color:#fff;
		}
	}
	nav{
		ul{
			padding: 30px 0;
			text-align: right;
			text-transform: uppercase;
			li{
				padding-bottom: 5px;
				a{
					font-size: 15px;
					line-height: 20px;
					font-weight: 400;
				}
				ul{
					padding-left: 0px;
					text-transform: none;
					li{
						list-style: none;
						opacity: .8;
					}
				}
			}
		}
	}
}