.first{
	.container-left{

		background-color: $green;
		position: relative;
		&:before {
			content: "";
			background-image: url('../images/bg-first.jpg');
			opacity: 0.15;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.block{
			float: right;
			text-align: right;
			color: #fff;
			z-index: 2;
			position: relative;
			padding: 80px 80px 80px 200px;
			a{
				color:#fff;
			}
		}
	}
	.container-right{
		color: $dark-gray;
		box-shadow: -4px -4px 4px rgba(0,0,0,.1);
		z-index: 2;

		.block{
			width: 50%;
			float: left;
			padding: 80px 100px 80px 80px;
		}
		.block + .block{
			background-color: $light-gray;
		}
		a{
			color: $dark-gray;
		}
	}
	h3{

		padding-bottom: 20px;
	}
	a:hover{
		text-decoration: underline;
	}
	@media (min-width: 960px) and (max-width: 1199px){
		.container-left .block{
			padding: 40px 40px 40px 100px;
		}
		.container-right .block{
			padding: 40px;
		}

	}
	@media (min-width: 320px) and (max-width: 959px){
		.container-left .block{
			padding: 40px 30px 40px 60px;
		}
		.container-right .block{
			padding: 40px;
		}

	}
}