header.home{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	.logo{
		float: left;
		width: 200px;
		margin: 20px 30px;
	}
	.nav-trigger{
		position: absolute;
		top:20px;
		right: 20px;
		display: none;
		@media (min-width: 320px) and (max-width: 759px){
			display: block;
		}
	}
	nav{
		display: block;
		float: right;
		padding-top: 40px;
		padding-right: 40px;
		ul{
			li{
				float: left;
				text-align: center;
				a{
					font-size: 15px;
					line-height: 20px;
					color: #fff;
					font-weight: 400;
					padding: 10px;
					opacity:.8;
					&:hover{
						opacity:1;
						color: #fff;
					}
				}
				&.button.outline {
					font-size:  15px;
					padding: 2px 5px;
					margin-left: 5px;
					&:hover{
						background-color: #fff;
						a{
							color: $blue!important;
						}
					}
				}
			}
		}
		@media (min-width: 960px) and (max-width: 1199px){
			padding-right: 15px;
			ul{
				li{
					a{
						font-size: 14px;
						padding: 7px;
					}
					&.button.outline {
						font-size:  14px;
						padding: 0px;
						margin-left: 5px;
					}
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 959px){
		height: 80px;
		background-color: #fff;
		.logo{
			width: 150px;
			margin: 12px 20px;
		}
		.flex-container{
			display: block;
			.container-left, .container-right{
				display: inline-block;
			}
			.container-right{
				float: right;
			}
			nav {
				padding: 30px 20px 0 0;
				ul li {
					a{
						color: $dark-gray;
						padding: 8px;
						font-size: 14px;
					}
					&.button.outline {
						border-color:$medium-gray!important;
						margin-top: -5px;
					}
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 759px){
		height: 60px;
		.logo{
			width: 120px;
			margin: 8px 20px;
		}
		nav {
			display: none;
			position: absolute;
			top:60px;
			width: 100%;
			background-color: #fff;
			padding: 0!important;
			ul{
				display: block;
				li{
					width: 100%;
					height: 50px;
					line-height: 50px;
					display: block;
					float: none;
					border-bottom: 1px solid $light-gray;
					&.button.outline {
						border:none!important;
						margin-top: 0;
					}
				}
			}
		}
	}
	&.navbar-fixed-top{
		position: fixed;
		background-color: #fff;
		box-shadow: 4px 4px 4px rgba(0,0,0,.1);
		z-index: 999;
		height: 60px;
		.logo{
			width: 120px;
			margin: 8px 20px;
		}

		nav{
			padding-top: 17px;
		}
		nav ul li a{
			color: $dark-gray;
		}
		nav ul li.button.outline {
			border-color:$dark-gray!important;
		}
	}
}