.industries-home{
	background-color: $medium-gray;
	box-shadow:         inset 0 4px 4px rgba(0,0,0,.2);
	padding: 80px 0;
	text-align: center;
	.cards{
		padding-top: 40px;
		text-align: center;
		.item{
			width: 160px;
			overflow: hidden;
			display: inline-block;
			text-align: center;
			.content{
				width: 100%;
				background-color: #fff;
				margin-bottom: 5px;
				height: 80px;
				position: relative;
				opacity: .9;
				display: inline-block;
				img{
					padding-top: 10px;
				}
				h5{
					position: absolute;
					bottom: 8px;
					width: 100%;
					text-align: center;
					font-weight: 200;
					margin: 0;
					padding: 0 5px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				&:hover{
					box-shadow: 0px 0px 4px rgba(0,0,0,.2);
					opacity: 1;
					cursor: pointer;
				}
			}
			&.large{
				.content{
					height: 165px;
					img{
						padding-top: 40px;
					}
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 1199px){
		.cards {
			padding: 0;
			.item{
				width: 128px;
				h5{
					font-size: 14px;
					bottom: 0px;
				}
			}
		}
	}
	@media (min-width: 760px) and (max-width: 959px){
		.cards {
			.item{
				width: 97px;
				h5{
					font-size: 13px;
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 759px){
		.cards {
			.item{
				width:120px;
				margin-right: 5px;
				h5{
					font-size: 13px;
				}
			}
		}
	}
}
