.industry-detail{
	h1{
		font-size: 26px!important;
	}
	> div{
		font-size: 80%;
		overflow: hidden;
		border-bottom: 1px solid $light-gray;
		padding-bottom: 20px;
		margin-bottom: 30px;
		> div img{
			float: left;
			margin-right: 30px;
			overflow: hidden;
		}
		h3{
			color: $green;
			padding-bottom: 10px;
			font-size: 18px;
		}
	}
	.column-content{
		//column-count: 2;
		font-size: 80%;
	}
	@media (min-width: 320px) and (max-width: 479px){
		> div{
			float: none!important;
			img{
				float:none!important;
			}
		}
		.column-content{
			column-count: 1;
		}
	}
}