.industries{
	.industries-list{
		text-align: center;
	}
	.industry{
		width: 200px;
		margin: 0 10px 10px 10px;
		display: inline-block;
		vertical-align: top;
		border:1px solid #fff;

		.image{
			text-align: center;
			height: 100px;
			display: flex;
			justify-content:center;
			align-items: center;
			img{
				width: 90px;
				padding: 20px;
			}
			background-color: lighten($light-gray, 3%);
		}
		ul{
			padding: 20px 10px;
			li{
				list-style: none;
				border-bottom: 1px solid $light-gray;
				text-align: center;
				a{
					border-bottom: none;
					font-size: 14px;
					line-height: 14px;
					&:hover{
						color: $blue;
					}
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
		&:hover{
			border:1px solid $light-gray;
		}
	}
}
