header.internal{
	height: 125px;
	z-index: 4;
	position: absolute;
	width: 100%;
	.logo{
		float: left;
		width: 200px;
		margin: 30px 30px 0 30px;
		@media (min-width: 320px) and (max-width: 959px){
			width: 150px;
			margin-top: 35px;
		}
	}
	.container-left{
    	flex-basis:30%!important;
	}
	.container-right{
		background-color: $light-gray;
    	flex-basis:70%!important;
	}
	.contact{
		text-align: right;
		padding: 15px 20px 0 0;
		line-height: 22px;
		font-size: 20px;
		.button.outline-green {
			border-color: $blue;
			position: relative;
			margin-left: 10px;
			padding: 0;
			background-color: #fff;
			top:-3px;
			a{
				padding: 3px 9px;
				color: $blue;
				font-size: 16px;
				line-height: 20px;
				display: block;
				margin: 0;
			}
			&:hover{
				background-color: $blue;
				border-color: $blue;
				a{
					color: #fff!important;
					padding: 3px 9px;
					border-bottom: 0;
				}
			}
		}
	}
	.nav-trigger{
		position: absolute;
		z-index: 99;
		top:20px;
		right: 20px;
		display: none;
		cursor: pointer;
		@media (min-width: 320px) and (max-width: 759px){
			display: block;
		}
	}
	nav{
		display: block;
		padding-top: 10px;
		width: 100%;
		float: none;
		position: relative;
		z-index: 999;
		ul{
			overflow: hidden;
			li{
				float: left;
				text-align: center;
				margin-right: 1px;
				a{
					color:$dark-gray;
					font-weight: 400;
					padding:0px 12px 12px 12px;
					display: block;
					&:hover{
						color: $green;
						border-bottom: 4px solid $green;
						padding-bottom: 8px;
					}
				}
				&.selected{
					border-bottom: 4px solid $green;
					a{
						padding-bottom: 8px;
						color: $blue;
						font-weight: 700;
						&:hover{
							border-bottom: none;
							padding-bottom: 8px;
						}
					}
				}
				&:first-child{
					padding-left: 20px;
				}
			}
			&.submenu{
				background-color: $blue;
				width: 100%;
				position: absolute;
				top:46px;
				left: 0;
				a{
					padding:8px 10px;
					border-bottom: none;
					color: #fff!important;
					font-weight: 200!important;
					&:before{
						content: '›';
						padding-right: 5px;
						text-decoration: none!important;
					}
					&:hover{
						color: #fff!important;
						text-decoration: underline;
					}
				}
			}
		}
		@media (min-width: 760px) and (max-width: 959px){
			ul{
				li{
					a{
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 759px){
		height: auto;
		.logo{
			width: 120px;
			margin: 8px 20px;
		}
		.contact{
			text-align: right;
			padding: 10px 20px 0 0;
			height: 40px;
		}
		nav {
			display: none;
			position: absolute;
			top:60px;
			width: 100%;
			background-color: #fff;
			padding: 0!important;
			height: auto;
			box-shadow: 4px 4px 4px rgba(0,0,0, .1);
			border-top: 1px solid $light-gray;

			ul{
				display: block;
				li{
					text-align: left;
					width: 100%;
					line-height: 50px;
					display: block;
					float: none;
					a{
						padding-left: 20px;
						border-bottom: 1px solid $light-gray;
						padding-bottom: 0px;
						&:hover{
							padding-bottom: 11px;
							border-bottom: 1px solid $light-gray;
							padding-bottom: 0px;
						}
					}
					&.selected{
						padding-left: 0;
						border-bottom: 1px solid $light-gray;
						a, a:hover{
							border-bottom: 1px solid $light-gray;
							padding-bottom: 0px;
						}
					}
					ul.submenu{
						background-color: #fff;
						position: relative;
						top:0;
						left: 0;
						li{
							padding-left: 20px;
							a{
								color: $dark-gray!important;
								padding-top: 0;
								&:hover{
									color: $green!important;
								}
							}
							&:last-child a{
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
}