header.internal{
	height: 125px;
	z-index: 4;
	position: absolute;
	width: 100%;
	.logo{
		float: left;
		width: 200px;
		margin: 30px 30px 0 30px;
	}
	.container-left{
    	flex-basis:30%!important;
	}
	.container-right{
		background-color: $light-gray;
    	flex-basis:70%!important;
	}
	.contact{
		text-align: right;
		padding: 15px 20px 0 0;
		line-height: 22px;
		font-size: 20px;
		.button.outline-green {
			border-color: $blue;
			position: relative;
			margin-left: 10px;
			padding: 0;
			background-color: #fff;
			top:-3px;
			a{
				padding: 3px 9px;
				color: $blue;
				font-size: 16px;
				line-height: 20px;
				display: block;
				margin: 0;
			}
			&:hover{
				background-color: $blue;
				border-color: $blue;
				a{
					color: #fff!important;
					padding: 3px 9px;
					border-bottom: 0;
				}
			}
		}
	}
	nav{
		padding-top: 10px;
		width: 100%;
		float: none;
		position: relative;
		ul{
			overflow: hidden;
			li{
				float: left;
				text-align: center;
				margin-right: 1px;
				a{
					color:$dark-gray;
					font-weight: 400;
					padding:0px 12px 12px 12px;
					display: block;
					&:hover{
						color: $green;
						border-bottom: 4px solid $green;
						padding-bottom: 8px;
					}
				}
				&.selected{
					border-bottom: 4px solid $green;
					a{
						padding-bottom: 8px;
						color: $blue;
						font-weight: 700;
						&:hover{
							border-bottom: none;
							padding-bottom: 8px;
						}
					}
				}
				&:first-child{
					padding-left: 20px;
				}
			}
			&.submenu{
				background-color: $blue;
				width: 100%;
				position: absolute;
				top:46px;
				left: 0;
				a{
					padding:8px 10px;
					border-bottom: none;
					color: #fff!important;
					font-weight: 200!important;
					&:before{
						content: '›';
						padding-right: 5px;
						text-decoration: none!important;
					}
					&:hover{
						color: #fff!important;
						text-decoration: underline;
					}
				}
			}
		}
		@media (min-width: 760px) and (max-width: 959px){
			ul{
				li{
					a{
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}
		@media (min-width: 320px) and (max-width: 759px){
			display: none;
		}
	}
}