.internal-content{
	padding-top: 129px;
	.container-left{
		order:1;
	}
	.container-right {
		order: 2;
	}
	article{
	    flex-basis:70%!important;
	    box-shadow: -4px -4px 4px rgba(0,0,0,.1);
	    z-index: 2;
	    .block{
	    	padding: 80px 100px 80px 80px;
	    	max-width: 900px;
	    }

	    h1{
	    	color: $blue;
	    	font-size: 32px;
	    	line-height: 32px;
	    	padding: 0;
	    }
	    h2{
	    	color: $blue;
	    	font-size: 24px;
	    	margin-bottom: 0;
	    }
	    h3{
	    	font-size: 20px;
	    	padding-bottom: 20px;
	    }
	    hgroup{
	    	text-align: left;
	    }
	    ul{
	    	padding: 0 20px 30px 20px;
	    	li{
	    		list-style: circle;
	    	}
	    }
	    ol{
	    	padding: 0 20px 30px 20px;
	    	position: relative;
	    	> li{
	    		list-style: decimal;
	    		padding-left: 15px;
	    		padding-bottom: 10px;
	    		margin-left: 4px;
	    		&:before{
	    			background-color:$light-gray;
	    			width: 25px;
	    			height: 25px;
	    			border-radius: 50%;
	    			position: absolute;
	    			content: '';
	    			left: 0;
	    			z-index: -1;
	    		}
	    		ul{
	    			li{

	    			}
	    		}
	    	}
	    }
	    p.highlighted{
	    	background-color: $light-gray;
	    	padding: 10px;
	    	font-weight: 400;
	    	margin-bottom: 30px;
	    }
	    img{
	    	display: inline-block;
	    	max-width: 100%;
	    	padding-bottom: 20px;
	    }
	    a{
	    	color: $green;
	    	padding-bottom: 2px;
	    	border-bottom: 1px solid rgba($green, .7);
	    }
	    .cols{
	    	padding: 30px 0;
	    	overflow: hidden;
	    }
	    .col50{
	    	width: 50%;
	    	padding-right: 30px;
	    	display: inline-block;
	    	float: left;
	    }
	    .col50 + .col50{
	    	padding-right: 0;
	    }
	}
	@media (min-width: 960px) and (max-width: 1199px){
		.container-left .block{
			padding: 40px 40px 40px 100px;
		}
		.container-right .block{
			padding: 40px;
		}

	}
	@media (min-width: 320px) and (max-width: 959px){
		.container-left .block{
			padding: 40px 30px 40px 60px;
		}
		.container-right .block{
			padding: 40px;
		}

	}
	@media (min-width: 320px) and (max-width: 759px){
		padding-top: 100px;
		.flex-container{
			display: flex;
			flex-direction: column;
		}
		.container-left{
			order:2;
			flex-basis:100%!important;
			flex-wrap: wrap!important;
		}
		.container-right {
			order:1;
			flex-basis:100%!important;
			flex-wrap: wrap!important;
			flex-shrink: 0;
		}
		.container-right .block{
			padding: 30px 15px;
		}
		.container-left .block{
			padding: 30px 15px;
			text-align: center;
			width: 100%;
			ul{
				text-align: center;
			}
		}

	}
	@media (min-width: 320px) and (max-width: 479px){
		.col50{
			width: 100%!important;
			padding-right: 0!important;
		}
	}
}


