.internal-content{
	padding-top: 129px;
	article{
	    flex-basis:70%!important;
	    box-shadow: -4px -4px 4px rgba(0,0,0,.1);
	    z-index: 2;
	    .block{
	    	padding: 80px 100px 80px 80px;
	    	max-width: 900px;
	    }

	    h1{
	    	color: $blue;
	    	font-size: 32px;
	    	line-height: 32px;
	    	padding: 0;
	    }
	    hgroup{
	    	text-align: left;
	    }
	    ul{
	    	padding: 20px;
	    	li{
	    		list-style: circle;
	    	}
	    }
	    p.highlighted{
	    	background-color: $light-gray;
	    	padding: 10px;
	    	font-weight: 400;
	    	margin-bottom: 30px;
	    }
	    img{
	    	display: inline-block;
	    	max-width: 100%;
	    	padding-bottom: 20px;
	    }
	    a{
	    	color: $green;
	    	padding-bottom: 2px;
	    	border-bottom: 1px solid rgba($green, .7);
	    }
	}
	@media (min-width: 960px) and (max-width: 1199px){
		.container-left .block{
			padding: 40px 40px 40px 100px;
		}
		.container-right .block{
			padding: 40px;
		}

	}
	@media (min-width: 320px) and (max-width: 959px){
		.container-left .block{
			padding: 40px 30px 40px 60px;
		}
		.container-right .block{
			padding: 40px;
		}

	}
	@media (min-width: 320px) and (max-width: 759px){
		.container-left .block{
			padding: 40px;
			text-align: center;
		}
		.container-right .block{
			padding: 30px 15px;
		}

	}
}


