.text-contents{
	.container-left{
		padding: 40px 80px 40px 120px;
		img{
			width: 100%;
		}
	}
	.container-right{
		.block{
			padding: 80px;
		}
	}
	@media (min-width: 960px) and (max-width: 1199px){
		.container-left{
			padding: 20px 40px 20px 60px;
		}
		.container-right{
			.block{
				padding: 40px;
			}
		}
	}
	@media (min-width: 320px) and (max-width: 959px){
		.container-left{
			padding: 30px 10px;
		}
		.container-right{
			.block{
				padding: 30px;
			}
		}
	}
	@media (min-width: 320px) and (max-width: 759px){
		.container-left{
			text-align: center;
			img{
				max-width: 300px;
			}
		}
		.flex-container{
			border-bottom: 1px solid $medium-gray;
		}
	}
}