.top{
	.flex-container{
		background: url('https://cdn.gatewaycfs.com/new/optimized/bg-top.jpg') top left no-repeat;
		background-size: cover;
	}
	.container-left{

	}
	.container-right{
		box-shadow: -4px -4px 4px rgba(0,0,0,.4);
		background-color: rgba($blue, .85);
		color: #fff;
		text-align: center;
	}
	.caption{
		padding: 220px 20px 80px 20px;
	}
	.actions{
		overflow: hidden;
		i{
			float: left;
			display: inline-block;
			padding-right: 10px;
			img{
				width: 24px;
			}
		}
	}
	.inc500{
		max-width: 100%;
		background-color: #fff;
		position: relative;
	}
	@media (min-width: 320px) and (max-width: 959px){
		.caption{
			padding: 150px 20px 40px 20px;
		}
		.actions{
			.block-left, .block-right{
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}
}