header.internal{
	background-color: #ffffff; // Old browsers
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 65%, #ededed 65%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 65%,#ededed 65%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 65%,#ededed 65%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	height: 115px;
	.logo{
		width: 150px;
		margin: 10px 30px 0 30px;
	}
	nav{
		padding-top: 40px;
		width: 100%;
		float: none;
		ul{
			overflow: hidden;
			float: right;
			li{
				float: left;
				text-align: center;
				a{
					color:$dark-gray;
					font-weight: 400;
					padding-top:0px;
					padding-bottom: 15px;
					display: block;
					&:hover{
						color: $green;
						border-bottom: 4px solid $blue;
						padding-bottom: 11px;
					}
				}
				&.button.outline {
					border-color: $medium-gray;
					position: relative;
					a{
						padding-bottom: 0;
					}
					&:hover{
						background-color: $blue;
						border-color: $blue;
						a{
							color: #fff!important;
							padding-bottom: 0;
							border-bottom: 0;
						}
					}
				}
				&.selected{
					border-bottom: 4px solid $medium-gray;
					a{
						padding-bottom: 11px;
						color: $blue;
						&:hover{
							border-bottom: none;
							padding-bottom: 11px;
						}
					}
				}
			}
			&.submenu{
				background-color: $light-gray;
				width: 100%;
				position: absolute;
				top:74px;
				padding-left: 0;
				a{
					padding: 10px;
					border-bottom: none;
					color: $dark-gray;
					&:hover{
						color: $green;
						border-bottom: none;
					}
				}
			}
		}
	}
}