header.internal{
	background-color: #ffffff;
	height: 125px;
	z-index: 4;
	position: absolute;
	width: 100%;
	.logo{
		float: left;
		width: 200px;
		margin: 20px 30px;
	}
	.container-left{
		box-shadow: 4px -4px 4px rgba(0,0,0,.05);
	}
	.contact{
		text-align: right;
		padding: 15px 20px 0 0;
		line-height: 22px;
		.button.outline-green {
			border-color: $blue;
			position: relative;
			margin-left: 10px;
			padding: 0;
			a{
				padding: 0px 7px;
				color: $blue;
				font-size: 14px;
				line-height: 20px;
				display: block;
				margin: 0;
			}
			&:hover{
				background-color: $blue;
				border-color: $blue;
				a{
					color: #fff!important;
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		}
	}
	nav{
		padding-top: 10px;
		width: 100%;
		float: none;
		position: relative;
		ul{
			overflow: hidden;
			li{
				float: left;
				text-align: center;
				a{
					color:$dark-gray;
					font-weight: 400;
					padding:0px 10px 12px 10px;
					display: block;
					&:hover{
						color: $green;
						border-bottom: 4px solid $blue;
						padding-bottom: 8px;
					}
				}
				&.selected{
					border-bottom: 4px solid $medium-gray;
					a{
						padding-bottom: 8px;
						color: $blue;
						&:hover{
							border-bottom: none;
							padding-bottom: 8px;
						}
					}
				}
				&:first-child{
					padding-left: 20px;
				}
			}
			&.submenu{
				background-color: $light-gray;
				width: 100%;
				position: absolute;
				top:46px;
				left: 0;
				a{
					padding:8px 10px;
					border-bottom: none;
					color: $dark-gray;
					&:hover{
						color: $green;
						border-bottom: none;
					}
				}
			}
		}
		@media (min-width: 760px) and (max-width: 959px){
			ul{
				li{
					a{
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}
		@media (min-width: 320px) and (max-width: 759px){
			display: none;
		}
	}
}