.top{
	.flex-container{
		background: url('../images/bg-top.jpg') top left no-repeat;
		background-size: cover;
	}
	.container-left{

	}
	.container-right{
		box-shadow: -4px -4px 4px rgba(0,0,0,.4);
		background-color: rgba($blue, .85);
		color: #fff;
		text-align: center;
	}
	.caption{
		padding: 220px 20px 80px 20px;
	}
	.actions{
		overflow: hidden;
		i{
			float: left;
			display: inline-block;
			padding-right: 10px;
			img{
				width: 24px;
			}
		}
	}
	.inc500{
		height: 70px;
		background-color: $medium-gray;
		position: relative;
		img{
			height: 70px;
		}
	}
}