---
title: Invoice Factoring Intro
description: alk to us today to understand why Gateway Commercial Finance is your best choice as a factoring company. Competitive rates.  Accessible financing
canonical: https://gatewaycfs.com/services/factoring-intro/
robots: noindex,follow
---

.container
  %section.internal-content
    .int_main_content

      %h1 How Does Invoice Factoring Work?<br>Cash Flow Financing Without Debt
      %p
        %strong The process is simple
      %p We will purchase your valid invoices for completed work and provide you with an immediate cash advance against those invoices. When your customer pays you will receive the balance minus our  fees.
      %p.highlighted <strong> Example:</strong> <br>A customer makes an agreement with a factoring company. The advance rate for this example is 85% and the factoring discount (fees) 1% every 30 days.<br>The customer sells a $1000 invoice to the factor and receives $850 as soon as the invoice purchase is approved.<br>When the invoice is collected, let's say after 30 days, the factoring company wires the customer $1000 minus $850 (advance already deposited) minus $10 ( factoring fees).<strong>It's that simple!</strong>
      %p
        %strong Do I have to factor all my invoices? Are there minimums or maximums?
      %p No. One of the more attractive benefits of factoring is you can pick and choose which invoices you factor. This allows you to control the costs of factoring and maintain the cash flow you desire.
      %p
        %strong How much of the total invoice can I expect as an advance?
      %p A number of items will determine the amount you will receive, but it will range from 75 percent to 95 percent of the total invoice. Some of the things determining the amount include your customer terms, past experience, industry, and perceived risk factors.
      %p
        %strong What does factoring cost?
      %p As with the last question, your actual fees and cost will vary based on a number of variables. However, you can expect a total monthly fee of 0.5 percent to 2.0 percent.
      %p
        %strong How do I receive my advance and how quickly?
      %p You will receive your funds by bank wire straight into your designated account. Your funding schedule will depend on your particular arrangement, but funds can be wired within 24 hours or less of invoice submission and approval.
      %p
        %strong How does my credit rating affect my ability to factor invoices?
      %p Decisions to factor are based <strong> on the credit rating of the customer, not your company</strong>. One important function of most factors is to help you evaluate that customer’s credit before you start work so you better understand the risk they represent.
          




