---
title: How Does Invoice Factoring Work | All You Need To Know
description: Don't waste your time surfing the web looking for answers. Here is the most complete guide about invoice factoring you’ll ever find.
canonical: https://gatewaycfs.com/invoice-factoring/how-it-works
robots: index,follow
---
.container
  %section.internal-content
    .int_main_content
      %h3.open_sans.semi
        How Does Invoice Factoring Work?
        %br/
        Cash Flow Financing Without Debt
      %p
        %strong The process is simple
      %p We will purchase your valid invoices for completed work and provide you with an immediate cash advance against those invoices. When your customer pays you will receive the balance minus our  fees.
      .backgrey
        %p
          %strong Example:
        %p A customer makes an agreement with a factoring company. The advance rate for this example is 85% and the factoring discount (fees) 1% every 30 days.
        %p The customer sells a $1000 invoice to the factor and receives $850 as soon as the invoice purchase is approved.
        %p
          When the invoice is collected, let's say after 30 days, the factoring company wires the customer $1000 minus $850 (advance already deposited) minus $10 ( factoring fees).
          %strong It's that simple!
      %p
        %strong Do I have to factor all my invoices? Are there minimums or maximums?
      %p No. One of the more attractive benefits of factoring is you can pick and choose which invoices you factor. This allows you to control the costs of factoring and maintain the cash flow you desire.
      %p
        %strong How much of the total invoice can I expect as an advance?
      %p A number of items will determine the amount you will receive, but it will range from 75 percent to 95 percent of the total invoice. Some of the things determining the amount include your customer terms, past experience, industry, and perceived risk factors.
      %p
        %strong What does factoring cost?
      %p As with the last question, your actual fees and cost will vary based on a number of variables. However, you can expect a total monthly fee of 0.5 percent to 2.0 percent.
      %p
        %strong How do I receive my advance and how quickly?
      %p You will receive your funds by bank wire straight into your designated account. Your funding schedule will depend on your particular arrangement, but funds can be wired within 24 hours or less of invoice submission and approval.
      %p
        %strong How does my credit rating affect my ability to factor invoices?
      %p
        Decisions to factor are based
        = succeed "." do
          %strong on the credit rating of the customer, not your company
      %h3.open_sans.semi
        DOES YOUR BUSINESS QUALIFY FOR FACTORING?
        %br/
        Take this quick quiz to know
      #cr-stage{:style => "width: 700px; height: 400px; overflow: hidden; position: relative; background: rgb(45, 61, 75);"}
        %div{:style => "position: absolute; z-index: 1; transform: scale(1, 1);"}
          #ent3.2D.DOM.Image.obj{:style => "position: absolute; visibility: visible; width: 700px; height: 400px; opacity: 1; transform: translate3d(0px, 0px, 0px); background: url(\"./assets/images/themebg.png\") no-repeat;"}
          #ent4.2D.DOM.Color.obj{:style => "position: absolute; visibility: visible; width: 700px; height: 160px; opacity: 0.65; transform: translate3d(0px, 100px, 0px); background: rgb(229, 15, 30); line-height: 0;"}
          #ent5.2D.DOM.Text.obj{:style => "position: absolute; font-family: Lato; font-size: 30px; color: rgb(255, 255, 255); text-align: center; line-height: 1.5em; visibility: visible; width: 595px; height: 50px; opacity: 1; transform: translate3d(50px, 115px, 0px);"} Does your company qualify for factoring with Gateway? Take the quiz to find out!
          #ent6.Sign.2D.DOM.Color.Mouse.obj{:style => "position: absolute; border: 3px solid rgb(255, 255, 255); border-radius: 12px; visibility: visible; width: 300px; height: 60px; opacity: 1; transform: translate3d(200px, 300px, 0px); background: rgb(229, 15, 30); line-height: 0;"}
          #ent7.2D.DOM.Text.obj{:style => "position: absolute; font-family: Lato; font-size: 30px; color: rgb(255, 255, 255); text-align: center; cursor: pointer; line-height: 60px; visibility: visible; width: 300px; height: 60px; opacity: 1; transform: translate3d(200px, 300px, 0px);"} Start
.fix_footer
/ Footer
/ End footer
%script{:src => "./Factoring Company _ Talk to a Decision Maker_files/jquery-1.7.2.min.js.gz"}
%script{:async => "", :src => "./Factoring Company _ Talk to a Decision Maker_files/jquery.fancyboxcombined.js.gz"}
%script{:src => "./Factoring Company _ Talk to a Decision Maker_files/supersized.3.2.6.min.js.gz"}
:javascript
  function slideSwitch(){var e=$(".slide_banner div.active");0==e.length&&(e=$(".slide_banner div:last"));var a=e.next().length?e.next():$(".slide_banner div:first");e.addClass("last-active"),a.css({opacity:0}).addClass("active").animate({opacity:1},1e3,function(){e.removeClass("active last-active")})}$(function(){setInterval("slideSwitch()",5e3)});
:javascript
  $(document).ready(function(){$(".fancybox").fancybox(),$(".fancybox-media").attr("rel","media-gallery").fancybox({openEffect:"none",closeEffect:"none",prevEffect:"none",nextEffect:"none",arrows:!1,helpers:{media:{},buttons:{}}})});
/ Below are the settings of the quiz. They are all required
:javascript
  var assets = {
              background:"./assets/images/themebg.png",
              color:"#e50f1e",
              textColor: "#FFFFFF",
              gameInstructions:"Does your company qualify for factoring with Gateway? Take the quiz to find out!",
              questions:["Does your company sell products or services to other businesses on terms? ","Are most of your customers credit-worthy businesses?","Does your company have two or more repeated customers?","Are your sales at least $5,000 per month?","Has your business ever been denied or experienced limited bank financing?","Is your company incorporated and operating in USA?","Are you struggling with payroll and/or other associated day to day expenses? ","Do your customers take 30 days or longer to pay?"],
              killerQst:[false,false,false,false,false,false,false,false],
              answers:[true,true,true,true,true,true,true,true],
              passMark:100,
              loserMsg:"It looks like your business may not fulfill the typical requirements for invoice factoring.",
              loseLink:false,
              winnerMsg:"Congratulations! Your business seems to qualify for factoring services. Talk to a Decision Maker Now! 1.855.424.2955 ",
              winLink:false,
          };
          window.onload = function() {
            FyreboxYN(assets);
          }
#supersized-loader
%ul#supersized