---
title: Invoice Factoring Calculator | Estimate Fees and Advances
description: Take advantage of our complementary business financial tools. Calculate invoice factoring fees based on the type of rate your business agrees with your factoring company.  Also get free access to factoring advance rate calculators, DSO, Customer Concentration, Z-Score and others.
canonical: https://gatewaycfs.com/invoice-factoring/calculator/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "http://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com/", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png"}/
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            %a{:href => "/invoice-factoring/how-it-works/"} Invoice Factoring
            %ul.submenu
              %li
                %a{:href => "/invoice-factoring/how-it-works/"} How it works
              %li
                %a{:href => "/invoice-factoring/requirements/"} Do you Qualify?
          %li
            %a{:href => "/industries/"} Industries We Serve
          %li
            %a{:href => "/company/"} Our Company
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              %ul.submenu
                %li
                  %a{:href => "/invoice-factoring/cost-fees-rates/"} Factoring company rates
                %li
                  %a{:href => "/invoice-factoring/cash-advances/"} What is a factoring advance?
                %li
                  %a{:href => "/services/purchase-order-financing/"} P.O. financing
            %li
              %a{:href => "/company/contact/"} Contact Us
        %button.outline
          %a{:href => "/invoice-factoring/quote/"} FACTORING QUOTE
    %article.container-right
      .block
        %hgroup
          %h1 Invoice Factoring Calculator & Other Business Financial Tools
          %h2 Factoring Fees, Advance Rates, Customer Concentration Calculators
        %h3
          %a{:href => "/invoice-factoring/cost-fees-rates/"}> Calculate Invoice Factoring Fees based on your Factoring Rates
          \:
        %p This link will take you to a detailed explanation of factoring rates and calculators to estimate your factoring fees based on the type of rate your business agrees with the factor.
        %ul
          %li Flat Discount
          %li Flat Discount Plus Prime
        %h3
          %a{:href => "/invoice-factoring/cash-advances/"} Calculate Your Factoring Advance
        %p This page includes a complete explanation of factoring advances and a simple calculator to estimate the advance your business will get when selling and invoice to a factor.
        %h3
          %a{:href => "/bff/avoiding-high-customer-concentration"} Calculate Your Customer Concentration
        %p This page includes:
        %ul
          %li A great explanation of what customer concentration is, and how it affects your business risk and factoring rates
          %li A simple calculator to estimate your company's customer concentration
        %h2 Calculators to Keep Your Business in Shape
        %p Whatever the economic environment, there is always a need to understand your current financial health. We've provided some basic financial tools so you may comprehend your cash flow cycle better. Effective cash flow management is key to a successful business.
        %h3
          %a{:href => "/bff/cash-conversion-cycle-calculator"}> Measure Your Cash Conversion Cycle
          \:
        %ul
          %li Determining how fast your customers pay
          %li Determining how quickly you pay your vendors
          %li Testing how quickly your inventory turns over
          %li Testing how quickly cash is converted
        %h3
          %a{:href => "/bff/z-score-calculator"} Measure the Z-Score
        %p The Z-Score is a model that determines the likelihood a business will file bankruptcy. This is an excellent tool to help you determine the probability that a customer may file bankruptcy.
%section.bottom.bg-darkblue
  .container
    .block25
      %p Invoice Factoring
      %ul
        %li
          %a{:href => "/industries/staffing-factoring/"} Staffing Factoring
        %li
          %a{:href => "/industries/commercial-services-factoring/"} Service Factoring
        %li
          %a{:href => "/locations/florida-factoring/"} Factoring Florida
    .block25
      %p Resources
      %ul
        %li
          %a{:href => "/bff/ob/invoice-discounting-factoring"} Invoice discounting
        %li
          %a{:href => "/bff/ob/emergency-funding-pros-cons"} Emergency Business Funding
        %li
          %a{:href => "/industries/transportation-factoring/"} Transportation Factoring
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :height => "27", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA", :width => "80"}/
        %img{:alt => "associations", :height => "21", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB", :width => "81"}/
        %img{:alt => "factoring credit", :height => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B", :width => "63"}/
        %img{:alt => "factoring members", :height => "43", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA", :width => "122"}/
        %img{:alt => "factoring associations", :height => "40", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA", :width => "122"}/
%footer.bg-darkblue
  .container
    .social
      %a{:href => "https://www.facebook.com/gatewaycfs", :target => "_blank"}
        %img{:alt => "Facebook", :src => "../../assets/images/icons/facebook.svg"}/
      %a{:href => "https://twitter.com/GatewayCFS", :target => "_blank"}
        %img{:alt => "Twitter", :src => "../../assets/images/icons/twitter.svg"}/
      %a{:href => "https://www.linkedin.com/company/2525331/", :target => "_blank"}
        %img{:alt => "Linkedin", :src => "../../assets/images/icons/linkedin.svg"}/
    %span Copyright Gateway Commercial Finance, LLC 2020
    %nav
      %ul
        %li
          %a{:href => "/privacy-policies/"} Privacy
        %li
          %a{:href => "/sitemap/"} Sitemap
        %li
          %a{:href => "/education/"} Education  
  
