---
title: Invoice Factoring Calculator | Estimate Fees and Advances
description: Complementary business financial tools. Calculate invoice factoring fees, advance rates, DSO, Customer Concentration, Z-Score and others.
canonical: https://gatewaycfs.com/invoice-factoring/calculator
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/logos/gateway.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote'
      %nav
        %ul
          %li.selected
            =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works'
            %ul.submenu
              %li=link_to 'How it works', '/invoice-factoring/how-it-works'
              %li=link_to 'How much factoring costs', '/invoice-factoring/cost-fees-rates'
              %li=link_to 'Do you Qualify?', '/invoice-factoring/requirements'
          %li=link_to 'Industries We Serve', '/industries/'
          %li=link_to 'Our Company', '/company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Factoring Service', '/services/accounts-receivable-factoring'
              %ul.submenu
                %li=link_to 'Factoring company rates', '/invoice-factoring/cost-fees-rates'
                %li=link_to 'What is a factoring advance?', '/invoice-factoring/cash-advances'
                %li=link_to 'P.O. financing', '/services/purchase-order-financing'
            %li=link_to 'Contact Us', '/company/contact'
        %button.outline=link_to 'FACTORING QUOTE', '/invoice-factoring/quote'
    %article.container-right
      .block
        %hgroup
          %h1 Invoice Factoring Calculator & Other Business Financial Tools
          %h2 Factoring Fees, Advance Rates, Customer Concentration Calculators

        %h3 <a href="/invoice-factoring/cost-fees-rates">Calculate Invoice Factoring Fees based on your Factoring Rates</a>:
        %p This link will take you to a detailed explanation of factoring rates and calculators to estimate your factoring fees based on the type of rate your business agrees with the factor.
        %ul
          %li Flat Discount
          %li Flat Discount Plus Prime
        %h3 <a href="/invoice-factoring/cash-advances">Calculate Your Factoring Advance</a>
        %p This page includes a complete explanation of factoring advances and a simple calculator to estimate the advance your business will get when selling and invoice to a factor.
        %h3 <a href="/bff/avoiding-high-customer-concentration">Calculate Your Customer Concentration</a>
        %p This page includes:
        %ul
          %li A great explanation of what customer concentration is, and how it affects your business risk and factoring rates
          %li A simple calculator to estimate your company's customer concentration
        %h2 Calculators to Keep Your Business in Shape
        %p Whatever the economic environment, there is always a need to understand your current financial health. We've provided some basic financial tools so you may comprehend your cash flow cycle better. Effective cash flow management is key to a successful business.
        %h3 <a href="/bff/cash-conversion-cycle-calculator">Measure Your Cash Conversion Cycle</a>:
        %ul
          %li Determining how fast your customers pay
          %li Determining how quickly you pay your vendors
          %li Testing how quickly your inventory turns over
          %li Testing how quickly cash is converted 
        %h3 <a href="/bff/z-score-calculator">Measure the Z-Score</a>
        %p The Z-Score is a model that determines the likelihood a business will file bankruptcy. This is an excellent tool to help you determine the probability that a customer may file bankruptcy.

%section.bottom.bg-darkblue
  .container
    .block25
      %p Invoice Factoring
      %ul
        %li=link_to 'Staffing Factoring', '/industries/staffing-factoring'
        %li=link_to 'Service Factoring', '/industries/commercial-services-factoring'
        %li=link_to 'Factoring Florida', '/locations/florida-factoring'
        %li=link_to 'Transportation Factoring', '/industries/transportation-factoring'
    .block25
      %p Resources
      %ul
        %li=link_to 'Loan Factor', '/'
        %li=link_to 'Invoice discounting', '/bff/ob/invoice-discounting-factoring'
        %li=link_to 'Emergency Business Funding', '/bff/ob/emergency-funding-pros-cons'
        %li=link_to 'Invoice Factoring Requirements', '/invoice-factoring/requirements'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies'
        %li=link_to 'Sitemap', '/sitemap'
        %li=link_to 'Library', '/library/'
