---
title: Factoring Advances | What Cash Advance Rate Can You Get
description: Learn what factoring cash advances are and how factoring advance rates are determined to get a realistic idea of the deal your company can get. 
canonical: https://gatewaycfs.com/invoice-factoring/cash-advances
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/logos/gateway.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote'
      %nav
        %ul
          %li.selected
            =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works'
            %ul.submenu
              %li=link_to 'How it works', '/invoice-factoring/how-it-works'
              %li=link_to 'Cost of factoring', '/invoice-factoring/cost-fees-rates'
              %li=link_to 'How to qualify for factoring', '/invoice-factoring/requirements'
          %li=link_to 'Industries We Serve', '/industries/'
          %li=link_to 'Our Company', '/company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Selling Account Receivables', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
              %ul.submenu
                %li=link_to 'Factor receivables', '/services/accounts-receivable-factoring'
                %li=link_to 'Receivables factoring rates', '/invoice-factoring/cost-fees-rates'
                %li=link_to 'Invoice financing for small business', '/bff/ob/invoice-factoring-small-business'
                %li=link_to 'Factoring without recourse', '/invoice-factoring/non-recourse'
        %button.outline=link_to 'FACTORING QUOTES', '/invoice-factoring/quote'
    %article.container-right
      .block
        %hgroup
          %h1 Factoring Advances <br>What Cash Advance Rate Can Your Business Get?
        %h2 What is a Factoring Advance?

        %p The advance is the percentage of the invoice value that a factoring company will pay your company at the time of the sale of the receivables. This is not the final amount your company will be paid for the purchase of the invoices; you will get the balance minus the factoring fees at the time the payments are collected from your customers.
        %p.highlighted Let's say your are selling invoices for $100 and your pre-agreed advance rate is 80%. Your factoring advance then would be $80.
        %img{:align => "", :alt => "factoring advance", :src => "https://cdn.gatewaycfs.com/new/factoring-advance.jpg"}
        
        %h3 How Much Your Advance Would Be?
        //calculator3
        %p <a data-fancybox="modal" data-src="#calculator3" href="javascript:;">Here is a calculator for you to input your numbers and see how the advance rate works</a>
        #calculator3.calculator{style: 'display:none'}
          %h3 Flat Discount Calculator Instructions
          %p This script will calculate the factoring fee for the period the discount rate covers (e.g. 1.5% for 30 days). If you have more than one period/rate you'll need to make separate calculations. (e.g. in our example you'll need to calculate first 1.5% for the first 30 days, then 1% for the second 30 days and then add the results)
          %p Complete fields on grey background entering numbers only.
          %form
            .row
              %label Invoice Amount:
              %input#Calculator3-invoice_amount{type: 'text'}
            .row
              %labelFlat Discount (%):
              %input#Calculator3-discount{type: 'text'}
            .actions
              %button#Calculator3-calculate Calculate
              %button#Calculator3-reset Reset
            .result
              %label Factoring Fee:
              %input#Calculator3-factoring_fee{type:'text'}
        %h2 How are Factoring Advance Rates Defined?
        %p.highlighted Before making you a proposal regarding invoice factoring advance rates, the commercial factoring company will analyze different parameters that influence your business and industry risk.
        %p The following items are usually taken into consideration:
        %h3 Your Industry
        %p.highlighted Industries that supply products generally receive lower advances than industries that simply provide service.
        %p There are fewer opportunities for a dispute to arise in case of provision of services, for example once delivered to a client a service cannot be returned or found to be defective.
        %h3 Your Business Identified or Potential Dilution 
        %p When defining your factoring advance rate, a factoring company will analyze your business dilution rate which takes in account the offsets that can affect the payment of your receivables.  Dilution is the difference between the gross value of your invoices and the payment that is actually collected from your customers.  This difference can be represented by a number of factors such as returned goods, bad debt write-offs, discounts offered, etc.
        %p <strong>Dilution Example:</strong> Let’s say that during the last year your company billed your customers $10,000 for the sale of products but collected $9,000. You received returns of goods for $500, offered discounts for prompt payment for $300, and were not able to collect $200 due to customer insolvency.  This $1000 difference between your invoices and your final collections is your company dilution.
        %p.highlighted Your dilution rate is the percentage that your dilution represents over the gross value of your invoices. The calculation would be the following:<br><br>Dilution Rate = Dilution Amount/ Gross Invoice Value = $1000/$10000 = 10%<br><br>The higher your dilution rate the lower the advance rate you will likely be offered.
        %h3 Customer Creditworthiness 
        %p The credit background of you company’s customer base, size and reputation also affects the invoice factoring advance rate that factoring companies will be willing to provide you.
        %p.highlighted  As a general rule you are likely to get a higher factoring advance rate if most of your customers are big companies with strong credit history than if they are mom & pop businesses. 
        %h3 Concentration
        %p The number of customers and the percentage of business each customer represents to your company are used to define the concentration rate. Businesses with just a few customers where one or two customers produce most of the company’s income have very high <a href="../bff/avoiding-high-customer-concentration"> customer concentration rate</a>. 
        %p.highlighted  The higher your concentration rate is the lower the advance rate you are likely to get, and vice versa.				
        %p High concentration deals are generally frowned upon by factors. 				

%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Factoring Business', '/'
        %li=link_to 'What is a Factoring Company', '/invoice-factoring/pick-a-company'
        %li=link_to 'Purchase Order Funding', '/services/purchase-order-financing'
        %li=link_to 'Factoring Non Notification', '/invoice-factoring/non-notification'
    .block25
      %p Resources
      %ul
        %li=link_to 'Factoring Invoices Pros & Cons', '/invoice-factoring/how-it-works'
        %li=link_to 'Factoring Accounting', '/bff/ob/invoice-factoring-bookkeeping-accounting'
        %li=link_to 'What Industries Use Factoring?', '/industries/'
        %li=link_to 'Factoring Company Florida', '/locations/florida-factoring'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies'
        %li=link_to 'Sitemap', '/sitemap'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje en USA', '/es/'
