---
title: How Does Invoice Factoring Work | All You Need To Know
description: Don't waste your time surfing the web looking for answers. Here is the most complete guide about invoice factoring that you will ever find. Learn what factoring is and how it works, how your business can benefit, costs and advances, typical contract terms, qualifications for approval and much more. 
canonical: https://gatewaycfs.com/invoice-factoring/how-it-works/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "http://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com/", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png"}/
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            %a{:href => "/invoice-factoring/how-it-works/"} Invoice Factoring
            %ul.submenu
              %li
                %a{:href => "/invoice-factoring/cost-fees-rates/"} How much does factoring cost
              %li
                %a{:href => "/invoice-factoring/requirements/"} Do you qualify?
          %li
            %a{:href => "/industries/"} Industries We Serve
          %li
            %a{:href => "/company/"} About Gateway
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              %a{:href => "/services/accounts-receivable-factoring/"} Receivables Factoring
              %ul.submenu
                %li
                  %a{:href => "/invoice-factoring/non-recourse/"} Recourse & Nonrecourse Factoring
                %li
                  %a{:href => "/invoice-factoring/pick-a-company/"} Choose a Top Invoice Factoring Company
                %li
                  %a{:href => "/invoice-factoring/cash-advances/"} About Cash Flow Advances
            %li
              %a{:href => "/bff/ob/invoice-factoring-small-business"} Invoice Factoring for Small Business
        %button.outline
          %a{:href => "/invoice-factoring/quote/"} FACTORING QUOTE
    %article.container-right
      .block
        %hgroup
          %h1 Invoice Factoring - All you need to know
        %p.highlighted Are you wondering what factoring is and how it can help your business capital needs? We have put together a clear and concise invoice factoring guide so you don't have to waste your time surfing the web looking for answers.
        %p
          %strong In this detailed guide we'll cover the following subjects:
        %ol
          %li The Basics of Invoice Factoring
          %li Factoring Process Step-by-step
          %li Who Can Benefit From Factoring and Why?
          %li Invoice Factoring vs Traditional Bank Loans
          %li Invoice Factoring vs Invoice Financing
          %li Qualifications for Factoring Approval
          %li How Much Cash Advances You'll Get?
          %li What Does Factoring Cost?
          %li Typical Factoring Contract Terms
          %li FAQs About Invoice Factoring
        %p We hope this complete reference helps you understand invoice factoring thoroughly. If after finishing reading you still find yourself with questions please contact us. We would love to help.
        %div{:itemscope => "", :itemtype => "https://schema.org/Thing"}
          %h2
            What is
            = succeed "?" do
              %span{:itemprop => "name"} Invoice Factoring
          %img.float-right{:alt => "invoice factoring", :itemprop => "image", :src => "https://cdn.gatewaycfs.com/new/optimized/invoice-factoring.jpg"}/
          %p.highlighted <span itemprop="description">Invoice factoring (aka <span itemprop="alternateName">account receivables factoring</span>) is a financial transaction in which a business sells its outstanding invoices to a factoring company at a discount. Businesses that offer goods or services to other businesses (or the government) use factoring to access immediate cash flow.</span>
        %p Invoice factoring and invoice financing are often used interchangeably and therefore mistaken for the same thing. They are not! Invoice factoring is the sale of an asset. Invoice financing (or receivable financing) is a business loan that uses unpaid invoices as collateral.
        %div{:itemscope => "", :itemtype => "https://schema.org/Thing"}
          %h2 How Does Invoice Factoring Work?
          %p
            The
            %span{:itemprop => "name"} invoice factoring process
            consists of four main components:
          %ol
            %li Your business
            %li Your clients (debtors)
            %li One or more outstanding invoices
            %li A factoring company (the factor)
          %span{:itemprop => "description"}
            %h3 The factoring process involves seven steps:
            %ol
              %li
                %strong> Step 1
                \: Your business sells to another business and issues invoices due in 30 to 90 days .
              %li
                %strong> Step 2
                \: You set up an account with a factor.
              %li
                %strong> Step 3
                \: You submit your outstanding invoices to the factor. 
              %li
                %strong> Step 4
                \: The factor provides an immediate cash advance based on an agreed percentage.
              %li
                %strong> Step 5
                \: The debtor pays the invoice.
              %li
                %strong> Step 6
                \: The payment is deposited into a temporary reserve account.
              %li
                %strong> Step 7
                \: The factor deducts the fees and amount advanced and wires the balance to your bank account. 
          %img{:align => "", :alt => "how does factoring work - factoring process", :itemprop => "image", :src => "https://cdn.gatewaycfs.com/new/optimized/how-factoring-works.jpg"}/
        %div{:itemscope => "", :itemtype => "https://schema.org/Thing"}
          %h3
            %span{:itemprop => "name"} Invoice factoring example
          %span{:itemprop => "description"}
            %ul
              %li Your business delivers product XYZ to Wholesale Inc., issues an invoice for $1,000, and gives the debtor 60-day business credit.
              %li You sign an agreement with an invoice factoring company as follows:
              %ul
                %li 80% advance rate
                %li 2% discount fee every 30 days
              %li You submit the outstanding invoice to the factor and receive an advance of $800.
              %li On day 29 the debtor sends a check to a lockbox opened by the factor under your name.
              %li The invoice factoring company receives the money and deposits it into a reserve account.
              %li The factor takes $20 as a factoring fee, deducts the funds already advanced to you ($800), and sends you the $180 remaining balance (sometimes called a rebate).
        %h2 How can business owners be eligible for factoring?
        %p.highlighted Invoice factoring is available exclusively to B2B operations (enterprises that sell to businesses OR the government). Unfortunately, factoring is not structured to serve retail shops.
        %p Factoring is an accessible working capital solution for growing startups, small businesses, and established organizations that sell to creditworthy customers on credit.
        %h3 Big and small businesses in these industries use factoring as a source of capital (but not limited to) :
        %ul
          %li Staffing
          %li Trucking & Freight
          %li Transportation
          %li Construction
          %li Manufacturing
          %li Distribution
          %li Apparel
          %li Security Guards
          %li Commercial Service Providers
          %li And many others...
        %p
          %strong Potential reasons for accessing factoring financing:
        %ul
          %li You need temporary cash flow for ongoing expenses, payroll, and other vendor bills.
          %li You cannot get working capital from a financial institution.
          %li You need cash flow to complement your current financing.
          %li You choose to avoid adding debt to your ledger.
        %p
          %strong Factoring clients typically share one or more of the following characteristics:
        %ul
          %li Insufficient credit history or bad credit scores
          %li Troubled past including prior bankruptcies or forbearances
          %li Credit denied or maxed out
          %li Small businesses with rapid growth
          %li Operating losses
          %li Negative net worth
          %li Highly leveraged
          %li Delinquent taxes
          %li Lack of collateral
        %h3 Advantages and Disadvantages of Using Invoice Factoring
        %p
          %strong Pros
        %ul
          %li Quick cash flow boost
          %li You can give terms to your customers without worries
          %li Low qualification requirements and simple application process
          %li High approval ratio
          %li Cash flow without debt
          %li No collateral or personal guarantees required
          %li Minimal credit score requirements
          %li Operational support to A/R department
          %li Much cheaper than invoice financing
        %p
          %strong Cons
        %ul
          %li Not accessible to B2C (those that work only with consumers)
          %li More expensive than traditional business financing
          %li Requires ceding some control of client interactions regarding A/R
          %li Not a solution for unpaid invoices that are late or delinquent
          %li Liability for non-creditworthy customers (in most cases)
        %h2 Bank Financing vs Invoice Factoring
        %p.highlighted If you qualify for a bank loan, take it! As it’s cheaper than invoice factoring, the choice is a no-brainer. Unfortunately, many organizations fail to meet the business loan requirements.
        %p Invoice If you cannot get an inexpensive business loan or you don’t want to add more debt to your ledgers, factoring may be the best answer when you experience cash flow shortages.
        %h2 Invoice Factoring vs Invoice Financing
        %p.highlighted It’s important to distinguish between invoice factoring and invoice financing. Even when both financing options can be used to manage business funding gaps, the structure and conditions of these financial products vary considerably.
        %p
          %strong This is the most important piece of information that you need to consider when you compare factoring with invoice financing:
        %ol
          %li Factoring is a sale transaction.
          %li Invoice financing is a business loan.
        %p.highlighted Invoice factoring is the purchasing of outstanding invoices at a discount. You receive a cash advance for the purchase right after the factor verifies and buys your receivables. Because you don’t own the receivables anymore you are not in charge of collecting from debtors. Also because factoring is not a business loan you don’t have to make recurring installments. 
        %p.highlighted Invoice financing (a.k.a. receivable financing, or invoice finance), on the other hand, is an asset-based business loan. In this case, you are borrowing a percentage of your unpaid invoice amount, using the receivables as collateral. You get a short-term loan and maintain ownership of the receivables. Thereof, you are still responsible for collecting debt and paying back the money owed. 
        %img{:align => "", :alt => "invoice factoring vs invoice financing", :src => "https://cdn.gatewaycfs.com/new/invoice-factoring-vs-invoice-financing.jpg"}/
        %p
          %strong You’ll find two types of invoice financing offers:
        %ol
          %li Receivable financing offered by traditional renowned banks
          %li Invoice financing by online lenders
        %p The first type is similar to a traditional bank loan and it’s much cheaper than the second choice. This type of finance has high approval conditions and requires your business to have an excellent financial background and credit score. If you think you can qualify, ask your banker about the details.
        %p The second one is offered all over the web by lenders that want you to confuse factoring with their “invoice financing” offer. They are extremely accessible and risky business loans mainly marketed to small businesses with periodic installments. They use your receivables as an excuse to lend you expensive capital but they don’t care if your customer can pay or not.
        %p Be aware! Many small businesses fall for these receivable financing offers and end-up losing all their margins to cover interest charges. 
        %p Please check <a href="/pick-a-company/">this article</a> if you want to learn more about these invoice finance businesses.
        %h2 How Do Companies Qualify For Factoring?
        %p
          %strong The basic invoice factoring requirements:
        %ul
          %li Your business is selling products or services to other businesses or the government.
          %li Your company’s annual revenue exceeds $50,000.
          %li Your clients are expected to pay in 30 to 90 days.
          %li Your clients are creditworthy.
        %p
          Qualification requirements vary between different invoice factoring companies. Feel free to read our article about
          %a{:href => "/invoice-factoring/requirements/"} Invoice Factoring Requirements
          for other potential criteria.
        %h2 How Much Cash Will You Get Upfront?
        %p.highlighted
          Your advance percentage, according to the clauses of your factoring agreement, typically ranges between 75 and 90 percent of the receivable’s face value. Multiply the advance percentage by the receivable value to calculate how much funding you’ll get up front. For example, if your discount is 80 percent and you factor a $2,000 unpaid invoice, you’ll receive a lump sum of $1,600. Please read 
          %a{:href => "/invoice-factoring/cash-advances/"} "What factoring advance can you get?"
          to understand how invoice factoring companies determine your advance percentage.
        %p Remember, this is not the total funding amount that you get. The rest of the invoice amount minus the factoring fees is “rebated or released” when your customer pays.
        %h2 The Costs of Invoice Factoring
        %p.highlighted Invoice factoring rates will vary depending on the sales volume and the creditworthiness of your customers. However, you can expect a total invoice factoring fee of 1% to 3% for the first month and an additional 0.3% to 1% every 10 days thereof.
        %p Most factors use one of the following discount rate structures:
        %ul
          %li A flat discount
          %li A combination of a flat discount and PRIME plus Margin
        %p
          To learn more, read
          = succeed "." do
            %a{:href => "/invoice-factoring/cost-fees-rates/"} How much does factoring cost?
        %h2 Other Typical Factoring Contract Provisions
        %p In addition to service fees, most invoice factoring agreements also include the following stipulations:
        %h3 Recourse or Non-recourse Factoring
        %p Recourse factoring protects the factor when receivables become delinquent, requiring you to repay the money advanced.
        %p.highlighted Non-recourse factoring, in theory, releases your firm from any responsibility in the case of non-payment. Yet even when invoice factoring companies advertise this option, rarely can customers afford the extremely high premium. 
        %p In addition, it usually requires that you have credit insurance to cover the factor’s risk of potential delinquency. Your customers need to be highly creditworthy to be approved by the insurance agency.
        %p
          For a more detailed explanation of these alternatives, please check out
          %a{:href => "/invoice-factoring/non-recourse/"} Non-recourse vs, other factoring arrangements.
        %h3 Invoice Factoring Minimums - How many invoices do you need to factor?
        %p Most invoice factoring contracts require a monthly minimum to be factored because the fewer the invoices, the higher the operational expenses will be for the invoice factoring company. Typically these minimums are established at the beginning of the relationship considering highly achievable targets. A higher minimum should lower the offered invoice factoring discount.
        %p.highlighted Very few invoice factoring companies offer spot factoring, which allows you to factor just one outstanding invoice at a time. This may be a good option for business owners that just want a single cash boost, but they’ll get a much better deal if they pursue a recurring factoring relationship.
        %h2 FAQs Regarding Invoice Factoring
        %p
          %strong Can I use factoring to turn credit card sales into cash?
        %p No, factors only buy outstanding receivables.
        %p
          %strong Who collects payments?
        %p Your client will continue to pay as usual and those payments will be issued to your organization.  The only difference is that the check or transfer will have to be sent to a new address where it will be received by the factor and processed right away.
        %p
          %strong What’s the difference between factoring and invoice discounting?
        %p There’s no difference at all. Invoice discounting is the name used in countries like the U.K. and Canada to refer to factoring.
        %p
          %strong How can I apply for your factoring program?
        %p Please call our toll free number 1-855-424-2955 or fill-up <a href="/invoice-factoring/quote/">this form</a>. Avoid third party salespeople or brokers; get touch with our managing director to secure the best attention from the initial contact.
        %p
          Author
          %a{:href => "/company/marc-marin/", :rel => "author"} Marc J Marin
%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Government Factoring', '/industries/government-factoring/'
        %li=link_to 'How to Sell Your Invoices', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
        %li=link_to 'California Factoring', '/locations/california-factoring/'
    .block25
      %p Resources
      %ul
        %li=link_to 'Factoring in QuickBooks', '/bff/ob/invoice-factoring-quickbooks'
        %li=link_to 'Commercial Finance Blog', '/bff/recent_posts'
        %li=link_to 'Factoring Broker', '/company/factoring-brokers/'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2020 - All rights reserved
    %nav
      %ul
        %li=link_to 'Privacy Policy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'

%script{:type => "application/ld+json"}
  :cdata
    { "@context": "http://schema.org",
    "@type": "Article",
    "name" : "Invoice Factoring - All You Need to Know",
    "headline" : "The Most Complete Guide About Invoice Factoring You'll Ever Find",
    "image": [
    "https://cdn.gatewaycfs.com/new/optimized/invoice-factoring.jpg",
    "https://cdn.gatewaycfs.com/new/invoice-factoring-vs-invoice-financing.jpg",
    "https://cdn.gatewaycfs.com/new/optimized/how-factoring-works.jpg"
    ],
    "author" : {
    "@type" : "Person",
    "name" : "Marc J Marin",
    "url": "https://gatewaycfs.com/company/marc-marin/"
    },
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://gatewaycfs.com/invoice-factoring/how-it-works/"
    },
    "genre": "business financing",
    "publisher" : {
    "@type" : "Organization",
    "name" : "Gateway Commercial Finance, LLC",
    "logo": {
    "@type": "ImageObject",
    "url": "https://cdn.gatewaycfs.com/new/gatewaylogo.png"
    }
    },
    "url": "https://gatewaycfs.com/invoice-factoring/how-it-works/",
    "datePublished": "2018-01-03",
    "dateCreated": "2018-01-03",
    "dateModified": "2020-05-14",
    "description": "Learn what invoice factoring is and how it works, how your business can benefit, costs and advances, typical contract terms, qualifications for approval and much more. "
    }
%script{:type => "application/ld+json"}
  :cdata
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
    {
    "@type": "ListItem",
    "position": 1,
    "item":
    {
    "@id": "https://gatewaycfs.com",
    "name": "Gateway Commercial Finance"
    }
    },
    {
    "@type": "ListItem",
    "position": 2,
    "item":
    {
    "@id": "https://gatewaycfs.com/invoice-factoring/how-it-works/",
    "name": "Invoice Factoring 101"
    }
    }
    ]
    }
