---
title: Difference Between Recourse &  Non Recourse Factoring
description: In reality even when non-recourse factoring services are often advertised only few factors offer “true” non recourse factoring. Instead many offer “modified” non-recourse programs. The modifications are substantial so it’s important that you understand the differences to be able to pick the best option for your needs.
canonical: https://gatewaycfs.com/invoice-factoring/non-recourse/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works/'
            %ul.submenu
              %li=link_to 'How does factoring work?', '/invoice-factoring/how-it-works/'
              %li=link_to 'Factoring expenses', '/invoice-factoring/cost-fees-rates/'
              %li=link_to 'How to qualify', '/invoice-factoring/requirements/'
          %li=link_to 'Industries We Serve', '/industries/'
          %li=link_to 'Our Company', '/company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              %ul.submenu
                %li=link_to 'Compare Business Factoring Companies', '/invoice-factoring/pick-a-company/'
                %li=link_to 'Advance Factoring', '/invoice-factoring/cash-advances/'
                %li=link_to 'Invoice Factoring Calculator', '/invoice-factoring/calculator/'
                %li=link_to 'Invoice Factoring for Small Business', '/bff/ob/invoice-factoring-small-business'
            %li=link_to 'Contact Us', '/company/contact/'
        %button.outline=link_to 'GET STARTED', '/invoice-factoring/quote/'
    %article.container-right
      .block
        %hgroup
          %h1 Non-Recourse Factoring & Recourse Factoring
          %h3 Learn the differences among recourse, true non-recourse and modified non-recourse factoring 
          %p If you’re considering factoring as a funding solution, it’s important that you understand the different options available. Factoring providers generally offer two different solutions: non-recourse factoring and recourse factoring. As a seller of receivables, the type of factoring you choose can have a significant impact on your balance sheet and your cash flow.
          %p.highlighted While non-recourse factoring is often the preferred solution, few factors offer “true” non-recourse factoring. Instead, many offer something that can best be described as “modified” non-recourse factoring. The modifications are substantial, so it’s important that you understand the differences and are able to identify the best solution for your needs.
        %div{:itemscope => "", :itemtype => "https://schema.org/Thing"}
          %h2 “True” <span itemprop="name">Non-Recourse Factoring</span>
          %p The primary benefit of using true non-recourse factoring is that it can bring clarity and strength to your balance sheet. Beyond that benefit, there aren’t too many other advantages to using non-recourse factoring over recourse factoring.
          %p True non-recourse factoring involves a true sale of the receivable. <span itemprop="description">The factoring company, who assumes all responsibility for collection and all liability should the debtor not pay for any reason (excluding dispute).</span> The receivable is removed from your balance sheet and cash is added as an asset. You have no further responsibility to monitor the debt or collect on it.
          %p As you can see, from a balance sheet standpoint, a non-recourse factoring solution may be very attractive. You are completely removed from any further connection with the receivable. You get cash for the receivable and are able to move forward with your business.
          %p.highlighted The challenge, however, is that few factors offer solutions that are truly non-recourse. Most of the true non-recourse solutions are only made available to large, multi-national companies with a roster of large debtors who have solid credit. The receivables generally need to have high balances and low volume.
          %p If you and your customers don’t meet those criteria, it’s unlikely that you will find a true non-recourse solution. Instead, your choices will likely be between a modified non-recourse solution and recourse factoring.
        %h2 “Modified” Non-Recourse Factoring
        %p.highlighted Modified non-recourse factoring is often advertised and communicated simply as non-recourse factoring. The addition of the word “modified” is used here to clearly convey a distinction between this type of factoring and the true non-recourse options.
        %p Modified non-recourse solutions are much like a true non-recourse option, but with a few caveats. First, many non-recourse solutions will have a clause that holds the seller responsible for any representations or warranties about the debt that the factor later finds to be inaccurate. This language is often nebulous and can be used to return the debt to you if the factor is unable to collect. <strong>Normally most factors only provide protection against debtor bankruptcy.</strong>
        %p <strong>Also, in many non-recourse solutions, the factor requires the seller to have credit insurance on the debt.</strong> Credit insurance can often be costly and challenging to obtain. Also, the insurance company may not agree to cover the full amount on the invoice, making it difficult to sell your full sales to the factor. This is often an area of stress between the seller and the factor.	
        %p.highlighted Finally, you may find that the costs for most non-recourse solutions are much higher to you than if you went with a recourse option. That will affect the cash flow you realize from entering into the factoring agreement.
        %p The true benefit of any non-recourse solution is that it can strengthen your balance sheet by removing the debt and replacing it with cash. If your goal is to unload a credit risk from your portfolio of receivables, then non-recourse factoring may not be the best solution. It’s very possible that you will either pay high factoring costs or that the debt will ultimately be returned to you.
        %p Factors are experts at analyzing credit risk. They won’t take on unwarranted risk, and they won’t take on a high level of risk without exacting a higher cost in return. Before entering into a non-recourse agreement, consider whether the debt and the customer are really creditworthy. Also, look at the terms to see when and how the debt could be returned to you.
        %div{:itemscope => "", :itemtype => "https://schema.org/Thing"}
          %h2 <span itemprop="name">Recourse Factoring</span>
          %p.highlighted Recourse factoring is the most commonly used form of factoring found today. <span itemprop="description">Under a recourse factoring agreement, the seller must pay the factor in the event that the customer does not pay their debt.</span> At first glance, this may seem to be a negative for the seller of the debt. However, there are several reasons why recourse factoring is often an effective solution for both the factor and the seller.
          %p First, it’s important to remember that most factors want to maintain a strong and mutually profitable relationship with their sellers. At Gateway, we look at the recourse option as a last resort, and not as the primary means for collecting on the invoice. That’s how most reputable factors operate.
          %p To achieve that goal, we use our sophisticated credit analysis process to determine the creditworthiness of each debt we consider. 			
          %p For the seller, working with a recourse factor is often beneficial because the factor may take on debts that wouldn’t be considered by a non-recourse factor. The seller may also pay lower fees and may not have to worry about finding credit insurance on the debt.
          %p The goal of both the factor and the seller should be to work together in a cooperative, mutually beneficial relationship. Factors that rely on recourse as opposed to sound credit extension policies are exposing themselves and their sellers to unnecessary risk.
        %p Before you go with non-recourse factoring, take some time to consider what benefit you’re really getting from the agreement. In many cases, the non-recourse part only kicks in if the debtor is truly unable to pay, often meaning the debtor must be near or in bankruptcy. 
        %p If your clients are high-quality and creditworthy, there may be no tangible benefit to using non-recourse factoring. Consider both non-recourse and recourse solutions as you look for funding. For more information on how recourse factoring can benefit your business, contact us today. We welcome the opportunity to discuss your goals and needs with you.

%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul

        %li=link_to 'Factoring Line of Credit', '/bff/ob/invoice-factoring-appealing-alternative-loans-and-lines-credit'
        %li=link_to 'Confidential Factoring', '/company/'
        %li=link_to 'California Factoring Companies', '/locations/california-factoring/'
    .block25
      %p Resources
      %ul
        %li=link_to 'Contractor Factoring', '/industries/contractor-factoring/'
        %li=link_to 'Factoring in Accounting', '/bff/ob/invoice-factoring-bookkeeping-accounting'
        %li=link_to 'Florida Factoring Company', '/locations/florida-factoring/'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje', '/es/'
