---
title: True Worth of Non-Notification Factoring
description: This article explores the risks and legal ramifications involved in non-notification factoring. Experts reveal why it is not a popular practice. Learn how factors that offer this service compensate for this added risk with higher fees, lower advance rates, and other legal means to assure they are paid.
canonical: https://gatewaycfs.com/invoice-factoring/non-notification/
robots: index,follow
---

  
%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "http://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com/", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png"}/
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            %a{:href => "/invoice-factoring/how-it-works/"} Invoice Factoring
            %ul.submenu
              %li
                %a{:href => "/invoice-factoring/how-it-works/"} How it works
              %li
                %a{:href => "/invoice-factoring/cost-fees-rates/"} Invoice Factoring Costs
              %li
                %a{:href => "/invoice-factoring/requirements/"} Do you qualify?
          %li
            %a{:href => "/industries/"} Industries We Serve
          %li
            %a{:href => "/company/"} Our Company
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              %a{:href => "/services/accounts-receivable-factoring/"} Account Receivables Funding
              %ul.submenu
                %li
                  %a{:href => "/company/"} Confidential Factoring
                %li
                  %a{:href => "/invoice-factoring/calculator/"} Invoice Factoring Calculator
                %li
                  %a{:href => "/services/purchase-order-financing/"} Purchase Order Funding
            %li
              %a{:href => "/company/factoring-brokers/"} Factoring Broker Training
        %button.outline
          %a{:href => "/company/contact/"} CONTACT US
    %article.container-right
      .block
        %hgroup
          %div{:itemscope => "", :itemtype => "https://schema.org/Thing"}
            %h1
              True Worth of
              %span{:itemprop => "name"} Non-Notification Factoring
            %p
              %strong The Lure of Non-notification Factoring
            %p
              %span{:itemprop => "description"} Factoring companies who offer non-notification solutions hope to attract businesses who do not want to reveal to customers that they use factoring.
              In this case, account debtors do not receive a notice of assignment directing them to remit payment to the factoring company. Instead, unbeknownst to the debtor, the debtor’s payment is redirected to a new lock-box. While this may seem like a simple way around disclosure, it carries considerable risk for the factoring company.
        %h3 Legal Protection Under the Uniform Commercial Code
        %p Under the Uniform Commercial Code, factors are legally established as the new assignee when they provide notice to the debtor that they now own the accounts receivable.[1] As long as notices of assignment “reasonably identify the rights assigned” [2], factors simply need to show they have sent a notice, while debtors do not have to acknowledge that they have received it.
        %h3 Risky Business
        %p Should factors choose not to provide notice, they may relinquish their right to dispute a nonpayment or payment mistakenly made to the seller. In this case the account debtor’s best defense of nonpayment would be a lack of proper notice or ineffective notice of assignment. Furthermore, the factor becomes vulnerable to “client diversions” [2], in which case the client receives cash from accounts sold to the factor, but does not redirect it to the factor.
        %p
          According to The Commercial Finance Institute’s
          = succeed "," do
            %a{:href => "/company/marc-marin/"} Marc J. Marin
        %h2 The Cost of Non-notification Factoring
        %p Of course, factoring companies compensate for this added risk with higher fees, lower advance rates, and other legal means to assure they are paid. For instance, a “Factoring Agreement” can stipulate that payments received by the seller must be immediately delivered to the factor. Although all factors, even with notification, have such provisions.
        %p Most likely, factoring companies will require more stringent qualifications of potential clients applying for this service. For example, non-notification factoring may only be offered to specific industries like services or manufacturing, rather than goods, which are prone to returns or warranty issues. Other requirements usually exist to insure the seller has solid credit, a diversified client base, a history of recurring clients, efficient management, and low debt-to-income ratio. The best candidates for non-notification programs are established businesses who simply need factoring to support growth.
        %h3 How Often is Non-notification Factoring Actually Used?
        %p Less than 5% of American factoring is distinctly classified as non-notification [4], yet rarely would any seller want to draw a customer’s attention to the use of factoring. Therefore most factoring companies make an effort to conceal their role, even if they are offering the standard “notification” factoring service. For example, many factors will make verification calls “on behalf of” the seller without mentioning the name of the factoring company. Furthermore, most factoring companies are willing to use the seller’s letterhead even after they have sent the debtor the notice of assignment. While non-notification factors may not immediately send out a notice of assignment, account debtors are notified in the event of default or other issues with payment. [3]
        %p Considering these blurred lines between notification and non-notification, potential clients may not find the premium cost worth it simply to avoid the original notice of assignment.
        %ol
          %li
            Uniform Commercial Code § 9-406. (2012, November 20). Retrieved March 03, 2017, from
            %a{:href => "https://www.law.cornell.edu/ucc/9/9-406"} https://www.law.cornell.edu/ucc/9/9-406
          %li D. Tatge, D. Flaxman, J. Tatge, American Factoring Law. BNA Books, 2009.
          %li
            M. Marin,
            %a{:href => "/downloads/Factoring-Training-Guide.pdf"} Factoring: A Training Guide to Secured Financing
          %li “Business Profile Performance Survey”, International Factoring Association, 2015.
%section.bottom.bg-darkblue
  .container
    .block25
      %p Resources
      %ul
        %li
          %a{:href => "/"} Business Factoring
        %li
          %a{:href => "/industries/construction-factoring/"} Construction Factoring
        %li
          %a{:href => "/bff/financing-receivables"} Vendor Financing
    .block25
      %p More Resources
      %ul
        %li
          %a{:href => "/bff/ob/cash-flow-financing-options"} Financing Cash Flow
        %li
          %a{:href => "/bff/ob/invoice-factoring-quickbooks"} QuickBooks Factoring
        %li
          %a{:href => "/bff/ob/invoice-factoring-bookkeeping-accounting"} What is Factoring in Accounting?
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :height => "27", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA", :width => "80"}/
        %img{:alt => "associations", :height => "21", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB", :width => "81"}/
        %img{:alt => "factoring credit", :height => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B", :width => "63"}/
        %img{:alt => "factoring members", :height => "43", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA", :width => "122"}/
        %img{:alt => "factoring associations", :height => "40", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA", :width => "122"}/
%footer.bg-darkblue
  .container
    .social
      %a{:href => "https://www.facebook.com/gatewaycfs", :target => "_blank"}
        %img{:alt => "Facebook", :src => "../../assets/images/icons/facebook.svg"}/
      %a{:href => "https://twitter.com/GatewayCFS", :target => "_blank"}
        %img{:alt => "Twitter", :src => "../../assets/images/icons/twitter.svg"}/
      %a{:href => "https://www.linkedin.com/company/2525331/", :target => "_blank"}
        %img{:alt => "Linkedin", :src => "../../assets/images/icons/linkedin.svg"}/
    %span Copyright Gateway Commercial Finance, LLC 2020
    %nav
      %ul
        %li
          %a{:href => "/privacy-policies/"} Privacy Policy
        %li
          %a{:href => "/sitemap/"} Sitemap
        %li
          %a{:href => "/education/"} Education
%script{:type => "application/ld+json"}
  :cdata
    { "@context": "http://schema.org",
    "@type": "Article",
    "name" : "True Worth of Non-Notification Factoring",
    "headline" : "Is Non Notification Factoring Worth it?",
    "image": "https://cdn.gatewaycfs.com/new/non-notification-factoring.jpg",
    "author" : {
    "@type" : "Person",
    "name" : "Marc J Marin",
    "url": "https://gatewaycfs.com/company/marc-marin/"
    },
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://gatewaycfs.com/invoice-factoring/non-notification/"
    },
    "genre": "business financing",
    "publisher" : {
    "@type" : "Organization",
    "name" : "Gateway Commercial Finance, LLC",
    "logo": {
    "@type": "ImageObject",
    "url": "https://cdn.gatewaycfs.com/new/gatewaylogo.png"
    }
    },
    "url": "https://gatewaycfs.com/invoice-factoring/non-notification/",
    "datePublished": "2017-03-03",
    "dateCreated": "2017-03-03",
    "dateModified": "2018-11-08",
    "description": " Experts reveal why non notification factoring is not a popular practice. Learn how factors compensate added risk with higher fees and other legal means to assure they are paid. "
    }
%script{:type => "application/ld+json"}
  :cdata
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
    {
    "@type": "ListItem",
    "position": 1,
    "item":
    {
    "@id": "https://gatewaycfs.com",
    "name": "GatewayCFS"
    }
    },
    {
    "@type": "ListItem",
    "position": 2,
    "item":
    {
    "@id": "https://gatewaycfs.com/invoice-factoring/how-it-works/",
    "name": "Factoring"
    }
    },
    {
    "@type": "ListItem",
    "position": 3,
    "item":
    {
    "@id": "https://gatewaycfs.com/invoice-factoring/non-notification/",
    "name": "Non Notification"
    }
    }
    ]
    }  
  
