---
title: How to Pick the Best Factoring Company for Your Business
description: Don’t let big marketing money deceive you.  Learn advertising tricks factoring companies use. Here’s what you should look for in a factoring company.
canonical: https://gatewaycfs.com/invoice-factoring/pick-a-company
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote'
      %nav
        %ul
          %li.selected
            =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works'
            %ul.submenu
              %li=link_to 'How it works', '/invoice-factoring/how-it-works'
              %li=link_to 'How much it costs', '/invoice-factoring/cost-fees-rates'
              %li=link_to 'Do you qualify?', '/invoice-factoring/requirements'
          %li=link_to 'Industries We Serve', '/industries/'
          %li=link_to 'Our Company', '/company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Receivable Factoring Services', '/services/accounts-receivable-factoring'
              %ul.submenu
                %li=link_to 'Recourse vs Non-Recourse Factoring', '/invoice-factoring/non-recourse'
                %li=link_to 'Factoring Rates', '/invoice-factoring/cost-fees-rates'
                %li=link_to 'Confidential Factoring', '/company/'
        %button.outline=link_to 'FACTORING QUOTE', '/invoice-factoring/quote'
    %article.container-right
      .block
        %hgroup
          %h1 How to Pick the Best Factoring Company for Your Business
        %p With all the fine print details involved in a factoring agreement, business owners and managers may find it difficult to compare factoring companies’ proposals.
        %p.highlighted Whether or not you end up requesting a proposal from us, we would like to give you a few valuable tips when it comes to evaluating factoring companies. This guide has been specially designed to help business people like you pick the provider and factoring agreement that best fit your business needs.
        %h2 Learn to Compare Invoice Factoring Companies
        %strong Here are the steps you should take when comparing factoring companies: <br><br>
        %ol
          %li
            Distinguish Factoring Companies From Expensive Online Lenders
            %ul
              %li Are you really dealing with factoring companies?
              %li Or are you dealing with online lenders?
              %li Why should you care?
          %li
            Determine The Truth About Published Factoring Rates
            %ul
              %li Why what you see likely is not what you’ll get
              %li Why comparing factoring rates is not an easy task
          %li
            Compare costs in factoring agreements
            %ul
              %li What affects your factoring costs?
              %li What do you get for your money?
          %li
            Evaluate a Factoring Company’s Reputation
            %ul
              %li Beware of best factoring companies lists
              %li How reliable are comparison articles and endorsements?
              %li What should you look for in a factoring company?
          %li
            Evaluate Service Quality
            %ul
              %li Approval process: when experience and decision making is crucial.
              %li Who takes care of your everyday factoring account needs?

        %strong The learning process begins here:<br><br>
        %p.highlighted
          If you do  a simple online search for “factoring company,” you’ll be presented with a mix of factoring companies
          %em and
          online lenders. You may think Google and Bing know the difference, but unfortunately  they don’t. These companies try to show people results based on what they
          %em think
          is the searcher intent (in this  case non-bank funding for your business), so they’ll show some factoring  companies, but will also include alternative options.
        %img{:class => "float-right", :alt => "compare factoring companies", :src => "https://cdn.gatewaycfs.com/new/factoring-company-comparison.jpg"}
        %p These  alternatives often include comparison sites, endorsement articles, lending  marketplaces, merchant cash advance companies, invoice financing companies, and just plain online lenders offering small business loans.
        %p At this point you may be wondering  why this matters, as they all may look like accessible funding options to you.  Well, there are several reasons for caring about this, but here is the most important one:
        %p.highlighted <strong>These other funding alternatives are always more expensive than factoring.</strong>
        %br/
        %p Therefore, if you care about your company’s health and future, you need to learn to distinguish the difference between factoring companies and online lenders.
        %h2 What is a Factoring Company?

        %p.highlighted A factoring company is a business that purchases outstanding receivables from B2B companies, providing cash advances until the invoice is due or collected.<br>

        %p Factoring companies:
        %ul
          %li Buy outstanding receivables for products or services that have already been delivered
          %li Work only with businesses that sell to other businesses
          %li Are not lenders and do not provide loans
          %li Do not require installment payments
          %li Care about the creditworthiness of  your company’s customers, NOT about your personal or company’s credit history
        %p
          Now, let’s learn to differentiate factoring companies from other funding companies.
          %br/
        %h3 How to recognize online lenders
        %p There are several types of online lenders, also known as Fintech companies. Many types exist, but the most common  are:
        %ul
          %li Invoice financing companies
          %li Merchants cash advance services
          %li Lending marketplaces
          %li Short term small business loan companies
          %li Companies that offer “lines of credit” that require daily or weekly repayments
        %img{:align => "", :alt => "online lenders fintech", :src => "https://cdn.gatewaycfs.com/new/online-lenders-fintech.jpg"}
        %p
          <strong>To recognize online lenders, simply look for
          %u one or more
          of the following characteristics:</strong>
        %ul
          %li They offer loans.
          %li They offer advances based on your business’s  future sales.
          %li They ask for collateral or personal guarantees.
          %li Your personal or business credit score determines accessibility and the rate you get.
          %li You are offered 100% advances.
          %li You are required to make daily, weekly or monthly installment repayments.
        %p.highlighted So, unless you want to add debt to your ledgers, pay very high fees, and have installment payments that periodically decrease your business cash for operations, you  should work with a factoring company instead of these lenders.
        %p Next let’s talk about advertised  rates.
        %h2 Why You Cannot Trust Advertised Rates
        %p After doing a search, visiting factoring company websites, and clicking on ads, you’ll find offers like these:
        %img{:class => "float-right", :alt => "advertised factoring rate comparisons", :src => "https://cdn.gatewaycfs.com/new/advertised-factoring-rates.jpg"}
        %ul
          %li 0.49%
          %li 1%
          %li 0.5 to 4%
        %p You’ll likely find 0.49% to be the most attractive  rate, but is that really the best option for you? Can your business get  approved for that rate?
        %p The truth is, there’s no way to answer those questions just by looking at information published on a website. For starters, you don’t know the rate terms. Are they yearly, monthly, daily, or every 10 or 20 days?
        %p.highlighted In reality, most advertised rates are just teasers to get your attention. In fact, very few companies qualify for the rates you see published on websites and digital ads.
        %p <strong>There is no one-size-fits-all  package when it comes to factoring agreements. Factoring companies need to  analyze some very specific information about your business, especially your customer portfolio, before offering your company a proposal.</strong>
        %p Let’s analyze the variables that  affect the cost of factoring, so you’ll have a better idea of the rate your company can get.
        %h2 Comparing  costs from different factoring agreements
        %p In a factoring transaction, the factoring company buys  invoices that represent debt owed by a third party (your customer), not by your company. This involves taking the risk that your customer won’t pay, in  addition to the risk that your company won’t be able to pay back the advance if this happens. The factoring company considers these possibilities when defining your rate. As a general rule, the higher the risk involved, the more you’ll pay for the services.
        %h3 What  affects the risk to the factor?
        %ul
          %li
            %strong Your  customers’ creditworthiness
        %p The better your customers’ credit scores and credit history are, the lower the rates you’ll pay.
        %ul
          %li
            %strong Your  customer concentration rate
        %p If your customer portfolio is comprised of only a few customers (high concentration), you’ll likely have to pay a higher rate. Learn to calculate customer concentration here. (link)
        %ul
          %li
            %strong Non-recourse agreements
        %p Full non-recourse agreements, in which the factor  has no recourse in case of delinquency, are much more expensive. You may also  be required to obtain credit insurance, which adds extra costs to the  transaction.
        %ul
          %li
            %strong Non-notification factoring deals
        %p If the factor waives its right to notify your customers that an invoice has been sold, your company will pay higher rates.
        %ul
          %li
            %strong No (or minimum) verification or monitoring
        %p If the factoring company does not verify the debt or monitor the collection process, you’ll be required to pay much higher factoring  fees.
        %ul
          %li
            %strong Your company’s average collection period
        %p The longer the average time your  company takes to collect from your debtors, the higher the rate you’ll pay.
        %h2 Why You Won’t Find Big Differences in Factoring Cost?
        %p Unless you are a really big company with a robust portfolio  of creditworthy customers, you’ll get a similar proposal from most factoring  companies.

        %p <strong>Whether the factor charges one total rate or a multiple  fees, you’ll find a very similar overall cost once you do the math.  As the factoring industry has standardized in  recent years, most experienced factoring companies will assess your risk and  offer you an industry-standard deal.</strong>
        %p.highlighted The only exception to this rule would be online  factoring companies that require you to create an online account in order to  request funding.  These companies use  computer algorithms instead of real people to evaluate your company. To  compensate for the additional risk of using this new technology, they charge  much higher fees than the average factoring company.
        %p Here you can learn <a href="/invoice-factoring/cost-fees-rates">more details about factoring cost, fees and rates</a>.
        %h3 Comparing  Service Value
        %p When comparing factoring agreements, you also need  to consider the services that you’ll get for your money. Some factoring  companies offer only funding services. Other factors, typically called “full  service” factoring companies, include some valuable add-ons such us free debtor  credit checks and help with receivables management. These complementary receivable management services can save your company a significant amount of money and help you concentrate on what you do best instead of worrying about monitoring payments.
        %h2 Evaluating  Companies’ Trustworthiness
        %p If you perform a web search you’ll find several websites offering lists of best factoring companies or company comparisons and recommendations. People mistakenly tend to trust those lists and endorsements without further analysis. Since these sources are found in Google search results, they should be trusted,  shouldn’t they?
        %p <strong>The truth is that most of these websites, including factoring company reviews and recommendations, are not reliable.</strong>
        %p.highlighted The reason is simple; the companies mentioned in the article pay the website owners to influence readers who are researching factoring. It is merely advertising.
        %p Whether  it’s a good factoring company or not, the more money it has to invest in  marketing and referrals, the more biased recommendations it can get. That’s the bottom line.
        %strong Here is a list of the type of biased websites you should be aware of and the reasons they should not be trusted:<br><br>
        %h3 Lending  marketplaces
        %p This type  of website offers an array of funding providers, including several companies that are not factoring companies, such as small business lenders and invoice financing companies.
        %p The  website will prompt you to complete a search function defining your needs. Once  you submit it, you’ll get a list of the “best” options available.
        %p <strong>Here are  several reasons why these sites cannot be trusted:</strong><br>
        %ul
          %li Many of  these sites are partnered with the companies suggested.
          %li They get a  paid commission when you close the deal.
          %li They may  get a percentage of the fees you pay to the factor.
        %p Also, these lending marketplaces only recommend Fintech companies. Fintechs, the new wave of online-only financial companies, offer a mix of factoring, invoice financing, loans, and merchant cash advances. Therefore, thousands of  traditional factors are excluded from this list.
        %p.highlighted Don’t be deceived by marketing tricks. Fintech companies do not usually offer the best options for your business and will very likely cost you more.
        %h3 Best factoring companies lists
        %p These websites offer lists of  “best factoring  companies” and suggest that readers consider them when picking a factor. <strong>The  main problem with these sites is that they do not explain the criteria for determining which factoring companies are the best.</strong> Companies that make the  list are those who pay the website owner in one of two ways:
        %ul
          %li They pay an advertising fee or
          %li They offer an affiliate program in which the advertiser gets paid when the visitor is taken to the factoring company website and a factoring agreement is signed.
        %p.highlighted Before trusting these lists, check if they specify what parameters are used to qualify a company as the best and if they provide reliable sources to support their  opinions. “Because we get paid to do so” is not a good reason for you.
        %h3 Companies comparison articles and blogger reviews
        %p There are a number of bloggers and writers who recommend the same group of companies over and over again. You will likely find these websites when looking for factoring companies on a search engine. As we mentioned, these articles about factoring  companies include companies that are not factors, but rather other types of  fund providers. In addition, the Fintech companies being compared are always the same. I guess at this point you have already recognized the trend; it’s all about big marketing money.
        %h3 Other online endorsements and TV endorsements
        %p These endorsements are simply paid advertisements. Any company with money to spend on marketing can be featured on important websites or TV shows.
        %h2 How to Know When a Factoring Company is Dependable
        %p So, if the list of “best” factoring companies and third party recommendations are not to be trusted, how do you know if a company is trustworthy? Here is a primer on what you should look for in a factoring company:
        %h3 References from long-term customers
        %p In the  factoring industry you’ll find three types of customers.
        %ol
          %li The first type consists of businesses that sell one or two invoices to a factor and then the relationship is over. <strong>This is usually called spot factoring</strong>, and it is rarely used.
          %li The second  type, which represents typical factoring customers, consists of businesses that  temporarily (usually from one to three years) need to factor invoices until  their cash flow is stable and their financial situation is good enough to access bank financing.
          %li The third  type, which is also very common, consists of companies in industries such as staffing and transportation that use factoring as a regular source of cash flow, sometimes indefinitely, even complementing their bank credit lines.
        %p.highlighted Spot factoring clients, if approved, do not interact much with the factor because their mutual relationship is very short. If you want to know how reliable a factoring company is, you need to ask for references from customers that have a considerable relationship history with the funder. They will be able to tell you how helpful the factor is when emergencies arise.
        %h3 Customer retention rate
        %p Trustworthy factors have high customer retention rates, while unreliable factors do not.  Ask factoring companies for their average customer retention rate. How long a customer stays with a company says it all.
        %h3 Factoring company experience
        %p Look for companies that are at least 7 to 10 years old. A company that has been in  business that long very likely has a lot of experience solving cash flow  problems in a wide variety of business environments. It also has a very  reliable source of funding, which assures you they’ll always have funds available to advance. Also, look for companies that have been steadily growing throughout the years. Business success is a great measurement of high customer  satisfaction levels.
        %h2 How  to Compare the Quality of the Services Provided
        %p Getting funding at a reasonable cost is important, but it’s crucial to have the cash when you need it.  Your employees cannot wait for their salaries to be deposited, your vendors need to get paid, and your company needs cash  flow to operate efficiently. It’s important to have the right people taking care of your business needs when emergencies arise.
        %p.highlighted When picking a factoring company, you need to consider who will take care of your needs in each stage of your relationship with the factor.
        %h3 Pre-sale and approval stage
        %p Let’s imagine you are in need of immediate funding and looking for a factor. <strong>When you contact a company for the  first time you can either:</strong>
        %ul
          %li
            %strong Talk to a sales person or broker
        %p A salesperson  or broker is just an intermediary who gets your information and then speaks with a factoring company manager or an underwriter in order to confirm your  approval for factoring. A lot of wait when getting funds is urgent.
        %ul
          %li
            %strong Create an online account and wait to see what happens
        %p Some online factors can get you started without human interaction. In order to sign up  for an account, you are required to connect your accounting software to their online platform. A computer algorithm pulls all your company information from  your software and analyzes it. After a day or two the system lets you know if  you qualify or not. 
        %p.highlighted The risk is that if you don’t get approved, you’ll have  revealed all your company’s financial data to a third party for nothing.  Furthermore, you probably won’t receive an adequate explanation for the  rejection.
        %p Even if you prefer not to interact with human beings, there will be  times when you want someone to listen to your needs and help you find  alternative solutions to your cash flow emergencies.
        %img{:class => "float-right", :alt => "what is a factoring company", :src => "https://cdn.gatewaycfs.com/video_pic4.png"}
        %ul
          %li
            %strong Talk to a decision maker
        %p There are companies, like ours, where you’ll get direct  access to a decision maker from the start. A manager or director will listen to  your situation and tell you right away if your business qualifies. Then you can get approved and issued a proposal in a couple of hours. You’ll get  personalized and fast attention to your needs right away.
        %p.highlighted The  type of service you’ll get is your choice from the very beginning. What kind of relationship do you prefer?
        %h3 Ongoing relationship
        %p When evaluating potential factoring companies, you’ll also need to think about your future everyday relationship with your funding provider. In a working relationship, you’ll need to ask question about payments, request factoring for atypical customers,  get answers about your agreement, request special funding, etc.
        %p.highlighted These kinds of interactions will help your business grow, so it’s important to be able to  trust the people at the factoring company.
        %strong What you’ll ideally want:<br><br>
        %ul
          %li A dedicated relationship manager that is:<br><br>
          %ol
            %li Experienced
            %li Specialized in your industry
            %li Reachable by phone when needed
            %li Located in the US and with a broad  knowledge about our country’s business environment
          %li Direct access to decision makers when important issues arise
        %img{:class => "float-right", :alt => "what is a factoring company", :src => "https://cdn.gatewaycfs.com/new/computer-algorithms.jpg"}
        %strong What you don’t want:<br><br>
        %ul
          %li Inexperienced  staff working from overseas call centers
          %li Lack of  phone accessibility (i.e. having to reach your factor by email or customer  support forms and waiting for a response)
          %li Computer  algorithms making approval and funding decisions
        %p We hope you can take advantage of the information  contained in this guide and use it to find the best factoring company for your  business. If you decide to contact our company, our managing director will be  happy to listen to your story and work with you to build a reliable source of  cash flow for your company.
        %p If you would like to know more about our company and our highly confidential factoring services, <a href="/company/">please check this page.</a>
        %p Good luck with your search!        
        
        

%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Debt Factoring', '/'
        %li=link_to 'Small Business Factoring Companies', '/bff/ob/invoice-factoring-small-business'
        %li=link_to 'Finance Receivables', '/bff/financing-receivables'
        %li=link_to 'AR Factoring', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
    .block25
      %p Resources
      %ul
        %li=link_to 'Factoring Company Reviews', '/industries/'
        %li=link_to 'Cashflow Financing', '/bff/ob/cash-flow-financing-options'
        %li=link_to 'Invoice Factoring Broker', '/company/factoring-brokers'
        %li=link_to 'Factoring Receivables Journal Entries', '/bff/ob/invoice-factoring-bookkeeping-accounting'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies'
        %li=link_to 'Sitemap', '/sitemap'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje Financiero', '/es/'
