---
title: How to Pick the Best Factoring Company for Your Business
description: Don’t let big marketing budgets deceive you. Learn to distinguish factoring companies from expensive lenders. Here’s what to look for in a factoring company.
canonical: https://gatewaycfs.com/invoice-factoring/pick-a-company/
robots: index,follow
---
  
%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "http://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com/", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png"}/
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            %a{:href => "/invoice-factoring/how-it-works/"} Invoice Factoring
            %ul.submenu
              %li
                %a{:href => "/invoice-factoring/how-it-works/"} How factoring works
              %li
                %a{:href => "/invoice-factoring/cost-fees-rates/"} How much it costs
              %li
                %a{:href => "/invoice-factoring/requirements/"} Requirements for Factoring
          %li
            %a{:href => "/industries/"} Industries We Serve
          %li
            %a{:href => "/company/"} About Us
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              %a{:href => "/services/accounts-receivable-factoring/"} Receivable Factoring Services
              %ul.submenu
                %li
                  %a{:href => "/invoice-factoring/non-recourse/"} Recourse Factoring vs Non-Recourse Factoring
                %li
                  %a{:href => "/company/"} Confidential Factoring
        %button.outline
          %a{:href => "/invoice-factoring/quote/"} FACTORING QUOTE
    %article.container-right
      .block
        %hgroup
          %h1 How to Pick the Best Factoring Company for Your Business
        %p With all the fine print details involved in a factoring agreement, business owners and managers may find it difficult to compare proposals.
        %p.highlighted Whether or not you end up requesting a proposal from us, we would like to give you a few valuable tips when it comes to evaluating business factoring companies. This guide has been specially designed to help people like you pick the provider and factoring agreement that perfectly fits your needs.
        %h2 Learn to Compare Invoice Factoring Companies
        %strong
          Here are the steps you should follow when evaluating financing alternatives:
          %br/
          %br/
        %ol
          %li
            Distinguish Factoring Companies From Expensive Online Lenders
            %ul
              %li Are you really dealing with factoring companies?
              %li Or are you dealing with online lenders?
              %li Why should you care?
          %li
            Determine The Truth About Published Factoring Rates
            %ul
              %li Why what you see likely is not what you’ll get
              %li Why comparing factoring rates is not an easy task
          %li
            Compare costs in invoice factoring agreements
            %ul
              %li What affects your factoring costs?
              %li What do you get for your money?
          %li
            Evaluate a Factoring Company’s Reputation
            %ul
              %li Beware of best factoring companies lists
              %li How reliable are comparison websites and endorsements?
              %li What should you look for in a factoring company?
          %li
            Evaluate Service Quality
            %ul
              %li Approval process: when experience and decision making is crucial.
              %li Who takes care of your everyday factoring account needs?
        %strong
          The learning process begins here:
          %br/
          %br/
        %p.highlighted
          If you go to your favorite browser and do a quick search for “factoring company,” you’ll be presented with a mix of factoring companies 
          %em and
          online lenders. You may think Google and Bing know the difference, but unfortunately, they don’t. These search engines try to show people results based on what they
          %em think
          is the searcher intent (in this case non-bank funding for your business), so they’ll show a variety of alternatives. 
        %img.float-right{:alt => "compare factoring companies", :src => "https://cdn.gatewaycfs.com/new/factoring-company-comparison.jpg"}/
        %p These alternatives often consist of comparison sites, endorsement articles, lending marketplaces, merchant cash advance firms, inventory and invoice financing institutions, and just plain non-traditional lenders offering small business loans and lines of credit.
        %p At this point, you may be wondering why this matters, as they all may look like accessible funding alternatives to you. Well, there are several reasons for caring about this, but here is the most important one:
        %p.highlighted
          %strong These other funding alternatives are always more expensive than invoice factoring. 
        %br/
        %p Therefore, if you care about your firm’s health and future, you need to learn to distinguish between factoring companies and these other creditors.
        %div{:itemscope => "", :itemtype => "https://schema.org/Thing"}
          %h2
            What is a
            = succeed "?" do
              %span{:itemprop => "name"} Factoring Company
          %p.highlighted
            %span{:itemprop => "description"}
              A factoring company is a business that purchases outstanding receivables from B2B companies, providing cash advances until the invoices are due or collected.
              %br/
          %p Factoring companies:
          %ul
            %li Purchase unpaid invoices (not delinquent) for products or services that have already been delivered
            %li Provide about 75 to 90% advances on the invoice value at the time of purchase and then the remaining amount minus fees when they collect the payment.            
            %li Serve only businesses that sell to other businesses
            %li Are not lenders and do not provide loans
            %li Do not require installment payments
            %li Care about the creditworthiness of your customers, NOT about your personal or company’s credit history
        %p
          Now, let’s learn to differentiate factoring companies from other business capital sources. 
          %br/
        %h3 How to recognize online lenders
        %p There are several kinds of internet lenders, also known as Fintech companies. Many more exist, but the most common are:
        %ul
          %li Invoice financing companies and other asset-based creditors
          %li Merchants cash advance shops
          %li Lending marketplaces
          %li Short-term small business loan financiers
          %li Corporations that publish “lines of credit” that require daily or weekly repayments
        %img{:align => "", :alt => "online lenders fintech", :src => "https://cdn.gatewaycfs.com/new/online-lenders-fintech.jpg"}/
        %p
          %strong
            To recognize them, simply look for
            %u one or more
            of the following characteristics:
        %ul
          %li They provide fast loans or,
          %li They give advances on your future credit card sales.
          %li They use lending jargon such as APR and origination fees.
          %li They ask for collateral or individual guarantees.          
          %li Your corporate or personal credit score determines accessibility and the rate that you get.
          %li You are offered 100% "advances".
          %li You are responsible to repay what you borrow in daily, weekly or monthly installments.
        %p.highlighted So, unless you want to add liabilities to your ledgers, be charged very high fees, and have installment payments that periodically decrease your cash flow for operations, you should choose a factoring company instead of these lenders.
        %p Next let’s talk about advertised deals.
        %h2 Why You Cannot Trust Advertised Rates
        %p After searching you’ll find offers like these:
        %img.float-right{:alt => "advertised factoring rate comparisons", :src => "https://cdn.gatewaycfs.com/new/advertised-factoring-rates.jpg"}/
        %ul
          %li 0.49%
          %li 1%
          %li 0.5 to 4%
        %p You’ll likely find 0.49% to be the most attractive option, but is that really the optimal deal for you? And, can you get approved for that discount percentage?
        %p The truth is, there’s no way to answer those questions just by looking at information published on a website. For starters, you don’t know the terms. Are they per year, month, day, or every 10 or 20 days?
        %p.highlighted In reality, most advertised discounts are just teasers to get your attention. In fact, very few prospects qualify for the deals you see published on websites and digital ads.
        %p
          %strong There is no one-size-fits-all package when it comes to factoring contracts. An underwriter needs to analyze your client portfolio before approving your application and giving you a proposal. 
        %p Let’s analyze the variables that affect the cost of factoring, so you’ll have a better idea of the discount that you can get.
        %h2 Comparing costs from different factoring agreements
        %p In a factoring transaction, the factoring company buys invoices that represent a debt owed by a third party (your debtor), not by your company. For the factor this involves taking the chance that your debtors won’t pay; in addition to the possibility that you won’t be able to reimburse the advance if this happens. The underwriter studies these possibilities when defining your discount and advance rate. <strong>As a general rule, the higher the risk involved, the more you’ll be charged for the factoring services and vice-versa.</strong>
        %h3 What affects the factoring risk?
        %ul
          %li
            %strong Your customers’ creditworthiness
        %p The better your clients’ credit scores and credit history are, the lower the charges you’ll pay.
        %ul
          %li
            %strong Your customer concentration rate
        %p You’ll likely have to pay a more if your portfolio is comprised of only a few clients (high concentration).
        %ul
          %li
            %strong Non-recourse factoring agreements
        %p Full non-recourse factoring agreements, in which the factor has no recourse in the event of delinquency, are much more expensive. In a non-recourse factoring contract, you may also be required to obtain business credit insurance, which adds extra costs to the transaction.
        %ul
          %li
            %strong Non-notification factoring deals
        %p You’ll pay more if the factor waives its right to notify your debtors that an invoice has been sold.
        %ul
          %li
            %strong No (or minimum) verification or monitoring
        %p If the factoring company does not verify the debt or monitor the collection process, you’ll be required to pay much more in factoring fees.
        %ul         
          %li
            %strong Your average collection period 
        %p The longer the average time you take to collect from your debtors, the more you’ll pay.
        %h2 Why You Won’t Find Big Differences in Factoring Cost Among Factoring Companies?
        %p Unless you are a really big organization with a robust portfolio of creditworthy customers, you’ll get a similar proposal from most invoice factoring companies.
        %p
          %strong Whether the factor charges just one or multiple fees, you’ll find a very similar overall cost once you compare quotes and do the math. As the factoring sector has standardized in recent years, most experienced managers will assess your risk and offer you an industry-standard deal. 
        %p.highlighted The only exception to this rule would be online factoring companies that require that you to create an online account to request funds. These firms use computer algorithms instead of real people to evaluate your background. To compensate for learning errors made by this new technology, they charge much higher fees than the rest of the industry.
        %p
          Here you can read 
          = succeed "." do
            %a{:href => "/invoice-factoring/cost-fees-rates/"} more details about factoring costs
        %h3 Comparing Value
        %p When comparing factoring agreements, you also need to analyze what you’ll get for your money. Some invoice factoring companies only provide funding. Others, typically called “full service”, include some valuable add-ons such as free debtor credit checks and support with managing receivables and collecting outstanding invoice amounts. These complimentary add-ons can save you a significant amount of money and allow you to concentrate on your strengths instead of worrying about monitoring payments.
        %h2 Evaluating Companies’ Trustworthiness
        %p If you perform a web search you’ll find several websites offering lists of best factoring companies or comparisons and recommendations. People mistakenly tend to trust those lists and endorsements without further analysis. Since these sources are found in Google search results, they should be trusted, shouldn’t they?
        %p
          %strong The truth is that most of these websites that include lists, reviews and recommendations, are not reliable. 
        %p.highlighted The reason is simple; the sources recommended reward the website owners to influence readers who are researching invoice factoring. It is merely advertising.
        %p Whether it’s a good factoring company or not, the more money it invests in marketing and referrals, the more biased recommendations it can get. That’s the bottom line.
        %strong
          Here is a list of the biased websites you should be aware of and the reasons they should not be trusted: 
          %br/
          %br/
        %h3 Lending marketplaces
        %p This type of website showcases an array of funding providers, including several that are not factoring companies, such as small business lenders and invoice financing institutions.
        %p The website will prompt you to complete a search function defining your needs. Once you submit it, you’ll get a list of the “top” options available.
        %p
          %strong Here are several reasons why these sites cannot be trusted: 
          %br/
        %ul
          %li Many of these sites are partnered with the brands suggested.
          %li They get a paid commission when you close the deal.
          %li They may get a percentage of the fees you are charged.
        %p Also, these lending marketplaces usually only recommend a new wave of online-only financing organizations that include a mix of “non-traditional” invoice factoring, receivable financing, loans, lines of credit, and merchant cash advances. Therefore, thousands of traditional factors are excluded from their lists.
        %p.highlighted Don’t be deceived by marketing tricks. Internet-only companies rarely have the best financial programs and will very likely cost you much more.
        %h3 Best factoring companies lists
        %p
          These websites feature lists of “best factoring companies” and suggest that readers consider them when picking a funder.
          %strong The main problem with these sites is that they do not explain the criteria for determining their rankings. 
          Firms included in these lists are those who compensate the website owner in one of two ways: 
        %ul
          %li They pay an advertising fee or
          %li They have an affiliate or partner program in which the advertiser gets paid when the visitor is taken to the recommended website and/or a factoring agreement is signed.
        %p.highlighted Before trusting these lists, check if they specify what parameters are used to categorize a company as a “top one” and if they provide reliable information to support their opinions. “Because we get paid to do so” is not a good reason for you.
        %h3 Comparison websites and blogger reviews
        %p Several bloggers and writers recommend the same group of financial institutions over and over again. You will likely find these websites when looking for factoring on a search engine. As we mentioned, these articles usually list firms that are not factors, but rather other categories of cash flow providers. Also, the sources being suggested are always the same. I guess at this point you have already recognized the trend; it’s all about big marketing kickbacks.
        %h3 Other recommendations such as TV endorsements
        %p These endorsements are simply paid advertisements. Any corporation with a big budget to spend on marketing can be featured on important websites, magazines or TV shows.
        %h2 How to Know When a Factoring Company is Dependable
        %p So, if the list of best factoring companies and third party recommendations are not to be trusted, how do you know if a funder is trustworthy? Here is a primer on what you should look for in a factoring company:
        %h3 References from long-term clients
        %p In the factoring industry you’ll find three types of prospects.
        %ol
          %li
            The first group consists of firms that sell one or two unpaid invoices to a factor and then the relationship is over. 
            = succeed "," do
              %strong This is usually called spot factoring
          %li The second type, which represents typical factoring customers, consists of businesses that temporarily (usually from one to three years) need to factor invoices until their cash flow is stable and their financial situation is good enough to access bank financing.
          %li The third group, which is also very common, consists of enterprises in industries such as staffing and transportation that use invoice factoring as a regular source of working capital, sometimes indefinitely, even complementing their bank credit lines.
        %p.highlighted Spot factoring clients do not interact much with the funder because their mutual relationship is very short. If you want to know how reliable a factoring company is, you need to ask for references from people that have a considerable relationship history with it. They will be able to tell you how helpful the managers are when emergencies arise.
        %h3 Customer retention rate
        %p Trustworthy factors have high retention rates, while unreliable ones do not. Ask managers for their average retention rate. How long a client stays with a company says it all.
        %h3 Experience
        %p Look for organizations that are at least 10 to 15 years old. A firm that has been operating for that long very likely has a lot of experience solving working capital problems in a wide variety of cases. It also has a very reliable source of capital, which assures you they’ll always have funds available to advance. Also, look for funders that have been steadily growing throughout the years. Commercial success is a great measurement of high customer satisfaction levels.
        %h2 How to Compare the Quality of the Factoring Services Provided
        %p Getting funding at a reasonable cost is important, but it’s crucial to have the cash when you need it. Your employees cannot wait for their salaries to be deposited, your vendors need to get paid, and your company needs cash flow to operate efficiently. It’s important to have the right people taking care of your business needs when emergencies arise.
        %p.highlighted When picking a factoring company, you need to consider who will take care of your needs in each stage of your relationship with the factor.
        %h3 Pre-sale and approval stage
        %p
          Let’s imagine you need immediate working capital and looking for factoring. 
          %strong During your first contact you can either: 
        %ul
          %li
            %strong Talk to a salesperson or broker
        %p A salesperson or broker is just an intermediary who gets your information and then speaks with a third-party manager or an underwriter to confirm your approval for invoice factoring. A lot of waiting when getting funds is urgent.
        %ul
          %li
            %strong Create an online account and wait to see what happens
        %p Some online factors can get you started without human interaction. To sign up for an account, you are required to connect your accounting software to their web application. A computer algorithm pulls all your financial information from your software and analyzes it. After a day or two, the system lets you know if you qualify or not.
        %p.highlighted The danger is that if you don’t get accepted as a client, you’ll have revealed all your financial data to a third party for nothing. Furthermore, you probably won’t receive an adequate explanation for the rejection.
        %p Even if you prefer not to interact with human beings, there will be occasions when you want someone to listen to your needs and help you find alternative solutions to your cash flow problems.
        %img.float-right{:alt => "what is a factoring company", :src => "https://cdn.gatewaycfs.com/video_pic4.png"}/
        %ul
          %li
            %strong Talk to a decision-maker
        %p There are funders, like Gateway, where you’ll get direct access to a decision-maker from the start. A manager or director will listen to your situation and tell you right away if you fulfill the requirements for factoring.  If you do so then you can get a proposal in a couple of hours. You’ll get personalized and fast attention right away.
        %p.highlighted The type of relationship you’ll get is your choice from the very beginning. What kind of funder do you prefer?
        %h3 Ongoing relationship
        %p During your evaluation process, you’ll also need to think about your future everyday relationship with your funder. In a working relationship, you’ll need to ask questions about factored receivables and invoice payments, get answers about your contract, request special funding, etc.
        %p.highlighted These kinds of interactions will help you grow, so it’s important to be able to trust your business financing partner.
        %p
          %strong What you’ll ideally want:
        %ul
          %li A dedicated account representative that is:
        %ol
          %li Experienced
          %li Specialized in your niche market
          %li Reachable by phone when needed
          %li Located in the US and with a broad knowledge about our country’s economic environment
        %ul
          %li Direct access to directors  when important issues arise       

        %img.float-right{:alt => "what is a factoring company", :src => "https://cdn.gatewaycfs.com/new/computer-algorithms.jpg"}/
        %p
          %strong What you don’t want:
        %ul
          %li Inexperienced staff working from overseas call centers
          %li Lack of phone accessibility (i.e. having to reach by email or support forms and waiting for a response)
          %li Computer algorithms making approval and credit assessments.

        %p We hope you can benefit from the information contained in this guide and use it to find the best factoring company for your needs. If you decide to contact us, get a <a href="/invoice-factoring/quote/">factoring quote </a>,or apply for factoring, our managing director will be happy to work with you to ensure that you get a reliable source of working capital for your operations.
          
        %p If you have cash flow issues due to slow-paying  customers we would love to serve you:
        %ul
          %li
            Request a
            %a{:href => "/invoice-factoring/quote/"} factoring quote
            today, get a proposal in 30 minutes.
          %li We’ll put you in touch with our managing director from the first contact.
          %li Low monthly minimums.
          %li Competitive deals.
          %li Short or long-term agreements.
          %li Minimum qualification requirements.
          %li Flexible factoring terms.
          %li Proceeds are directly deposited into your bank account on the same day through money transfers.
          %li We have accounts managers experienced in specific sectors such as construction, freight, and trucking, staffing, payroll financing, government, startups, etc.
          %li Maximum facility lines up to 5 million.
        %p
          If you would like additional information about Gateway Commercial Finance and our transparent and highly  confidential factoring programs,
          %a{:href => "/company/"} please check this page.
        %p Good luck with your search!

        %p
          Author
          %a{:href => "/company/marc-marin/", :rel => "author"} Marc J Marin

%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li
          %a{:href => "/bff/ob/invoice-factoring-small-business"} Small Business Factoring
        %li
          %a{:href => "/bff/financing-receivables"} Finance Receivables
        %li
          %a{:href => "/bff/ob/how-sell-accounts-receivable-ar-factoring-companies"} AR Factoring
    .block25
      %p Resources
      %ul
        %li
          %a{:href => "/industries/staffing-factoring/"} Staffing Factoring
        %li
          %a{:href => "/services/purchase-order-financing/"} Purchase Order Financing
        %li
          %a{:href => "/company/factoring-brokers/"} For Invoice Factoring Broker
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :height => "27", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA", :width => "80"}/
        %img{:alt => "associations", :height => "21", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB", :width => "81"}/
        %img{:alt => "factoring credit", :height => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B", :width => "63"}/
        %img{:alt => "factoring members", :height => "43", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA", :width => "122"}/
        %img{:alt => "factoring associations", :height => "40", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA", :width => "122"}/
%footer.bg-darkblue
  .container
    .social
      %a{:href => "https://www.facebook.com/gatewaycfs", :target => "_blank"}
        %img{:alt => "Facebook", :src => "../../assets/images/icons/facebook.svg"}/
      %a{:href => "https://twitter.com/GatewayCFS", :target => "_blank"}
        %img{:alt => "Twitter", :src => "../../assets/images/icons/twitter.svg"}/
      %a{:href => "https://www.linkedin.com/company/2525331/", :target => "_blank"}
        %img{:alt => "Linkedin", :src => "../../assets/images/icons/linkedin.svg"}/
    %span Copyright Gateway Commercial Finance, LLC 2020 - All rights reserved
    %nav
      %ul
        %li
          %a{:href => "/privacy-policies/"} Privacy Policy
        %li
          %a{:href => "/sitemap/"} Sitemap
        %li
          %a{:href => "/education/"} Education
        %li
          %a{:href => "/es/"} Factoraje Financiero

%script{:type => "application/ld+json"}
  :cdata
    { "@context": "http://schema.org",
    "@type": "Article",
    "name" : "How to Pick the Best Factoring Company for Your Business",
    "headline" : "Learn to Compare Invoice Factoring Companies",
    "image": [
    "https://cdn.gatewaycfs.com/new/factoring-company-comparison.jpg",
    "https://cdn.gatewaycfs.com/new/online-lenders-fintech.jpg",
    "https://cdn.gatewaycfs.com/new/advertised-factoring-rates.jpg",
    "https://cdn.gatewaycfs.com/new/computer-algorithms.jpg"
    ],
    "author" : {
    "@type" : "Person",
    "name" : "Marc J Marin",
    "url": "https://gatewaycfs.com/company/marc-marin/"
    },
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://gatewaycfs.com/invoice-factoring/pick-a-company/"
    },
    "genre": "business financing",
    "publisher" : {
    "@type" : "Organization",
    "name" : "Gateway Commercial Finance, LLC",
    "logo": {
    "@type": "ImageObject",
    "url": "https://cdn.gatewaycfs.com/new/gatewaylogo.png"
    }
    },
    "url": "https://gatewaycfs.com/invoice-factoring/pick-a-company/",
    "datePublished": "2018-01-03",
    "dateCreated": "2018-01-03",
    "dateModified": "2020-06-25",
    "description": "Learn to distinguish factoring companies from expensive lenders, compare agreements and service quality, and discover the truth about published rates."
    }
%script{:type => "application/ld+json"}
  :cdata
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
    {
    "@type": "ListItem",
    "position": 1,
    "item":
    {
    "@id": "https://gatewaycfs.com",
    "name": "GatewayCFS.com"
    }
    },
    {
    "@type": "ListItem",
    "position": 2,
    "item":
    {
    "@id": "https://gatewaycfs.com/invoice-factoring/how-it-works/",
    "name": "Invoice Factoring"
    }
    },
    {
    "@type": "ListItem",
    "position": 3,
    "item":
    {
    "@id": "https://gatewaycfs.com/invoice-factoring/pick-a-company/",
    "name": "Choose a Factoring Company"
    }
    }
    ]
    }  