---
title: Invoice Factoring | How it Works
---

%header.internal.navbar-static-top
	.flex-container
		.container-left
			.logo
				=link_to image_tag('logos/gateway.png'), '/'
		.container-right
			.nav-trigger
				=image_tag('icons/nav.svg')
			.contact
				%span.phone.c-green 1-855-424-2955
				%span.button.outline-green=link_to 'GET STARTED', 'quote'
			%nav
				%ul
					%li.selected
						=link_to 'Invoice Factoring', 'how-it-works'
						%ul.submenu
							%li=link_to 'How it works', 'how-it-works'
							%li=link_to 'How much it costs', 'cost-fees-rates'
							%li=link_to 'Do you qualify?', 'requirements'
					%li=link_to 'Industries We Serve', '../industries/'
					%li=link_to 'Our Company', '../company/'
%section.internal-content
	.flex-container
		%aside.container-left
			.block
				%nav
					%h3 More about...
					%ul
						%li.selected
							=link_to 'Invoice Factoring', 'how-it-works'
							%ul.submenu
								%li=link_to 'How it works', 'how-it-works'
								%li=link_to 'How much it costs', 'cost-fees-rates'
								%li=link_to 'Do you Qualify?', 'requirements'
						%li=link_to 'Industries we serve', '../industries'
						%li=link_to 'Our Company', '../company'
				%button.outline=link_to 'GET STARTED', '#'
		%article.container-right
			.block
				%hgroup
					%h1 Invoice Factoring Quote
					%h3 Get an invoice factoring quote and proposal in hours! No Obligation. No Hassle.

					%p Talking to a Decision Maker can  make all the difference to solving cash flow problems professionally.
					%p <strong> Please submit the Invoice Factoring Quote Form, it only takes 15 seconds!</strong>
					%h2 FACTORING QUOTE
					#dv08868591581151561{:style => "width: 200px;"}
					%script{:src => "https://gatewaycfs.com/ourforms/form.php?div_id=dv08868591581151561&template=lead", :type => "text/javascript"}

				%p From the first minute you will realize the difference <strong>in working with a professional advisor and decision maker.</strong>
				=image_tag('logos/inc500.gif')
				%p.highlighted We have been included in the Inc 500/5000  List as <strong>one of the nation's fastest growing companies FOUR years in a row!</strong>

				%h2 About Our Factoring Services
				%p <a href="how-it-works">Invoice factoring services</a> provide temporary working capital to pre-bankable, non-bankable, rapidly growing and financially troubled businesses.
				%p There many other reasons to choose Gateway as your preferred factoring partner, including:
				%ol
					%li <strong>Cost.</strong> Our  fees are based on the risk associated with the debt we take on. Generally, the  lower the risk of default, the lower your costs will be. Our fees start as low  as 0.5 percent, among the lowest in the factoring industry.
					%li <strong>High advances. </strong>Again,  the amount we advance upfront is often tied to a number of factors, including  the risk of default. We often advance around 80 percent of the invoice amount  and sometimes as much as 95 percent.
					%li <strong>Deal directly  with the decision maker. </strong>There&rsquo;s no jumping through hoops or going through  automated phone systems when you work with Gateway. You have direct contact  with the decision maker on your funding application. We find that connecting  the seller with the decision maker helps us get all the information we need to  make an informed decision. Have extra information about the debt that you think  will help your application? By all means, share it with us.
					%li <strong>Fast funding.</strong> Your first approved request will be funded within three days. All subsequent  requests will be funded within one day. That&rsquo;s among the fastest turnaround  times in the industry. Get the cash you need quickly so you can get back to the  business of running your business.
					%li <strong>High-quality  service.</strong> Our business is built on the quality of our relationships with our  customers. We strive to provide the highest level of service possible. Our job  is to address all of your goals, needs, and concerns so we can all grow  together.
					%li <strong>Dedicated staff  specialized in your industry.</strong> No matter what industry you&rsquo;re in, chances  are good that we&rsquo;ve have a consultant who specializes in it. We have helped  thousands of companies in a wide range of industries, giving us experience and  depth of knowledge to help you solve your unique cash flow issues.
				%p Learn why Gateway Commercial Finance is the right factoring  partner for you. Request your no-cost, no-commitment quote from our managing director.

%section.testimonials.bg-green
	.container
		%hgroup
			%h3 Here's What Our Customers Have to Say
		.testimonial
			%p
				%i "In 3 short days, we were flushed with cash..." 
			%img{:alt => "plumbing", :src => "https://cdn.gatewaycfs.com/success/thumbs/19.png"}
			%h6 Industry: Plumbing Services
			%p Keith was nearly under water
		.testimonial
			%p
				%i "With reliable funding and a solid partner we're seeing clearly again!"
			%img{:alt => "advertising", :src => "https://cdn.gatewaycfs.com/success/thumbs/31.png"}
			%h6 Industry: Advertising
			%p Armando's cash flow wasn't seeing straight
		.testimonial
			%p
				%i "Gateway understood my dire situation and took the necessary time to listen."
			%img{:alt => "tower erectors", :src => "https://cdn.gatewaycfs.com/success/thumbs/38.png"}
			%h6 Industry: Cell Tower Company
			%p Connection is critical in John's business
		.testimonial
			%p
				%i "Gateway was able to provide us with a line of credit on our receivables."
			%img{:alt => "farmer", :src => "https://cdn.gatewaycfs.com/success/thumbs/102.png"}
			%h6 Industry: Farming
			%p Slow Growing Problem
		.testimonial
			%p
				%i "Our banker recommended Gateway Commercial Finance to solve our working capital dilemma."
			%img{:alt => "security guards", :src => "https://cdn.gatewaycfs.com/success/thumbs/57.png"}
			%h6 Industry: Security Services
			%p It's about Security
		.testimonial
			%p
				%i "They helped us lay out a clear strategy for effective credit policies and procedures."
			%img{:alt => "telecommunications company", :src => "https://cdn.gatewaycfs.com/success/thumbs/392.png"}
			%h6 Industry: Telecommunications
			%p Cash Flow Connection
		.testimonial
			%p
				%i "With Gateway, my only concern now is how big to grow!"
			%img{:alt => "product supplier", :src => "https://cdn.gatewaycfs.com/success/thumbs/156.png"}
			%h6 Industry: Fencing Supplier
			%p Stray Cash Flow
		.testimonial
			%p
				%i "Now we have a reliable source of working capital to support our growth."
			%img{:alt => "aviation contractor", :src => "https://cdn.gatewaycfs.com/success/thumbs/207.png"}
			%h6 Industry: Aerospace Contractor
			%p Effective Financing Takes Precision
		.testimonial
			%p
				%i "Gateway moved quickly to ensure we had the necessary support"
			%img{:alt => "medical transportation", :src => "https://cdn.gatewaycfs.com/success/thumbs/272.png"}
			%h6 Industry: Medical Transportation
			%p Cash Flow Emergency
		.testimonial
			%p
				%i "Gateway was an ideal partner to support our weekly payroll and fuel needs"
			%img{:alt => "government contractor", :src => "https://cdn.gatewaycfs.com/success/thumbs/319.png"}
			%h6 Industry: Government Contractor
			%p They Deliver
%section.bottom.bg-darkblue
	.container
		.block25
			%p More Links...
			%ul
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
		.block25
			%p More Links...
			%ul
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
		.block50
			%p Our Affiliations & Partnerships
			.affiliations
				=image_tag('affiliations/pic1.png')
				=image_tag('affiliations/pic2.png')
				=image_tag('affiliations/pic3.png')
				=image_tag('affiliations/pic4.png')
				=image_tag('affiliations/pic5.png')
%footer.bg-darkblue
	.container
		.social
			=link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
			=link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
			=link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
			=link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
		%span Copyright Gateway Commercial Finance, LLC 2017
		%nav
			%ul
				%li=link_to 'Privacy', '../privacy-policies'
				%li=link_to 'Sitemap', '../sitemap'
				%li=link_to 'Library', '../library/'
