---
title: Invoice Factoring Requirements | Does Your Business Qualify?
description: Instantly find out if your company qualifies for invoice factoring services. Check a detailed list of common factoring requirements.
canonical: https://gatewaycfs.com/invoice-factoring/requirements/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works/'
            %ul.submenu
              %li=link_to 'How does invoice factoring work?', '/invoice-factoring/how-it-works/'
              %li=link_to 'Factoring costs', '/invoice-factoring/cost-fees-rates/'
              %li=link_to 'Do you qualify?', '/invoice-factoring/requirements/'
          %li=link_to 'Industries We Serve', '/industries/'
          %li=link_to 'Our Company', '/company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Accounts Receivables Funding', '/services/accounts-receivable-factoring/'
              %ul.submenu
                %li=link_to 'Pick a Factoring Company', '/invoice-factoring/pick-a-company/'
                %li=link_to 'With Recourse Factoring', '/invoice-factoring/non-recourse/'
                %li=link_to 'Invoice Factoring Calculator', '/invoice-factoring/calculator/'
                %li=link_to 'Who Uses Factoring?', '/industries/'
            %li=link_to 'Contact Us', '/company/contact/'
        %button.outline=link_to 'GET A QUOTE', '/invoice-factoring/quote/'
    %article.container-right
      .block
        %hgroup
          %h1 Invoice Factoring Requirements - Does Your Business Qualify for Factoring Services?
          %p You have big plans for your business. To reach your goals, though, you need cash. You need it to pay employees, buy materials, fund marketing campaigns, and more. The problem is, your customers don’t always pay on your preferred schedule. You may regularly have receivables that don’t get paid for 30, 60, or even 90 days. And every day that your invoices don’t get paid, your goals slip further and further away.
          %h3 Would you like regular cash flow?
          %img{:class => "float-right", :alt => "invoice factoring requirements", :src => "https://cdn.gatewaycfs.com/new/optimized/qualify-for-factoring.jpg"}
          %p Cash flow is a major challenge for many businesses. That’s especially true when your customers pay their invoices on net-30 or even net-60 terms. Most customers will take as much time as possible to pay those bills. Unfortunately, that makes it challenging for you manage and grow your business.
          %p What to do to resolve your cash needs? You could apply for a bank loan, but it can be difficult to meet the underwriting requirements. Also, banks can take months to approve loan applications. By the time it’s approved, your cash flow need may have resolved itself.
          %p.highlighted That leaves one option: factoring financing. Factoring helps you get your cash flow on a more predictable schedule. You can get advances on a large percentage of your receivables within days of sending a new invoice so you have cash available to reach your business goals.
          %p Perhaps the best part of factoring is that the service isn’t based on your credit. Rather, approval is based on the creditworthiness of your customers. Even if you have a rough credit history, factoring financing may still be a viable option.
        %h2 Curious about whether or not your business would qualify for factoring?
        %p We have put together a list of common factoring requirements below to help you decide whether to move forward with factoring as a solution for your cash flow needs.
        %h3 Does your company sell products or services to other businesses on terms?
        %p Factoring is almost always available only for B2B invoices. If you sell to consumers, factoring may not be a good option. Also, your invoices need to have specific terms. Remember, the factor will be collecting on your invoice, so they need to know exactly when the receivable is due.				
        %h3 Are at least some of your customers credit-worthy businesses?
        %p As mentioned, factors are more concerned with your customers’ credit than they are with your credit. After all, it’s your customer who will ultimately pay the invoice. Do your customers seem like the kinds of businesses who have solid credit, good references, and reputable relationships with their vendors? If so, you may be a good candidate for factoring.
        %h3 Are your sales at least $5,000 per month?
        %p Most factoring companies have a minimum monthly sales requirement for factoring approval. If your monthly sales are less than $5,000 per month, you may have difficulty getting approved.
        %h3 Has your business ever been denied or experienced limited bank financing?
        %p Many business owners look to bank financing before they turn to a factoring solution. The good news is that even if you’ve been denied bank financing in the past, you can still get approved for factoring funding. Again, factors are more interested in the credit of your customers, not in your credit history. 
        %h3 Is your company incorporated and operating in the United States?
        %p Most factoring providers in the United States only work with domestic companies that are incorporated. If you don’t meet these criteria, you may not be able to qualify for factoring solutions.
        %h3 Do your customers take more than 30 days to pay?
        %p Factoring financing is an appealing solution if your customers take more than 30 days to pay their invoices. Many businesses don’t have the working capital on-hand to deal with a 30, 60, or even 90 day wait for invoices to get paid.
      
        %p Why wait on your customers? You can get the cash you need today and then let the factoring company manage the receivables process. If your customers take more than 30 days to pay their invoices, factoring could be the right solution for you.  Contact Gateway Commercial Finance today to learn how factoring can help you overcome your cash flow challenges.
        
        
%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Financing Factoring', '/'
        %li=link_to 'Factoring Cash Advances', '/invoice-factoring/cash-advances/'
        %li=link_to 'Receivables Financing', '/bff/financing-receivables'
        %li=link_to 'Factoring Blog', '/bff/recent_posts'
    .block25
      %p Resources
      %ul
        %li=link_to 'Financing Cash Flow', '/bff/ob/cash-flow-financing-options'
        %li=link_to 'Financial Management Lessons', '/bff/m/business-financial-fitness-program'
        %li=link_to 'Government Contractor Factoring', '/industries/government-contractor-factoring/'
        %li=link_to 'Temporary Staffing Factoring', '/industries/staffing-factoring/'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
