---
title: Contact Gateway Commercial Finance | Cash Flow Funding 
description: Contact Gateway Commercial Finance, an experienced and reliable receivable factoring company funding businesses nationwide. Whether your business seeks to enhance cash flow, shed credit risk or seize new sales opportunities, we have the experience and solutions to make your objectives a reality.
canonical: https://gatewaycfs.com/company/contact/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li=link_to 'Industries We Serve', '/industries/'
          %li.selected
            =link_to 'Our Company', '/company/'
            %ul.submenu
              %li=link_to 'About Gateway', '/company/'
              %li=link_to 'Factoring services', '/services/accounts-receivable-factoring/'
              %li=link_to 'Brokers & partners', '/company/factoring-brokers/'
              %li=link_to 'Locations we serve', '/locations/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Selling Accounts Receivable', '/bff/ob/how-sell-accounts-receivable-ar-factoring-companies'
              %ul.submenu
                %li=link_to 'Evaluating factoring companies', '/invoice-factoring/pick-a-company/'
                %li=link_to 'How to compare invoice factoring rates', '/invoice-factoring/cost-fees-rates/'
                %li=link_to 'Factoring advances', '/invoice-factoring/cash-advances/'
                %li=link_to 'Factoring for small businesses', '/bff/ob/invoice-factoring-small-business'
        %button.outline=link_to 'Factoring Quote', '/invoice-factoring/quote/'
    %article.container-right
      .block
        %hgroup
          %h1 Contact Gateway Commercial Finance, LLC
        %p Owned by the people that manage it, our receivable factoring company's team truly understands the needs of business owners. Significant experience as an invoice factoring company and integrity drive our mission to provide our clients with responsive and innovative win-win business funding solutions.
        %p Our staff has been helping business owners for more than 19 years solve their most basic cash flow needs.  Our continued success is based on our philosophy of honesty and integrity in approach, competitive rates, creative medium and small business financing services and unsurpassed excellence in client service. Download our <a href="/downloads/GCFcorpbrochure.pdf" target="_blank">corporate factoring brochure</a>
        %h2 Send us a message:
        .cols
          .col50
            #dv015883572687830183
            %script{:charset => "utf-8", :src => "//js.hsforms.net/forms/v2.js", :type => "text/javascript"}
            :javascript
              hbspt.forms.create({
              	portalId: "6403347",
              	formId: "69fe84c4-44f4-4970-8544-f78676b80c2e"
              });
          .col50
            %h3 Our headquarters
            %div{:itemprop => "address", :itemscope => "", :itemtype => "https://schema.org/PostalAddress"}
              %span{:itemprop => "streetAddress"}
                %strong 340 SE 1st Street
              %strong
                %br
                = succeed "," do
                  %span{:itemprop => "addressLocality"} Delray Beach
                = succeed "," do
                  %span{:itemprop => "addressRegion"} Florida
                = succeed "," do
                  %span{:itemprop => "postalCode"} 33483
                %span{:itemprop => "addressCountry"} USA
              %br
              %b
                Sales
                %span{:itemprop => "telephone"} 1-855-424-2955
              %br
              %b
                Customer Service
                %span{:itemprop => "telephone"} 1-561-734-2706
              %br
            %b Fax 561-734-2708
        %p At Gateway Commercial Finance, we pride ourselves on our ability to listen. We understand that every business has a unique story to tell and no two stories are the same. We take the necessary time to understand your business and financing needs and work on providing suitable factoring services for your company.
        %p Whether your business seeks to enhance cash flow, shed credit risk or seize new sales opportunities, we have the experience and solutions to make your objectives a reality.
        %p We've helped hundreds of businesses across the US and would love to add you to the growing list of success stories.We offer factoring services to a wide variety of industries as an accessible option for medium and small business financing.
        %strong Contact <a href="/company/marc-marin/">Marc Marin</a>, our managing director, today! We’d like to show what we can do for you!
%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Factoring Blog', '/bff/recent_posts'
        %li=link_to 'Factoring Funding', '/'
        %li=link_to 'Receivable Financing', '/bff/financing-receivables'
    .block25
      %p Resources
      %ul
        %li=link_to 'Business Finance Course', '/bff/m/business-financial-fitness-program'
        %li=link_to 'Invoice Discounting Service', '/bff/ob/invoice-discounting-factoring'
        %li=link_to 'Florida Factoring Companies', '/locations/florida-factoring/'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}

%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2020
    %nav
      %ul
        %li=link_to 'Privacy Policy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
        %li=link_to 'Factoraje en USA', '/es/'
