---
title: Invoice Factoring | How it Works
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        =link_to image_tag('logos/gateway.png'), '/'
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green 1-855-424-2955
        %span.button.outline-green=link_to 'GET STARTED', '../invoice-factoring/quote'
      %nav
        %ul
          %li=link_to 'Invoice Factoring', '../invoice-factoring/how-it-works'
          %li=link_to 'Industries we serve', '../industries/'
          %li.selected
            =link_to 'Our Company', 'company'
            %ul.submenu
              %li=link_to 'About Gateway', 'company/'
              %li=link_to 'Factoring services', '../services/accounts-receivable-factoring'
              %li=link_to 'Brokers & partners', 'factoring-brokers'
              %li=link_to 'Locations we serve', '../locations/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Invoice Factoring', 'invoice-factoring/how-it-works'
              %ul.submenu
                %li=link_to 'How it works', 'invoice-factoring/how-it-works'
                %li=link_to 'How much it costs', 'invoice-factoring/cost-fees-rates'
                %li=link_to 'Do you Qualify?', 'invoice-factoring/requirements'
            %li=link_to 'Industries we serve', 'industries'
            %li=link_to 'Our Company', 'company'
        .phone 1-855-424-2955
        %button.outline=link_to 'GET STARTED', '#'
    %article.container-right
      .block
        %hgroup
          %h1 Contact Gateway Commercial Finance, LLC
        %p Owned by the people that manage it, our receivable factoring company's team truly understands the needs of business owners. Significant experience as an <a href="https://gatewaycfs.com">invoice factoring company</a> and integrity drive our mission to provide our clients with responsive and innovative win-win business funding solutions.
        %p Our staff has been helping business owners for more than 19 years solve their most basic cash flow needs.  Our continued success is based on our philosophy of honesty and integrity in approach, competitive rates, creative medium and small business financing services and unsurpassed excellence in client service. Download our <a href="../downloads/GCF_corpbrochure2013.pdf" target="_blank">corporate factoring brochure</a>
        %h2 SEND US A MESSAGE (envíe un mensaje):
        %p AQUI VA EL FORMULARIO DE CONTACTO
        %h3 Our headquarters
        %p AQUI VA LA DIRECCION CON SCHEMA
        %div{:itemprop => "address", :itemscope => "", :itemtype => "https://schema.org/PostalAddress"}
          %span{:itemprop => "streetAddress"}
            %strong 340 SE 1st Street
          %strong
            %br
            = succeed "," do
              %span{:itemprop => "addressLocality"} Delray Beach
            = succeed "," do
              %span{:itemprop => "addressRegion"} Florida
            = succeed "," do
              %span{:itemprop => "postalCode"} 33483
            %span{:itemprop => "addressCountry"} USA
          %br
          %b
            Sales
            %span{:itemprop => "telephone"} 1-855-424-2955
          %br
          %b
            Customer Service
            %span{:itemprop => "telephone"} 1-561-734-2706
          %br
        %b Fax 561-734-2708

        %p At Gateway Commercial Finance, we pride ourselves on our ability to listen. We understand that every business has a unique story to tell and no two stories are the same. We take the necessary time to understand your business and financing needs and work on providing suitable factoring services for your company.
        %p Whether your business seeks to enhance cash flow, shed credit risk or seize new sales opportunities, we have the experience and solutions to make your objectives a reality.
        %p We've helped hundreds of businesses across the US and would love to add you to the growing list of success stories.We offer factoring services to a wide variety of industries as an accessible option for medium and small business financing.
        %strong Contact Us Today! We’d like to show what we can do for you!
%section.bottom.bg-darkblue
  .container
    .block25
      %p More Links...
      %ul
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block25
      %p More Links...
      %ul
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
        %li=link_to 'link', '#'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        =image_tag('affiliations/pic1.png')
        =image_tag('affiliations/pic2.png')
        =image_tag('affiliations/pic3.png')
        =image_tag('affiliations/pic4.png')
        =image_tag('affiliations/pic5.png')
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2017
    %nav
      %ul
        %li=link_to 'Privacy', '../privacy-policies'
        %li=link_to 'Sitemap', '../sitemap'
        %li=link_to 'Library', '../library/'
