---
title: CPAs, Banks, Lenders & Other Factoring Referrals
description: You have business clients who have hit a rough patch with regards to cash flow. We have solutions. We provide commercial financing to non-bankable businesses. We can provide cash quickly, often in a matter of days. Your clients will get access to decision makers offering specialized industry knowledge. Let's partner.
canonical: https://gatewaycfs.com/company/partners/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li=link_to 'Invoice Factoring', '/invoice-factoring/how-it-works/'
          %li=link_to 'Industries We Serve', '/industries/'
          %li.selected
            =link_to 'Our Company', '/company/'
            %ul.submenu
              %li=link_to 'About Gateway', '/company/'
              %li=link_to 'Factor services', '/services/accounts-receivable-factoring/'
              %li=link_to 'Factoring brokers', '/company/factoring-brokers/'
              %li=link_to 'Portfolio management', '/services/portfolio-management/'
              
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Factoring of Invoices', '/invoice-factoring/how-it-works/'
              %ul.submenu
                %li=link_to 'Factoring cash advances', '/invoice-factoring/cash-advances/'
                %li=link_to 'Cost of factoring receivables', '/invoice-factoring/cost-fees-rates/'
                %li=link_to 'Invoice factoring requirements', '/invoice-factoring/requirements/'
        %button.outline=link_to 'CONTACT US', '/company/contact/'
    %article.container-right
      .block
        %hgroup
          %h1 CPAS, Lenders, Banks & Other Factoring Referrals
          %h3 You have business clients who have hit a rough patch with regards to cash flow. We have solutions, let's partner.
        %p Maybe you’re an accountant and you have a client who needs  an infusion of cash. Or perhaps you’re a business banker with a customer who is  dealing with a cash flow crisis. You may be some other type of business service  provider, such as a key supplier or a payroll specialist.
        %p No matter your role, when you’re in the business of helping  other businesses, you know how important cash flow can be. Cash flow can often  make all the difference when it comes to keeping the doors open and the lights  on.
        %p.highlighted And sometimes, you may not have the tools necessary to help  your business clients through difficult situations. That’s when it can be  invaluable to have a relationship with an experienced factoring provider like  Gateway Commercial Finance.
        %p At Gateway, we offer factoring solutions to help businesses  work through difficult cash flow periods. We can provide cash quickly, often in  a matter of days. And because we’re a factoring provider, we are often able to  provide funding to businesses who may not qualify for traditional lending.
        %h2 Factoring Is The Solution
        %p Factoring is a unique funding method in which a factoring  provider advances a portion of an outstanding invoice. Generally, we’re able to  provide up to 90 percent of an outstanding invoice in a matter of days.
        %p The customer then pays the invoice amount directly to us.  This is done confidentially through a discreet lockbox. From the paying  customer’s perspective, they are making payment directly to the business that  issued the invoice. The customer often doesn’t know that a third party is  involved.
        %p After the invoice is paid, we deduct the amount we advanced  plus a small fee for our role in the process. We then forward the balance on to  our client.
        %p Invoice factoring is an effective way for companies to quickly  obtain cash on their receivables. Additionally, we manage the collection  process, which often saves our clients time. They no longer have to worry about  calling on outstanding invoices or sending letters and emails to their  customers about payment.
        %p.highlighted We understand how important the relationships are between  our clients and their customers, so we always take great care to protect our  clients’ reputations. We use a soft touch when communicating with customers  about invoices. And we do everything under the client’s name, so the paying  customer doesn’t become confused by having a third party involved.
        %p Factoring is a great way for businesses to work through  their cash flow challenges. In our more than 15 years of providing funding for  companies, we have found that businesses experiencing one or more of the  following symptoms tend to benefit the most from factoring solutions:
        %ul
          %li Rapid Growth
          %li Loss of significant customer
          %li Forbearance with lender
          %li Inadequate Capitalization
          %li Poor Personal Credit
          %li Negative Net Worth
          %li Operating Losses
          %li Ownership Transition
          %li Negative Cash Flow
          %li Payroll Tax Problems
          %li Highly Leveraged

        %h2 Our Typical Referral Partners
        %h3 Lenders
        %p Consider  Gateway when you're speaking with a customer and your only option is to say no  to their borrowing request.
        %p We're  in a unique position in today's tight credit market to say yes to those  commercial borrowers who need additional working capital. Because we're  collateral specialists, we take a unique approach to your borrower's financial  situation and we deliver timely and flexible financial solutions.
        %p Also,  as we're a non-bank funder, we'll never compete with you for the treasury  relationship.
        %h3 CPAs, Accountants  & Bookkeepers
        %p As a trusted  advisor to your clients you are often the first resource they turn to when they  have financing difficulties. Obtaining the financing needed to operate a  business today can be difficult at best for many companies. Introduce into the  equation a storied credit and the odds of obtaining a traditional credit  facility become even further from reality.
        %p We recognize  that not all businesses are ideal candidates for a traditional credit facility  and that's why we specialize in providing a wide variety of commercial  financing products.
        %p With  Gateway Commercial Finance as a partner, your clients will have direct access  to decision makers offering specialized industry knowledge, a seasoned  management and advisory team, and a full spectrum of financing products.
        %h3 Business &  Professional Partners
        %p We understand the importance of relationships, and referring a valued client is  no easy decision. At Gateway Commercial Finance,  providing great service is more than just a promise. It's the way we do  business, every day, every client, and every transaction.
        %p Whether  it's payroll or supplier issues, or a more complex transaction as a merger or acquisition,  or any other reason for needing a new source of funding, look to us for a  combination of resources, professionalism and expertise.
        %p From  start-ups to middle market companies, we offer facilities starting at $25,000  to $2 Million with syndication capabilities of up to $25 Million. Consider inviting us to the table and you'll see our dedication to creating win-win-win solutions.

%section.bottom.bg-darkblue
  .container
    .block25
      %p Factoring
      %ul
        %li=link_to 'Factoring Blog', '/bff/recent_posts'
        %li=link_to 'Invoice Factoring Calculator', '/invoice-factoring/calculator/'
        %li=link_to 'Vendor Payment Terms', '/bff/ob/7-tips-negotiating-better-payment-terms-your-suppliers'
        %li=link_to 'Online Business Funding', '/industries/online-business-funding/'
    .block25
      %p Resources
      %ul
        %li=link_to 'Financial Management', '/bff/m/business-financial-fitness-program'
        %li=link_to 'Cash Flow Projection Template', '/bff/making-cash-flow-projections'
        %li=link_to 'Days Sales Outstanding', '/bff/measuring-days-sales-outstanding'
        %li=link_to 'Solvency vs Liquidity', '/bff/liquidity-vs-solvency'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
