---
title: Gateway Commercial Finance | Not Found
description: The page you have requested cannot be found. You are invited to navigate the rest of our site or call 1-855-424-2955 to talk to a manager.
canonical: https://gatewaycfs.com/404/
robots: noindex,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "https://gatewaycfs.com", :itemprop => "url"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works/'
            %ul.submenu
              %li=link_to 'How it works', '/invoice-factoring/how-it-works/'
              %li=link_to 'How much it costs', '/invoice-factoring/cost-fees-rates/'
              %li=link_to 'Do you qualify?', '/invoice/factoring/requirements/'
          %li=link_to 'Industries We Serve', '/industries/'
          %li=link_to 'Our Company', '/company/'
%section.internal-content
  .flex-container
    %aside.container-left
      .block
        %nav
          %h3 More about...
          %ul
            %li.selected
              =link_to 'Receivables Factoring', '/services/accounts-receivable-factoring/'
              %ul.submenu
                %li=link_to 'Recourse & Non-Recourse Factoring', '/invoice-factoring/non-recourse/'
                %li=link_to 'How to Pick a Factoring Company', '/invoice-factoring/pick-a-company/'
                %li=link_to 'Factoring Advances', '/invoice-factoring/cash-advances/'
            %li=link_to 'Small Business Factoring', '/bff/ob/invoice-factoring-small-business'
        %button.outline=link_to 'FACTORING QUOTE', '/invoice-factoring/quote/'    
      
    %article.container-right
      .block
        %hgroup
          %h1 Our Apologies...
          %h3 The page you requested cannot be displayed.
          %p You are invited to navigate the rest of our site or call 1-855-424-2955 if you prefer to talk to a manager


%section.bottom.bg-darkblue
  .container
    .block25
      %p 

    .block25
      %p Resources
      %ul
        %li=link_to 'Financial Management Articles', '/bff/m/business-financial-fitness-program'
        %li=link_to 'Finance & Factoring Blog', '/bff/recent_posts'
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations",:height => "27", :width => "80", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}
        %img{:alt => "associations",:height => "21", :width => "81", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}
        %img{:alt => "factoring credit",:height => "63", :width => "63", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}
        %img{:alt => "factoring members",:height => "43", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}
        %img{:alt => "factoring associations",:height => "40", :width => "122", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
