---
title: Gateway Commercial Finance
---

%header.home.navbar-static-top
	.flex-container
		.container-left
			.logo
				=link_to image_tag('logos/gateway.png'), '#'
		.container-right
			%nav
				%ul
					%li=link_to 'Invoice Factoring', '#'
					%li=link_to 'Industries we serve', '#'
					%li=link_to 'Our Company', '#'
					%li=link_to 'Contact Us', '#'
					%li.button.outline=link_to 'Clients Area', '#'
%section.top
	.flex-container
		.container-left
		.container-right
			.caption
				%h1 Sell Your Outstanding Receivables <br>to Get an Instant Cash Flow Boost
				.actions
					.block-left
						%h4 CALL A DECISION MAKER!
						.button.outline.phone
							%i=image_tag('icons/phone.svg')
							1-855-424-2955
					.block-right
						%h4 OR
						.button
							%i=image_tag('icons/clock.svg')
							GET STARTED IN MINUTES!
			.inc500
				=image_tag('logos/inc500.gif')
%section.first
	.flex-container
		.container-left
			.block
				%h3 Do You Qualify?
				%p Take this short quiz to instantly know if your company would qualify to access invoice factoring services.
				=link_to 'Take Our Financing Quiz', '#'
		.container-right
			.block
				%h3 Looking for a Factor?
				%p Our customer retention rate is 1.9 times the industry average. Here are the advantages that only Gateway offers your company.
				=link_to 'Experience the Gateway Difference', '#'
			.block.bg-light
				%h3 New to Invoice Factoring?
				%p Don’t wait 30, 60 or 90 days for your customers to make payments anymore. Learn how to turn your debtors into assets. Sell your outstanding accounts receivables to us and get fast cash flow funding.
				=link_to 'What Fcactoring Is and How It Works', '#'
%section.lists
	.flex-container
		.container-left
			.block
		.container-right
			.block
				.content
					%h3	Invoice Factoring 101
					%ul
						%li What is invoice factoring
						%li How much does factoring cost?
						%li How much cash upfront you'll get?
						%li What is a factoring fee?
						%li What are the most common factoring rates
						%li What is a factoring advance rate?
						%li Typical factoring contracts terms
						%li Recourse vs non-recourse factoring
						%li How fast can your business get approved?
						%li How fast can you get funded?
						%li How many invoices do you need to factor?
					=link_to 'Invoice factoring basics', '#'

			.block.bg-light
				.content
					%h3 Picking a Factoring Company
					%ul
						%li Largest factoring companies or boutique service?
						%li How reliable are factoring companies online reviews? 
						%li Beware of best factoring companies lists and paid endorsements
						%li The truth about published factoring rates
						%li Factoring transparency: how clear are factoring contract terms?
						%li Factoring services: what do you get for your money?
						%li Notification vs Non-notification factoring: pros and cons
						%li Approval process: dealing with computer algorithms or decision makers?
					=link_to 'How to pick the best factoring company for your business', '#'

%section.industries
	.container
		%hgroup
			%h3 The Industries We Serve
			%p Delivering experience, knowledge and financial solutions in a variety of fields.
		.cards
			.item.large
				.content
					.icon
						=image_tag('industries/telecomunications.svg')
					%h5 Telecomunications
			.item
				.content
					.icon
						=image_tag('industries/manufacturers.svg')
					%h5 Manufacturers
				.content
					.icon
						=image_tag('industries/construction.svg')
					%h5 Construction
			.item
				.content
					.icon
						=image_tag('industries/apparel.svg')
					%h5 Apparel
				.content
					.icon
						=image_tag('industries/aerospace.svg')
					%h5 Aerospace
			.item.large
				.content
					.icon
						=image_tag('industries/staffing.svg')
					%h5 Staffing
			.item
				.content
					.icon
						=image_tag('industries/goverment.svg')
					%h5 Goverment
				.content
					.icon
						=image_tag('industries/farmers.svg')
					%h5 Farmers
			.item
				.content
					.icon
						=image_tag('industries/commercial-services.svg')
					%h5 Commercial Services
				.content
					.icon
						=image_tag('industries/transportation.svg')
					%h5 Transportation
			.item.large
				.content
					.icon
						=image_tag('industries/distributors.svg')
					%h5 Distributors
%section.text-contents
	.flex-container
		.container-left
			=image_tag('video-pic.png')
		.container-right.bg-light
			.block
				%h2 HOW A FACTOR WORKS<br>FREQUENTLY ASKED QUESTIONS FROM INVOICING TO COLLECTIONS
				%p You have questions about what accounts receivable factoring is and we have answers. If you haven’t heard of the term, then you are probably wondering how it works, its advantages and what it costs. There are not fast and easy answers, which is why we have developed this FAQ section to give you a hand in understanding how a factor can cover your working capital financing needs. We begin with the very basics of the process and then move into areas such as developing customized plans and the seamless integration of our program into your process. 
				=link_to 'How An Invoice Factor Works', '#'
	.flex-container
		.container-left.bg-light
			=image_tag('pic.gif')
		.container-right
			.block
				%h2 YOUR FACTORING DISCOUNT RATE<br>ASPECTS THAT INFLUENCE YOUR COMPANY AND CLIENTS’ RISK TO A FACTOR
				%p As a company manager you are well aware of the risks and expenses involved with doing business. We take those risks very seriously and utilize different metrics to determine the rate and contract terms for your business. How reliable are your clients when it comes to paying their bills? How long does it take your average customer to pay their invoices? We have put together this comprehensive explanation as to how a factor determines your factoring rate and what kinds of considerations go into this extremely important decision. We provide you with a series of interactive worksheets that allow you to put in your real numbers and see what kinds of results that you get.
				=link_to 'Your Factoring Discount Rate', '#'

%section.testimonials.bg-green
	.container
		%hgroup
			%h3 Factoring Company Reviews
			%p Some Industries We Factor
		.testimonial
			%p Gateway’s team actually listened to our situation and created a program tailored specifically to our needs and the payment trends of our customers. With reliable cash flow, we’re ready to take on the Fortune 100!
			.autor
				=image_tag('testimonials/pic.png')
				%h6 Industry: Printers
				%p Today Gabriel can focus on what he does best
		.testimonial
			%p Gateway’s team actually listened to our situation and created a program tailored specifically to our needs and the payment trends of our customers. With reliable cash flow, we’re ready to take on the Fortune 100!
			.autor
				=image_tag('testimonials/pic.png')
				%h6 Industry: Printers
				%p Today Gabriel can focus on what he does best
%section.bottom.bg-darkblue
	.container
		.block25
			%p More Links...
			%ul
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
		.block25
			%p More Links...
			%ul
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
		.block50
			%p Our Affiliations & Partnerships
			.affiliations
				=image_tag('affiliations/pic1.png')
				=image_tag('affiliations/pic2.png')
				=image_tag('affiliations/pic3.png')
				=image_tag('affiliations/pic4.png')
				=image_tag('affiliations/pic5.png')
%footer.bg-darkblue
	.container
		.social
			=link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
			=link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
			=link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
			=link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
		%span Copyright Gateway Commercial Finance, LLC 2017
		%nav
			%ul
				%li=link_to 'Privacy', '#'
				%li=link_to 'Sitemap', '#'
				%li=link_to 'Library', '#'



