---
title: Invoice factoring - Gateway Commercial Finance
---

%header.internal.navbar-static-top
	.flex-container
		.container-left
			.logo
				=link_to image_tag('logos/gateway.png'), '#'
		.container-right
			.nav-trigger
				=image_tag('icons/nav.svg')
			.contact
				%span.phone.c-green 1-855-424-2955
				%span.button.outline-green=link_to 'GET STARTED', '#'
			%nav
				%ul
					%li.selected
						=link_to 'Invoice Factoring', '#'
						%ul.submenu
							%li=link_to 'How it works', '#'
							%li=link_to 'How much it costs', '#'
							%li=link_to 'Do you Qualify?', '#'
					%li=link_to 'Industries we serve', '#'
					%li=link_to 'Our Company', '#'
%section.internal-content
	.flex-container
		%aside.container-left
			.block
				%nav
					%h3 More about...
					%ul
						%li.selected
							=link_to 'Invoice Factoring', '#'
							%ul.submenu
								%li=link_to 'How it works', '#'
								%li=link_to 'How much it costs', '#'
								%li=link_to 'Do you Qualify?', '#'
						%li=link_to 'Industries we serve', '#'
						%li=link_to 'Our Company', '#'
				.phone 1-855-424-2955
				%button.outline=link_to 'GET STARTED', '#'
		%article.container-right
			.block
				%hgroup
					%h1 How it works
					%h3 Consectetur adipiscing elit. Donec feugiat, lacus a mattis pretium, libero lectus blandit nisi, quis auctor felis libero et nunc.
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat, lacus a mattis pretium, libero lectus blandit nisi, quis auctor felis libero et nunc. Aliquam et sollicitudin elit. Vivamus vestibulum sed nisl vitae cursus. Etiam semper nulla id dolor commodo, quis scelerisque tellus iaculis.

				=image_tag('video-pic.png')

				%h3 Aliquam pulvinar tempor est at pellentesque.
				%ul
					%li Nam viverra tristique lorem, eu ullamcorper nibh commodo at.
					%li Etiam lobortis, nibh eget pretium placerat, est ligula vulputate purus, et faucibus lacus arcu sed ligula.
					%li Aenean consectetur mauris ut luctus facilisis.
					%li Etiam at accumsan neque. Aliquam imperdiet dui eget risus placerat semper.

				%p Aliquam pulvinar tempor est at pellentesque. Donec eleifend libero at maximus faucibus. Donec placerat, sapien eu eleifend rutrum, magna libero luctus dolor, vel accumsan felis erat sit amet elit. Vestibulum eleifend sapien urna, dapibus tempor dolor dictum et.

				%p.highlighted Aliquam erat volutpat. Etiam fringilla ligula sit amet magna lacinia, quis efficitur nisl ornare. Nullam magna sapien, aliquet ut pretium vitae, ornare eget velit. Curabitur id erat dignissim, efficitur lacus id, mattis libero. Praesent dui ipsum, aliquet ut hendrerit in, convallis ut enim. Duis in tempus nisi, id pulvinar arcu. Ut nec enim mi. Nullam molestie interdum justo. Sed pellentesque vitae velit laoreet scelerisque. Donec sit amet ante ut libero aliquet dignissim. Nam egestas vitae libero et imperdiet.

				%h3 Aliquam pulvinar tempor est at pellentesque.

				%ol
					%li Nam viverra tristique lorem, eu ullamcorper nibh commodo at.
					%li Etiam lobortis, nibh eget pretium placerat, est ligula vulputate purus, et faucibus lacus arcu sed ligula.
					%li Aenean consectetur mauris ut luctus facilisis.
					%li Etiam at accumsan neque. Aliquam imperdiet dui eget risus placerat semper.

				%p Vivamus lobortis mi sed lacus viverra pellentesque. Curabitur urna risus, fermentum in interdum nec, maximus vulputate augue. Nullam dolor urna, ultrices posuere felis ac, tristique placerat odio. Mauris feugiat sollicitudin ipsum et pulvinar. Nullam ultricies non purus sit amet ornare. Duis consectetur quis tellus eget tempus. Proin non elementum felis, sed condimentum velit. Pellentesque eleifend, ipsum sed congue viverra, erat turpis porttitor arcu, a malesuada eros lorem vitae risus. Suspendisse fermentum enim eget urna lacinia elementum. Ut maximus fermentum porta. Cras justo quam, suscipit non fringilla in, fermentum sed ipsum. Donec at dolor quis dolor maximus dapibus non vel libero. Nunc consequat est libero, et lobortis orci laoreet eget.

				%p
					=link_to 'In eget dignissim risus, a mattis dolor.', '#'

%section.bottom.bg-darkblue
	.container
		.block25
			%p More Links...
			%ul
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
		.block25
			%p More Links...
			%ul
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
				%li=link_to 'link', '#'
		.block50
			%p Our Affiliations & Partnerships
			.affiliations
				=image_tag('affiliations/pic1.png')
				=image_tag('affiliations/pic2.png')
				=image_tag('affiliations/pic3.png')
				=image_tag('affiliations/pic4.png')
				=image_tag('affiliations/pic5.png')
%footer.bg-darkblue
	.container
		.social
			=link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
			=link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
			=link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
			=link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
		%span Copyright Gateway Commercial Finance, LLC 2017
		%nav
			%ul
				%li=link_to 'Privacy', '#'
				%li=link_to 'Sitemap', '#'
				%li=link_to 'Library', '#'
