---
title: Gateway Commercial Finance | Website Sitemap
description: Check out our website for information about our accessible factoring services. We offer flexible business funding programs.
canonical: https://gatewaycfs.com/sitemap/
robots: index,follow
---

%header.internal.navbar-static-top
  .flex-container
    .container-left
      .logo
        %div{:itemscope => "", :itemtype => "https://schema.org/Organization"}
          %a{:href => "/"}
            %img{:alt => "Gateway Commercial Finance", :itemprop => "logo", :src => "https://cdn.gatewaycfs.com/new/gatewaylogo.png",}/      
    .container-right
      .nav-trigger
        =image_tag('icons/nav.svg')
      .contact
        %span.phone.c-green=link_to '1-855-424-2955','tel:+18554242955'
        %span.button.outline-green=link_to 'GET STARTED', '/invoice-factoring/quote/'
      %nav
        %ul
          %li.selected
            =link_to 'Invoice Factoring', '/invoice-factoring/how-it-works/'
            %ul.submenu
              %li=link_to 'How it works', '/invoice-factoring/how-it-works/'
              %li=link_to 'How much it costs', '/invoice-factoring/cost-fees-rates/'
              %li=link_to 'Do you qualify?', '/invoice-factoring/requirements/'
          %li=link_to 'Industries We Serve', '/industries/'
          %li=link_to 'Our Company', '/company/'      
%section.internal-content
  .flex-container
    %aside.container-left
      
    %article.container-right
      .block
        %hgroup
          %h1 Sitemap

          %p
            %a{:href => "/"} Homepage
          %p
            %a{:href => "/client-access/"} Client Access
          %p
            %a{:href => "/privacy-policies/"} Privacy Policies
          %p OUR COMPANY
          %p
            %a{:href => "/company/"} About Gateway Commercial Finance
          %p
            %a{:href => "/company/contact/"} Contact Us
          %p
            %a{:href => "/company/factoring-brokers/"} Invoice Factoring Broker Information
          %p
            %a{:href => "/company/marc-marin/"} Marc J Marin - Managing Director
          %p
            %a{:href => "/company/partners/"} Information for CPAs, Banks, Lenders & Other Factoring Referrals
          %p INDUSTRIES WE SERVE
          %p
            %a{:href => "/industries/"} What Industries Use Factoring
          %p
            %a{:href => "/industries/telecommunications-factoring/"} Telecommunications Factoring
          %p
            %a{:href => "/industries/manufacturer-factoring/"} Manufacturer Invoice Factoring
          %p
            %a{:href => "/industries/construction-factoring/"} Construction Factoring
          %p
            %a{:href => "/industries/apparel-factoring/"} Apparel Distributor Factoring
          %p
            %a{:href => "/industries/aerospace-factoring/"} Aerospace Contractors Factoring
          %p
            %a{:href => "/industries/staffing-factoring/"} Staffing Factoring
          %p
            %a{:href => "/industries/farmer-factoring/"} Farmer Factoring
          %p
            %a{:href => "/industries/commercial-services-factoring/"} Commercial Services Factoring
          %p
            %a{:href => "/industries/transportation-factoring/"} Transportation Factoring
          %p
            %a{:href => "/industries/distributor-factoring/"} Distributor Factoring
          %p
            %a{:href => "/industries/healthcare-staffing-factoring/"} Healthcare Staffing Factoring
          %p
            %a{:href => "/industries/project-staffing-factoring/"} Project Staffing Factoring
          %p
            %a{:href => "/industries/factoring-companies-for-staffing-agencies/"} Factoring Companies for Staffing Agencies
          %p
            %a{:href => "/industries/cell-tower-factoring/"} Cell Tower Company Factoring
          %p
            %a{:href => "/industries/food-manufacturer-factoring/"} Food Manufacturer Factoring
          %p
            %a{:href => "/industries/fashion-factoring/"} Fashion Factoring Services
          %p
            %a{:href => "/industries/textile-factoring/"} Textile Manufacturer Invoice Factoring
          %p
            %a{:href => "/industries/government-factoring/"} Government Factoring
          %p
            %a{:href => "/industries/government-contractor-factoring/"} Government Contractor Factoring
          %p
            %a{:href => "/industries/advertising-factoring/"} Advertising Factoring
          %p
            %a{:href => "/industries/catering-factoring/"} Catering Services Factoring
          %p
            %a{:href => "/industries/cleaning-janitorial-factoring/"} Commercial Cleaning  Janitorial Factoring
          %p
            %a{:href => "/industries/consulting-service-factoring/"} Consulting Services Factoring
          %p
            %a{:href => "/industries/contractor-factoring/"} Contractor Factoring
          %p
            %a{:href => "/industries/electrician-factoring/"} Electrical Services Factoring
          %p
            %a{:href => "/industries/printing-services-factoring/"} Printing Services Factoring
          %p
            %a{:href => "/industries/security-services-factoring/"} Security Services Factoring
          %p
            %a{:href => "/industries/service-provider-factoring/"} Service Provider Factoring
          %p
            %a{:href => "/industries/trucking-factoring/"} Trucking Factoring
          %p
            %a{:href => "/industries/medical-transportation-factoring/"} Factoring Medical Transportation
          %p
            %a{:href => "/industries/supplier-wholesaler-factoring/"} Wholesaler Factoring
          %p
            %a{:href => "/industries/factoring-tax-problems/"} Factoring For Businesses With Tax Problems
          %p
            %a{:href => "/industries/online-business-funding/"} Online Business Funding
          %p INVOICE FACTORING
          %p
            %a{:href => "/invoice-factoring/how-it-works/"} How Does Invoice Factoring Work
          %p
            %a{:href => "/invoice-factoring/quote/"} Invoice Factoring Quote
          %p
            %a{:href => "/invoice-factoring/requirements/"} Invoice Factoring Requirements
          %p
            %a{:href => "/invoice-factoring/pick-a-company/"} How to Pick the Best Factoring Company for Your Business
          %p
            %a{:href => "/invoice-factoring/calculator/"} Invoice Factoring Calculator
          %p
            %a{:href => "/invoice-factoring/non-recourse/"} Difference Between Recourse and Non Recourse Factoring
          %p
            %a{:href => "/invoice-factoring/cost-fees-rates/"} Invoice Factoring Cost
          %p
            %a{:href => "/invoice-factoring/cash-advances/"} Factoring Advances
          %p
            %a{:href => "/invoice-factoring/non-notification/"} True Worth of Non-Notification Factoring
          %p LOCATIONS WE SERVE
          %p
            %a{:href => "/locations/"} Full List of Locations We Serve
          %p
            %a{:href => "/locations/california-factoring/"} California Factoring
          %p
            %a{:href => "/locations/florida-factoring/"} Florida Factoring
          %p SERVICES
          %p
            %a{:href => "/services/accounts-receivable-factoring/"} Accounts Receivable Factoring Services
          %p
            %a{:href => "/services/purchase-order-financing/"} Purchase Order Financing
          %p
            %a{:href => "/services/portfolio-management/"} Portfolio Management Services Sub-Servicing
          %p BUSINESS FINANCIAL FITNESS PROGRAM
          %p
            %a{:href => "/bff/m/business-financial-fitness-program"} Business Finance Management Articles
          %p
            %a{:href => "/bff/recent_posts"} Finance  Factoring Blog
          %p EDUCATION
          %p
            %a{:href => "/education/"} Educational Library
          %p ESPANOL
          %p
            %a{:href => "/es/"} Empresa de Factoraje Financiero en USA | Venda Sus Facturas

%section.bottom.bg-darkblue
  .container
    .block25
      %p 
    .block25
      %p
    .block50
      %p Our Affiliations & Partnerships
      .affiliations
        %img{:alt => "affiliations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic1.png", :title => "AFA"}/
        %img{:alt => "associations", :src => "https://cdn.gatewaycfs.com/new/optimized/pic2.png", :title => "NFIB"}/
        %img{:alt => "factoring credit", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic3.png", :title => "D&B"}/
        %img{:alt => "factoring members", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic4.png", :title => "IFA"}/
        %img{:alt => "factoring associations", :src => "https://cdn.gatewaycfs.com/new/affiliations/pic5.png", :title => "ICBA"}/      
%footer.bg-darkblue
  .container
    .social
      =link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/gatewaycfs', target: '_blank'
      =link_to image_tag('icons/google.svg'), 'https://plus.google.com/+Gatewaycfs', target: '_blank'
      =link_to image_tag('icons/twitter.svg'), 'https://twitter.com/GatewayCFS', target: '_blank'
      =link_to image_tag('icons/linkedin.svg'), 'https://www.linkedin.com/company/2525331/', target: '_blank'
    %span Copyright Gateway Commercial Finance, LLC 2018
    %nav
      %ul
        %li=link_to 'Privacy', '/privacy-policies/'
        %li=link_to 'Sitemap', '/sitemap/'
        %li=link_to 'Education', '/education/'
